http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038/jid.2009.428/agency
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1038\/jid.2009.428","agency":{"id":"crossref","label":"Crossref"}}}'
  recorded_at: 2021-08-13 12:52:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/works/10.13039/100000001/agency
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.13039\/100000001","agency":{"id":"crossref","label":"Crossref"}}}'
  recorded_at: 2021-08-13 12:52:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
