http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126511841,"items":[{"indexed":{"date-parts":[[2021,5,11]],"date-time":"2021-05-11T22:41:51Z","timestamp":1620772911371},"reference-count":4,"publisher":"The
        Chemical Society of Japan","issue":"5","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["BCSJ"],"published-print":{"date-parts":[[1979,5]]},"DOI":"10.1246\/bcsj.52.1545","type":"journal-article","created":{"date-parts":[[2006,7,19]],"date-time":"2006-07-19T23:14:46Z","timestamp":1153350886000},"page":"1545-1546","source":"Crossref","is-referenced-by-count":1,"title":["The
        Glow-discharge Reactions of Amines"],"prefix":"10.1246","volume":"52","author":[{"given":"Hideki","family":"Asada","sequence":"first","affiliation":[]},{"given":"Masakatsu","family":"Nomura","sequence":"additional","affiliation":[]},{"given":"Sh\\={o}ichi","family":"Kikkawa","sequence":"additional","affiliation":[]}],"member":"8597","reference":[{"key":"r1","doi-asserted-by":"publisher","DOI":"10.1246\/bcsj.50.2700"},{"key":"r2","doi-asserted-by":"publisher","DOI":"10.1021\/jo01027a009"},{"key":"r3","doi-asserted-by":"publisher","DOI":"10.5059\/yukigoseikyokaishi.34.36"},{"key":"r4","doi-asserted-by":"publisher","DOI":"10.1002\/hlca.19730560509"}],"container-title":["Bulletin
        of the Chemical Society of Japan"],"language":"en","link":[{"URL":"https:\/\/www.jstage.jst.go.jp\/article\/bcsj1926\/52\/5\/52_5_1545\/_pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,8,24]],"date-time":"2016-08-24T14:50:09Z","timestamp":1472050209000},"score":0.99999994,"issued":{"date-parts":[[1979,5]]},"references-count":4,"journal-issue":{"issue":"5","published-print":{"date-parts":[[1979,5]]}},"alternative-id":["10.1246\/bcsj.52.1545"],"URL":"http:\/\/dx.doi.org\/10.1246\/bcsj.52.1545","ISSN":["0009-2673","1348-0634"],"issn-type":[{"value":"0009-2673","type":"print"},{"value":"1348-0634","type":"electronic"}],"subject":["General
        Chemistry"],"published":{"date-parts":[[1979,5]]}},{"indexed":{"date-parts":[[2021,5,12]],"date-time":"2021-05-12T03:34:32Z","timestamp":1620790472394},"publisher-location":"Berlin,
        Heidelberg","reference-count":0,"publisher":"Springer Berlin Heidelberg","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1994]]},"DOI":"10.1007\/978-3-642-78927-4_15","type":"book-chapter","created":{"date-parts":[[2011,12,6]],"date-time":"2011-12-06T21:21:26Z","timestamp":1323206486000},"page":"99-109","source":"Crossref","is-referenced-by-count":1,"title":["Hoch-
        und Tiefdruckgebiete"],"prefix":"10.1007","author":[{"given":"Lutz","family":"Kr\u00fcger","sequence":"first","affiliation":[]}],"member":"297","container-title":["Wetter
        und Klima"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-642-78927-4_15.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,11,26]],"date-time":"2020-11-26T17:20:41Z","timestamp":1606411241000},"score":0.99999994,"issued":{"date-parts":[[1994]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-642-78927-4_15","published":{"date-parts":[[1994]]}},{"institution":[{"name":"Universidade
        de S\u00e3o Paulo","place":["S\u00e3o Paulo"],"department":["Instituto de
        F\u00edsica"]}],"indexed":{"date-parts":[[2021,5,10]],"date-time":"2021-05-10T12:58:07Z","timestamp":1620651487162},"reference-count":0,"publisher":"Universidade
        de Sao Paulo, Agencia USP de Gestao da Informacao Academica (AGUIA)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.11606\/d.43.2011.tde-26042012-152350","type":"dissertation","created":{"date-parts":[[2015,11,12]],"date-time":"2015-11-12T15:40:12Z","timestamp":1447342812000},"approved":{"date-parts":[[2011,8,25]]},"source":"Crossref","is-referenced-by-count":0,"title":["Avalia\u00e7\u00e3o
        de dos\u00edmetros termoluminescentes para uso em radioterapia com f\u00f3tons
        de alta energia"],"prefix":"10.11606","author":[{"given":"Bernardo Jos\u00e9
        Braga","family":"Batista","sequence":"first","affiliation":[]}],"member":"4873","link":[{"URL":"http:\/\/www.teses.usp.br\/teses\/disponiveis\/43\/43134\/tde-26042012-152350\/publico\/DissertacaoBatistaBernardo.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,2,23]],"date-time":"2017-02-23T13:09:01Z","timestamp":1487855341000},"score":0.99999994,"degree":["Mestrado
        em F\u00edsica"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.11606\/d.43.2011.tde-26042012-152350"}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2021-08-13 12:53:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
