http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T13:00:34Z","timestamp":1648731634281},"reference-count":0,"publisher":"Harvard
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1965,12,31]]},"DOI":"10.4159\/harvard.9780674288980.c7","type":"book-chapter","created":{"date-parts":[[2014,4,14]],"date-time":"2014-04-14T20:08:48Z","timestamp":1397506128000},"page":"37-43","source":"Crossref","is-referenced-by-count":0,"title":["V.
        EIGHTEENTH-CENTURY EDITIONS (J\u2013M)"],"prefix":"10.4159","member":"2652","container-title":["Tottel''s
        Miscellany (1557\u20131587), Volume II"],"link":[{"URL":"https:\/\/hup.degruyter.com\/view\/book\/9780674288980\/10.4159\/harvard.9780674288980.c7.xml","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.4159\/harvard.9780674288980.c7\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,4,23]],"date-time":"2021-04-23T00:20:35Z","timestamp":1619137235000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.4159\/harvard.9780674288980.c7\/html"}},"issued":{"date-parts":[[1965,12,31]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4159\/harvard.9780674288980.c7","published":{"date-parts":[[1965,12,31]]}},{"institution":[{"name":"University
        of Iowa","department":["Art and Art History"]}],"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T21:58:38Z","timestamp":1648763918030},"reference-count":0,"publisher":"The
        University of Iowa","license":[{"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/rightsstatements.org\/vocab\/InC\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.17077\/etd.89e52p7n","type":"dissertation","created":{"date-parts":[[2018,11,29]],"date-time":"2018-11-29T22:03:45Z","timestamp":1543529025000},"approved":{"date-parts":[[2013,5,1]]},"source":"Crossref","is-referenced-by-count":0,"title":["Normandy''s
        role in the development of the Flamboyant style"],"prefix":"10.17077","author":[{"given":"Steven
        James","family":"Kerrigan","sequence":"additional","affiliation":[]}],"member":"6626","deposited":{"date-parts":[[2022,2,7]],"date-time":"2022-02-07T06:32:34Z","timestamp":1644215554000},"score":0.0,"degree":["Doctor
        of Philosophy (PhD)"],"resource":{"primary":{"URL":"https:\/\/iro.uiowa.edu\/esploro\/outputs\/doctoral\/9983777187702771"}},"subtitle":["decoration,
        meaning, and exchange in Late Gothic architecture"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.17077\/etd.89e52p7n"},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T02:43:35Z","timestamp":1648608215712},"reference-count":4,"publisher":"Springer
        Science and Business Media LLC","issue":"11","license":[{"start":{"date-parts":[[1933,3,1]],"date-time":"1933-03-01T00:00:00Z","timestamp":-1162512000000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Klin
        Wochenschr"],"published-print":{"date-parts":[[1933,3]]},"DOI":"10.1007\/bf01756261","type":"journal-article","created":{"date-parts":[[2005,6,15]],"date-time":"2005-06-15T03:31:05Z","timestamp":1118806265000},"page":"424-425","source":"Crossref","is-referenced-by-count":4,"title":["\u00dcber
        die Eiweisslabilit\u00e4t des Serums"],"prefix":"10.1007","volume":"12","author":[{"given":"Adolf","family":"Schmitz","sequence":"first","affiliation":[]},{"given":"Albert","family":"Fischer","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"BF01756261_CR1","doi-asserted-by":"crossref","first-page":"10","DOI":"10.1007\/BF01474473","volume":"51","author":"the
        Svedberg","year":"1930","unstructured":"the Svedberg, Kolloid. Z.51, 10 (1930).","journal-title":"Kolloid.
        Z."},{"key":"BF01756261_CR2","doi-asserted-by":"crossref","first-page":"102","DOI":"10.1007\/BF01484767","volume":"53","author":"S.
        P. L. S\u00f8rensen","year":"1930","unstructured":"S. P. L. S\u00f8rensen,
        Kolloid. Z.53, 102 (1930).","journal-title":"Kolloid. Z."},{"key":"BF01756261_CR3","first-page":"404","volume":"244","author":"A.
        Fischer","year":"1932","unstructured":"A. Fischer, Biochem. Z.244, 404 (1932).","journal-title":"Biochem.
        Z."},{"key":"BF01756261_CR4","doi-asserted-by":"crossref","first-page":"471","DOI":"10.1007\/BF01504989","volume":"20","author":"A.
        Fischer","year":"1932","unstructured":"A. Fischer u.A. Schmitz, Naturwiss.20,
        471 (1932).","journal-title":"Naturwiss."}],"container-title":["Klinische
        Wochenschrift"],"language":"de","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/BF01756261.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/article\/10.1007\/BF01756261\/fulltext.html","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/BF01756261","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,5,8]],"date-time":"2019-05-08T16:09:50Z","timestamp":1557331790000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/BF01756261"}},"subtitle":["Ein
        Versuch zu einer allgemein g\u00fcltigen Fassung der serologischen Labilit\u00e4tsreaktionen"],"issued":{"date-parts":[[1933,3]]},"references-count":4,"journal-issue":{"issue":"11","published-print":{"date-parts":[[1933,3]]}},"alternative-id":["BF01756261"],"URL":"http:\/\/dx.doi.org\/10.1007\/bf01756261","ISSN":["0023-2173","1432-1440"],"issn-type":[{"value":"0023-2173","type":"print"},{"value":"1432-1440","type":"electronic"}],"subject":["General
        Medicine","Genetics (clinical)","Drug Discovery","Molecular Medicine"],"published":{"date-parts":[[1933,3]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2022-11-09 10:03:05 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
