http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126272922,"items":[{"indexed":{"date-parts":[[2021,5,9]],"date-time":"2021-05-09T07:18:04Z","timestamp":1620544684255},"reference-count":27,"publisher":"SAGE
        Publications","issue":"2","license":[{"start":{"date-parts":[[1988,2,1]],"date-time":"1988-02-01T00:00:00Z","timestamp":570672000000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J
        R Soc Med"],"published-print":{"date-parts":[[1988,2]]},"DOI":"10.1177\/014107688808100217","type":"journal-article","created":{"date-parts":[[2018,2,28]],"date-time":"2018-02-28T06:37:51Z","timestamp":1519799871000},"page":"100-102","source":"Crossref","is-referenced-by-count":0,"title":["Pain
        and the Heart: Discussion Paper"],"prefix":"10.1177","volume":"81","author":[{"given":"L
        J","family":"Freeman","sequence":"first","affiliation":[{"name":"Cardiac Department,
        Charing Cross Hospital, London W6"},{"name":"Freeman is now at The National
        Heart Hospital, London W1)"}]},{"given":"P G F","family":"Nixon","sequence":"additional","affiliation":[{"name":"Cardiac
        Department, Charing Cross Hospital, London W6"}]}],"member":"179","published-online":{"date-parts":[[2018,2,27]]},"reference":[{"key":"bibr1-014107688808100217","doi-asserted-by":"publisher","DOI":"10.1016\/S0140-6736(83)92295-X"},{"key":"bibr2-014107688808100217","doi-asserted-by":"publisher","DOI":"10.1016\/0002-9343(86)90971-X"},{"key":"bibr3-014107688808100217","first-page":"55","volume":"50","author":"Cohn
        P.F.","year":"1981","journal-title":"Mod Concepts Cardiovasc Dis"},{"key":"bibr4-014107688808100217","doi-asserted-by":"publisher","DOI":"10.1161\/01.RES.48.1.69"},{"key":"bibr5-014107688808100217","doi-asserted-by":"publisher","DOI":"10.1016\/S0735-1097(83)80211-3"},{"key":"bibr6-014107688808100217","doi-asserted-by":"publisher","DOI":"10.1016\/S0735-1097(85)80160-1"},{"key":"bibr7-014107688808100217","first-page":"458","volume":"996","author":"Lindsey
        H.E.","year":"1978","journal-title":"Am Heart J"},{"key":"bibr8-014107[...]
