http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126591300,"items":[{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T12:18:27Z","timestamp":1620476307927},"reference-count":0,"publisher":"Wiley","issue":"5","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":7640,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1994,10]]},"DOI":"10.1111\/apt.1994.8.issue-5","type":"journal-issue","created":{"date-parts":[[2016,2,25]],"date-time":"2016-02-25T07:46:46Z","timestamp":1456386406000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1111","volume":"8","member":"311","container-title":["Alimentary
        Pharmacology & Therapeutics"],"language":"en","link":[{"URL":"http:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1111%2Fapt.1994.8.issue-5","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,2,25]],"date-time":"2016-02-25T07:46:46Z","timestamp":1456386406000},"score":0.99999994,"issued":{"date-parts":[[1994,10]]},"references-count":0,"journal-issue":{"issue":"5"},"URL":"http:\/\/dx.doi.org\/10.1111\/apt.1994.8.issue-5","ISSN":["0269-2813","1365-2036"],"issn-type":[{"value":"0269-2813","type":"print"},{"value":"1365-2036","type":"electronic"}],"subject":["Pharmacology
        (medical)","Gastroenterology","Hepatology","Pharmacology (medical)","General
        Pharmacology, Toxicology and Pharmaceutics"],"published":{"date-parts":[[1994,10]]}},{"indexed":{"date-parts":[[2021,5,10]],"date-time":"2021-05-10T15:10:36Z","timestamp":1620659436250},"reference-count":0,"publisher":"Ion
        Creanga State Pedagogical University","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["PHCS"],"published-print":{"date-parts":[[2018,6,30]]},"abstract":"<jats:p>Between
        1914 and 1921, the population inhabiting the region of Bessarabia witnessed,
        although from behind the frontline, the world conflagration, which was followed
        by major political changes that detached the region from the Russian Empire,
        then created the conditions for a short independence period, to finally attach
        the province to \u201cGreater Romania\u201d in 1918. The history of the city
        of Chi\u0219in\u0103u during this tumultuous time peri[...]
