http_interactions:
- request:
    method: get
    uri: http://www.crossref.org/openurl/?id=doi%3A10.1371%2Fjournal.pone.0042793&pid=cboettig%40ropensci.org&noredirect=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.7.0.9100 rOpenSci(rcrossref/0.8.6.9100) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      crossref-deployment-name: qs5-1
      content-type: text/xml;charset=UTF-8
      content-language: en-US
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <crossref_result xmlns="http://www.crossref.org/qrschema/2.0" version="2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.crossref.org/qrschema/2.0 https://www.crossref.org/schema/crossref_query_output2.0.xsd"><query_result><head><doi_batch_id>none</doi_batch_id></head><body><query status="resolved" fl_count="25"><doi type="journal_article">10.1371/journal.pone.0042793</doi><issn type="electronic">1932-6203</issn><journal_title>PLoS ONE</journal_title><contributors><contributor sequence="first" contributor_role="editor"><given_name>Nancy</given_name><surname>Mock</surname></contributor><contributor sequence="first" contributor_role="author"><given_name>Rocío</given_name><surname>Calvo</surname></contributor><contributor sequence="additional" contributor_role="author"><given_name>Yuhui</given_name><surname>Zheng</surname></contributor><contributor sequence="additional" contributor_role="author"><given_name>Santosh</given_name><surname>Kumar</surname></contributor><contributor sequence="additional" contributor_role="author"><given_name>Analia</given_name><surname>Olgiati</surname></contributor><contributor sequence="additional" contributor_role="author"><given_name>Lisa</given_name><surname>Berkman</surname></contributor></contributors><volume>7</volume><issue>8</issue><first_page>e42793</first_page><year media_type="online">2012</year><publication_type>full_text</publication_type><article_title>Well-Being and Social Capital on Planet Earth: Cross-National Evidence from 142 Countries</article_title></query></body></query_result></crossref_result>
  recorded_at: 2019-01-09 19:33:58 GMT
  recorded_with: vcr/0.2.0, webmockr/0.3.0
[...]
- request:
    method: get
    uri: http://www.crossref.org/openurl/?id=doi%3A10.1016%2Fj.fbr.2012.01.001&pid=cboettig%40ropensci.org&noredirect=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.7.0.9100 rOpenSci(rcrossref/0.8.6.9100) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      crossref-deploym[...]
