http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1126/science.169.3946.635/agency
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1126\/science.169.3946.635","agency":{"id":"crossref","label":"Crossref"}}}'
  recorded_at: 2018-12-07 22:38:17 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
- request:
    method: get
    uri: https://data.datacite.org/10.1126/science.169.3946.635
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain; charset=utf-8
      etag: W/"8d913af6b5e29a0f476026658b5f9ce9"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      string: 'Frank, H. S. (1970). The Structure of Ordinary Water: New data and
        interpretations are yielding new insights into this fascinating substance.
        <i>Science</i>, <i>169</i>, 635–641. https://doi.org/10.1126/science.169.3946.635'
  recorded_at: 2018-12-07 22:38:17 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
[...]
- request:
    method: get
    uri: http://dx.doi.org/10.1126/science.169.3946.635
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      link: <http://dx.doi.org/10.1126/science.169.3946.635>; rel="canonical", <https://syndication.highwire.org/content/doi/10.1126/science.169.3946.635>;
        version="vor"; rel="item"
      content-type: text/x-bibliography
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: |
        Frank, H. S. (1970). The Structure of Ordinary Water: New data and interpretations are yielding new insights into this fascinating substance. Science, 169(3946), 635–641. doi:10.1126/science.169.3946.635
  recorded_at: 2018-12-07 22:38:17 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.5284/1011335/agency
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.5284\/1011335","agency":{"id":"datacite","label":"DataCite"}}}'
  recorded_at: 2018-12-07 22:38:17 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
- request:
    method: get
    uri: https://citation.crosscite.org/format?doi=10.5284%2F1011335&lang=en-US&style=apa
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/plain
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      string: |
        AC Archaeology Ltd. (2011). Land at Hill Barton, Clyst St Mary, Devon (NGR SY 0002 9083) Hill Barton Industrial Park Strip Map and Sample Excavation Summary Report. Archaeology Data Service. https://doi.org/10.5284/1011335
  recorded_at: 2018-12-07 22:38:17 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
[...]
