http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAQYsUXFmwwTF9ZaHF6VGlTa19kS0s2MDU0NVEAAAAAHkCqWBZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAAB5AqlkWcXd6bW55Q1ZRa0tpbTdJdnVtblpSQQAAAAAQP7y9FkhBcDcxdTgyU0FxN2lxRmNuUUh4cWcAAAAAEJ_AexY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAABAwnlkWVlJsZUxfWm5RN0dEbHhsVG9zc3A5dw==","total-results":368301,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:07:35Z","timestamp":1648562855282},"reference-count":8,"publisher":"IEEE","funder":[{"DOI":"10.13039\/100000002","name":"National
        Institutes of Health","doi-asserted-by":"publisher"},{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,7,5]]},"DOI":"10.23919\/usnc\/ursi49741.2020.9321657","type":"proceedings-article","created":{"date-parts":[[2021,2,7]],"date-time":"2021-02-07T15:14:07Z","timestamp":1612710847000},"source":"Crossref","is-referenced-by-count":1,"title":["Supervised
        Statistical Learning for Cancer Detection in Dehydrated Excised Tissue with
        Terahertz Imaging"],"prefix":"10.23919","author":[{"given":"Tanny","family":"Chavez","sequence":"first","affiliation":[]},{"given":"Nagma","family":"Vohra","sequence":"additional","affiliation":[]},{"given":"Jingxian","family":"Wu","sequence":"additional","affiliation":[]},{"given":"Narasimhan","family":"Rajaram","sequence":"additional","affiliation":[]},{"given":"Magda","family":"El-Shenawee","sequence":"additional","affiliation":[]},{"given":"Keith","family":"Bailey","sequence":"additional","affiliation":[]}],"member":"263","reference":[{"key":"ref4","doi-asserted-by":"publisher","DOI":"10.1364\/BOE.381623"},{"key":"ref3","doi-asserted-by":"publisher","DOI":"10.1007\/s10762-018-0529-8"},{"key":"ref6","doi-asserted-by":"publisher","DOI":"10.1016\/j.foodchem.2016.04.117"},{"key":"ref5","doi-asserted-by":"publisher","DOI":"10.1364\/OE.26.006371"},{"key":"ref8","doi-asserted-by":"publisher","DOI":"10.1080\/01621459.1993.10476321"},{"key":"ref7","doi-asserted-by":"publisher","DOI":"10.1109\/TTHZ.2018.2813085"},{"key":"ref2","doi-asserted-by":"publisher","DOI":"10.1117\/1.JBO.23.2.026004"},{"key":"ref1","doi-asserted-by":"publisher","DOI":"10.1109\/TTHZ.2019.2962116"}],"event":{"name":"2020
        IEEE USNC-CNC-URSI North American Radio Science Meeting (Joint with AP-S Symposium)","location":"Montreal,
        QC, Canada","start":{"date-parts":[[2020,7,5]]},"end":{"date-parts":[[2020,7,10]]}},"container-title":["2020
        IEEE USNC-CNC-URSI North American Radio Science Meeting (Joint with AP-S Symposium)"],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx7\/9321588\/9321589\/09321657.pdf?arnumber=9321657","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,1,28]],"date-time":"2022-01-28T19:43:39Z","timestamp":1643399019000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/ieeexplore.ieee.org\/document\/9321657\/"}},"issued":{"date-parts":[[2020,7,5]]},"references-count":8,"URL":"http:\/\/dx.doi.org\/10.23919\/usnc\/ursi49741.2020.9321657","published":{"date-parts":[[2020,7,5]]}},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:07:45Z","timestamp":1648562865177},"reference-count":33,"publisher":"American
        Chemical Society (ACS)","issue":"24","funder":[{"DOI":"10.13039\/100000086","name":"Directorate
        for Mathematical and Physical Sciences","doi-asserted-by":"publisher","award":["CHM-0709061"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Org.
        Lett."],"published-print":{"date-parts":[[2014,12,19]]},"DOI":"10.1021\/ol503275w","type":"journal-article","created":{"date-parts":[[2014,12,9]],"date-time":"2014-12-09T14:54:42Z","timestamp":1418136882000},"page":"6440-6443","source":"Crossref","is-referenced-by-count":11,"title":["Evaluation
        of Achiral Templates with Fluxional Br\u00f8nsted Basic Substituents in Enantioselective
        Conjugate Additions"],"prefix":"10.1021","volume":"16","author":[{"given":"Shinya","family":"Adachi","sequence":"first","affiliation":[{"name":"Department\rof
        Chemistry and\rBiochemistry, North Dakota State University, Fargo, North Dakota
        58108-6050, United States"}]},{"given":"Norihiko","family":"Takeda","sequence":"additional","affiliation":[{"name":"Department\rof
        Chemistry and\rBiochemistry, North Dakota State University, Fargo, North Dakota
        58108-6050, United States"}]},{"given":"Mukund P.","family":"Sibi","sequence":"additional","affiliation":[{"name":"Department\rof
        Chemistry and\rBiochemistry, North Dakota State University, Fargo, North Dakota
        58108-6050, United States"}]}],"member":"316","published-online":{"date-parts":[[2014,12,9]]},"reference":[{"key":"ref1\/cit1a","doi-asserted-by":"crossref","first-page":"4154","DOI":"10.1021\/ja0423217","volume":"127","author":"Palomo
        C.","year":"2005","journal-title":"J. Am. Chem. Soc."},{"key":"ref1\/cit1b","doi-asserted-by":"crossref","first-page":"298","author":"Sibi
        M. P.","year":"2007","journal-title":"Synlett","DOI":"10.1055\/s-2007-968014"},{"key":"ref1\/cit1c","doi-asserted-by":"crossref","first-page":"541","DOI":"10.5012\/bkcs.2010.31.03.541","volume":"31","author":"Sibi
        M. P.","year":"2010","journal-title":"Bull. Korean Chem. Soc."},{"key":"ref1\/cit1d","doi-asserted-by":"crossref","first-page":"4255","DOI":"10.1021\/ol8017177","vol[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAQYsUXFmwwTF9ZaHF6VGlTa19kS0s2MDU0NVEAAAAAHkCqWBZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAAB5AqlkWcXd6bW55Q1ZRa0tpbTdJdnVtblpSQQAAAAAQP7y9FkhBcDcxdTgyU0FxN2lxRmNuUUh4cWcAAAAAEJ_AexY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAABAwnlkWVlJsZUxfWm5RN0dEbHhsVG9zc3A5dw%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1[...]
[...]
