http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100010608":"Office
        of Inspector General","100000179":"Office of the Director","100014411":"Center
        for Unmanned Aircraft Systems","100005716":"National Science Board","100000081":"Directorate
        for Education and Human Resources","100000083":"Directorate for Computer and
        Information Science and Engineering","100015815":"Power Systems Engineering
        Research Center","100005441":"Office of Budget, Finance and Award Management","100000001":"National
        Science Foundation","100000076":"Directorate for Biological Sciences","100000084":"Directorate
        for Engineering","100014073":"National Nanotechnology Coordinating Office","100014591":"BioXFEL
        Science and Technology Center","100000088":"Directorate for Social, Behavioral
        and Economic Sciences","100005447":"Office of Information and Resource Management","100000086":"Directorate
        for Mathematical and Physical Sciences","100000085":"Directorate for Geosciences","100014072":"National
        Coordination Office"},"replaced-by":[],"work-count":297214,"name":"National
        Science Foundation","descendants":["100000076","100000077","100000078","100000081","100000082","100000083","100000084","100000085","100000086","100000087","100000088","100000089","100000105","100000106","100000121","100000141","100000143","100000144","100000145","100000146","100000147","100000148","100000149","100000150","100000151","100000152","100000153","100000154","100000155","100000156","100000159","100000160","100000162","100000163","100000164","100000165","100000166","100000169","100000170","100000171","100000172","100000173","100000174","100000175","100000176","100000177","100000178","100000179","100005441","100005442","100005443","100005444","100005445","100005446","100005447","100005448","100005449","100005450","100005553","100005554","100005714","100005716","100005717","100006091","100006603","100007352","100007521","100007522","100007523","100010608","100014071","100014072","100014073","100014074","100014411","100014591","100015815"],"descendant-work-count":368299,"id":"100000001","tokens":["national","science","foundation","us","national","science","foundation","usa","nsf","nsf","usnsf","us","national","science","foundation","us","nsf"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","hierarchy":{"100000001":{"100010608":{},"100000179":{"more":true},"100014411":{},"100005716":{},"100000081":{"more":true},"100000083":{"more":true},"100015815":{},"100005441":{"more":true},"100000076":{"more":true},"100000084":{"more":true},"100014073":{},"100014591":{},"100000088":{"more":true},"100005447":{"more":true},"100000086":{"more":true},"100000085":{"more":true},"100014072":{}}},"alt-names":["U.S.
        National Science Foundation","USA NSF","NSF","USNSF","US National Science
        Foundation","US NSF"],"location":"United States"}}'
  recorded_at: 2022-11-09 12:37:21 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
