http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAADIdsZFmJsa3E5SWZHUmhTeDhLTW5sdDFCdVEAAAAAAbvX6xZfeW9KekNGcFJLbVZoTE5jSTBhazR3AAAAAAHrquEWdGtxZFdlbXRRbDIxQkszOHAyVGQ0dwAAAAABptB6FlBnamVIM014UUpHOUxqRjdNQXFUYXcAAAAAAyHbGhZibGtxOUlmR1JoU3g4S01ubHQxQnVRAAAAAAGxVP8WLXJtMFhXSEdUZ1NVTHVkd2VWb3QyUQ==","total-results":307265,"items":[{"indexed":{"date-parts":[[2021,4,29]],"date-time":"2021-04-29T18:10:43Z","timestamp":1619719843065},"reference-count":51,"publisher":"Elsevier
        BV","issue":"5","funder":[{"DOI":"10.13039\/100000001","name":"National Science
        Foundation","doi-asserted-by":"publisher","award":["MCB-1715840"]}],"content-domain":{"domain":["jbc.org"],"crossmark-restriction":true},"short-container-title":["J.
        Biol. Chem."],"published-print":{"date-parts":[[2020,1,31]]},"abstract":"<jats:p>\u03b2-<jats:italic>N<\/jats:italic>-methylamino-<jats:sc>l<\/jats:sc>-alanine
        (BMAA) is a nonproteinogenic amino acid that has been associated with neurodegenerative
        diseases, including amyotrophic lateral sclerosis (ALS) and Alzheimer''s disease
        (AD). BMAA has been found in human protein extracts; however, the mechanism
        by which it enters the proteome is still unclear. It has been suggested that
        BMAA is misincorporated at serine codons during protein synthesis, but direct
        evidence of its cotranslational incorporation is currently lacking. Here,
        using LC-MS\u2013purified BMAA and several biochemical assays, we sought to
        determine whether any aminoacyl-tRNA synthetase (aaRS) utilizes BMAA as a
        substrate for aminoacylation. Despite BMAA''s previously predicted misincorporation
        at serine codons, following a screen for amino acid activation in ATP\/PP<jats:sub>i<\/jats:sub>
        exchange assays, we observed that BMAA is not a substrate for human seryl-tRNA
        synthetase (SerRS). Instead, we observed that BMAA is a substrate for human
        alanyl-tRNA synthetase (AlaRS) and can form BMAA-tRNA<jats:sup>Ala<\/jats:sup>
        by escaping from the intrinsic AlaRS proofreading activity. Furthermore, we
        found that BMAA inhibits both the cognate amino acid activation and the editing
        functions of AlaRS. Our results reveal that, in addition to being misincorporated
        during translation, BMAA may be able to disrupt the integrity of protein synthesis
        through multiple different mechanisms.<\/jats:p>","DOI":"10.1074\/jbc.ra119.011714","type":"journal-article","created":{"date-parts":[[2019,12,20]],"date-time":"2019-12-20T19:24:20Z","timestamp":1576869860000},"page":"1402-1410","update-policy":"http:\/\/dx.doi.org\/10.1074\/jbc.f110.005975","source":"Crossref","is-referenced-by-count":5,"title":["The
        mechanism of \u03b2-N-methylamino-l-alanine inhibition of tRNA aminoacylation
        and its impact on misincorporation"],"prefix":"10.1016","volume":"295","author":[{"given":"Nien-Ching","family":"Han","sequence":"first","affiliation":[]},{"given":"Tammy
        J.","family":"Bullwinkle","sequence":"additional","affiliation":[]},{"given":"Kaeli
        F.","family":"Loeb","sequence":"additional","affiliation":[]},{"given":"Kym
        F.","family":"Faull","sequence":"additional","affiliation":[]},{"given":"Kyle","family":"Mohler","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-4839-4005","authenticated-orcid":false,"given":"Jesse","family":"Rinehart","sequence":"additional","affiliation":[]},{"given":"Michael","family":"Ibba","sequence":"additional","affiliation":[]}],"member":"78","published-online":{"date-parts":[[2019,12,20]]},"reference":[{"key":"2020013105250749000_295.5.1402.1","doi-asserted-by":"publisher","DOI":"10.1016\/S0031-9422(00)86018-5"},{"key":"2020013105250749000_295.5.1402.2","doi-asserted-by":"publisher","DOI":"10.1016\/0896-6273(89)90256-0"},{"key":"2020013105250749000_295.5.1402.3","first-page":"1724","article-title":"Neurologic
        diseases on the island of Guam","volume":"5","author":"Mulder","year":"1954","journal-title":"U.
        S. Armed Forces Med. J"},{"key":"2020013105250749000_295.5.1402.4","doi-asserted-by":"publisher","DOI":"10.1126\/science.3603037"},{"key":"2020013105250749000_295.5.1402.5","doi-asserted-by":"publisher","DOI":"10.1212\/WNL.40.5.767"},{"key":"2020013105250749000_295.5.1402.6","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.2235808100"},{"key":"2020013105250749000_295.5.1402.7","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.0404926101"},{"key":"2020013105250749000_295.5.1402.8",[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAADIdsZFmJsa3E5SWZHUmhTeDhLTW5sdDFCdVEAAAAAAbvX6xZfeW9KekNGcFJLbVZoTE5jSTBhazR3AAAAAAHrquEWdGtxZFdlbXRRbDIxQkszOHAyVGQ0dwAAAAABptB6FlBnamVIM014UUpHOUxqRjdNQXFUYXcAAAAAAyHbGhZibGtxOUlmR1JoU3g4S01ubHQxQnVRAAAAAAGxVP8WLXJtMFhXSEdUZ1NVTHVkd2VWb3QyUQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAADIdsZFmJsa3E5SWZHUmhTeDhLTW5sdDFCdVEAAAAAAbvX6xZfeW9KekNGcFJLbVZoTE5jSTBhazR3AAAAAAHrquEWdGtxZFdlbXRRbDIxQkszOHAyVGQ0dwAAAAABptB6FlBnamVIM014UUpHOUxqRjdNQXFUYXcAAAAAAyHbGhZibGtxOUlmR1JoU3g4S01ubHQxQnVRAAAAAAGxVP8WLXJtMFhXSEdUZ1NVTHVkd2VWb3QyUQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAADIdsZFmJsa3E5SWZHUmhTeDhLTW5sdDFCdVEAAAAAAbvX6xZfeW9KekNGcFJLbVZoTE5jSTBhazR3AAAAAAHrquEWdGtxZFdlbXRRbDIxQkszOHAyVGQ0dwAAAAABptB6FlBnamVIM014UUpHOUxqRjdNQXFUYXcAAAAAAyHbGhZibGtxOUlmR1JoU3g4S01ubHQxQnVRAAAAAAGxVP8WLXJtMFhXSEdUZ1NVTHVkd2VWb3QyUQ==","total-results":307265,"items":[{"indexed":{"date-parts":[[2021,7,21]],"date-time":"2021-07-21T10:46:14Z","timestamp":1626864374942},"reference-count":13,"publisher":"Wiley","issue":"4","license":[{"start":{"date-parts":[[2017,6,15]],"date-time":"2017-06-15T00:00:00Z","timestamp":1497484800000},"content-version":"am","delay-in-days":365,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#am"},{"start":{"date-parts":[[2016,6,15]],"date-time":"2016-06-15T00:00:00Z","timestamp":1465948800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"},{"start":{"date-parts":[[2016,6,15]],"date-time":"2016-06-15T00:00:00Z","timestamp":1465948800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"funder":[{"DOI":"10.13039\/100000[...]
