http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAAJ6-yFjJMRzRablFsUjJ1a1p6TFUxTWhwY2cAAAAAAChr9BZYb0NMVnlZVlRQQ01VLVAxeUhQYnVBAAAAAAO7r_oWMk45Z1NHQlRTSTZkczlYSlFEZ0V3UQAAAAAD-QX-FnhQaHJjYVNsVE9XOTZkTDNwdV9Zc0EAAAAAACewCBZaeERYZnZwdVRZbU9ncmFZaEY2T3FRAAAAAAAnsSAWTXZScjJTYXJRT2lyOHI3dGE2d2ZKQQ==","total-results":309283,"items":[{"indexed":{"date-parts":[[2021,5,9]],"date-time":"2021-05-09T19:49:33Z","timestamp":1620589773430},"reference-count":23,"publisher":"Informa
        UK Limited","issue":"4","funder":[{"name":"NSF-DMS","award":["1412023","1712294"]},{"DOI":"10.13039\/100000121","name":"Division
        of Mathematical Sciences","doi-asserted-by":"crossref"}],"content-domain":{"domain":["www.tandfonline.com"],"crossmark-restriction":true},"short-container-title":["Communications
        in Partial Differential Equations"],"published-print":{"date-parts":[[2019,4,3]]},"DOI":"10.1080\/03605302.2018.1546318","type":"journal-article","created":{"date-parts":[[2019,1,21]],"date-time":"2019-01-21T16:35:31Z","timestamp":1548088531000},"page":"279-308","update-policy":"http:\/\/dx.doi.org\/10.1080\/tandf_crossmark_01","source":"Crossref","is-referenced-by-count":2,"title":["Global
        regularity and fast small-scale formation for Euler patch equation in a smooth
        domain"],"prefix":"10.1080","volume":"44","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-3096-6522","authenticated-orcid":false,"given":"Alexander","family":"Kiselev","sequence":"first","affiliation":[{"name":"Department
        of Mathematics, Duke University, Durham, NC, USA;"}]},{"given":"Chao","family":"Li","sequence":"additional","affiliation":[{"name":"Department
        of Mathematics, Rice University, Houston, TX, USA"}]}],"member":"301","published-online":{"date-parts":[[2019,1,21]]},"reference":[{"key":"CIT0001","volume-title":"Vorticity
        and Incompressible Flow","author":"Majda A.","year":"2002"},{"key":"CIT0002","doi-asserted-by":"publisher","DOI":"10.1007\/978-1-4612-4284-0"},{"key":"CIT0003","doi-asserted-by":"publisher","DOI":"10.1007\/BF01474610"},{"key":"CIT0004","doi-asserted-by":"publisher","DOI":"10.1016\/0041-5553(63)90247-7"},{"key":"CIT0005","doi-asserted-by":"publisher","DOI":"10.1063\/1.857353"},{"key":"CIT0006","doi-asserted-by":"publisher","DOI":"10.1002\/cpa.3160390711"},{"key":"CIT0007","doi-asserted-by":"crossref","first-page":"1","DOI":"10.24033\/asens.1665","volume":"26","author":"Chemin
        J.-Y.","year":"1993","journal-title":"Ann. Sci.\u2019\u00c9cole Norm. Sup\u00e9r"},{"key":"CIT0008","doi-asserted-by":"publisher","DOI":"10.1007\/BF02097055"},{"key":"CIT0009","first-page":"515","volume":"318","author":"Serfati
        P.","year":"1994","journal-title":"C. R. Acad. Sci. Paris"},{"key":"CIT0010","doi-asserted-by":"publisher","DOI":"10.1016\/S0021-7824(98)00003-8"},{"issue":"3","key":"CIT0011","first-page":"456","volume":"55","author":"Morgulis
        A.","year":"1997","journal-title":"Doklady Math"},{"key":"CIT0012[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAAJ6-yFjJMRzRablFsUjJ1a1p6TFUxTWhwY2cAAAAAAChr9BZYb0NMVnlZVlRQQ01VLVAxeUhQYnVBAAAAAAO7r_oWMk45Z1NHQlRTSTZkczlYSlFEZ0V3UQAAAAAD-QX-FnhQaHJjYVNsVE9XOTZkTDNwdV9Zc0EAAAAAACewCBZaeERYZnZwdVRZbU9ncmFZaEY2T3FRAAAAAAAnsSAWTXZScjJTYXJRT2lyOHI3dGE2d2ZKQQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAAJ6-yFjJMRzRablFsUjJ1a1p6TFUxTWhwY2cAAAAAAChr9BZYb0NMVnlZVlRQQ01VLVAxeUhQYnVBAAAAAAO7r_oWMk45Z1NHQlRTSTZkczlYSlFEZ0V3UQAAAAAD-QX-FnhQaHJjYVNsVE9XOTZkTDNwdV9Zc0EAAAAAACewCBZaeERYZnZwdVRZbU9ncmFZaEY2T3FRAAAAAAAnsSAWTXZScjJTYXJRT2lyOHI3dGE2d2ZKQQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAAJ6-yFjJMRzRablFsUjJ1a1p6TFUxTWhwY2cAAAAAAChr9BZYb0NMVnlZVlRQQ01VLVAxeUhQYnVBAAAAAAO7r_oWMk45Z1NHQlRTSTZkczlYSlFEZ0V3UQAAAAAD-QX-FnhQaHJjYVNsVE9XOTZkTDNwdV9Zc0EAAAAAACewCBZaeERYZnZwdVRZbU9ncmFZaEY2T3FRAAAAAAAnsSAWTXZScjJTYXJRT2lyOHI3dGE2d2ZKQQ==","total-results":309283,"items":[{"indexed":{"date-parts":[[2021,5,9]],"date-time":"2021-05-09T19:21:13Z","timestamp":1620588073028},"posted":{"date-parts":[[2019,1,14]]},"group-title":"Gases\/Field
        Measurements\/Troposphere\/Chemistry (chemical composition and reactions)","reference-count":0,"publisher":"Copernicus
        GmbH","license":[{"start":{"date-parts":[[2019,1,14]],"date-time":"2019-01-14T00:00:00Z","timestamp":1547424000000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000085","name":"Directorate
        for Geosciences","doi-asserted-by":"publisher","award":["AGS-1719918","AGS-1443842","AGS-1440834"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:p>Abstract.
        Peroxy radicals were measured in a mixed deciduous forest atmosphere in Bloomington,
        Indiana, USA, during the Indiana Radical, Reactivity and Ozone Production
        Intercomparison (IRRONIC) during the summer of 2015. Total peroxy radicals
        ([XO2]\u2009\u2261\u2009[HO2]\u2009+\u2009\u01a9[RO2]) were measured by a
        newly developed technique involving nitric oxide (NO) \u2013 ethane (C2H6)
        chemical amplification followed by NO2 detection by cavity [...]
