http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100010608":"Office
        of Inspector General","100000179":"Office of the Director","100014411":"Center
        for Unmanned Aircraft Systems","100005716":"National Science Board","100000081":"Directorate
        for Education and Human Resources","100000083":"Directorate for Computer and
        Information Science and Engineering","100015815":"Power Systems Engineering
        Research Center","100005441":"Office of Budget, Finance and Award Management","100000001":"National
        Science Foundation","100000076":"Directorate for Biological Sciences","100000084":"Directorate
        for Engineering","100014073":"National Nanotechnology Coordinating Office","100014591":"BioXFEL
        Science and Technology Center","100000088":"Directorate for Social, Behavioral
        and Economic Sciences","100005447":"Office of Information and Resource Management","100000086":"Directorate
        for Mathematical and Physical Sciences","100000085":"Directorate for Geosciences","100014072":"National
        Coordination Office"},"replaced-by":[],"work-count":297216,"name":"National
        Science Foundation","descendants":["100000076","100000077","100000078","100000081","100000082","100000083","100000084","100000085","100000086","100000087","100000088","100000089","100000105","100000106","100000121","100000141","100000143","100000144","100000145","100000146","100000147","100000148","100000149","100000150","100000151","100000152","100000153","100000154","100000155","100000156","100000159","100000160","100000162","100000163","100000164","100000165","100000166","100000169","100000170","100000171","100000172","100000173","100000174","100000175","100000176","100000177","100000178","100000179","100005441","100005442","100005443","100005444","100005445","100005446","100005447","100005448","100005449","100005450","100005553","100005554","100005714","100005716","100005717","100006091","100006603","100007352","100007521","100007522","100007523","100010608","100014071","100014072","100014073","100014074","100014411","100014591","100015815"],"descendant-work-count":368301,"id":"100000001","tokens":["national","science","foundation","us","national","science","foundation","usa","nsf","nsf","usnsf","us","national","science","foundation","us","nsf"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","hierarchy":{"100000001":{"100010608":{},"100000179":{"more":true},"100014411":{},"100005716":{},"100000081":{"more":true},"100000083":{"more":true},"100015815":{},"100005441":{"more":true},"100000076":{"more":true},"100000084":{"more":true},"100014073":{},"100014591":{},"100000088":{"more":true},"100005447":{"more":true},"100000086":{"more":true},"100000085":{"more":true},"100014072":{}}},"alt-names":["U.S.
        National Science Foundation","USA NSF","NSF","USNSF","US National Science
        Foundation","US NSF"],"location":"United States"}}'
  recorded_at: 2022-11-09 12:36:59 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001/works?rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":368301,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:53:12Z","timestamp":1648648392261},"reference-count":73,"publisher":"Informa
        UK Limited","issue":"1","funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["1420374"]}],"content-domain":{"domain":["www.tandfonline.com"],"crossmark-restriction":true},"short-container-title":["Journal
        of Research on Educational Effectiveness"],"published-print":{"date-parts":[[2021,1,2]]},"DOI":"10.1080\/19345747.2020.1823538","type":"journal-article","created":{"date-parts":[[2020,12,21]],"date-time":"2020-12-21T15:39:15Z","timestamp":1608565155000},"page":"241-269","update-policy":"http:\/\/dx.doi.org\/10.1080\/tandf_crossmark_01","source":"Crossref","is-referenced-by-count":0,"title":["Student
        Log-Data from a Randomized Evaluation of Educational Technology: A Causal
        Case Study"],"prefix":"10.1080","volume":"14","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-0416-0610","authenticated-orcid":false,"given":"Adam
        C.","family":"Sales","sequence":"first","affiliation":[{"name":"University
        of Texas, Austin, Texas, USA"}]},{"ORCID":"http:\/\/orcid.org\/0000-0001-5155-2436","authenticated-orcid":false,"given":"John
        F.","family":"Pane","sequence":"additional","affiliation":[{"name":"Education
        and Labor Division at RAND Corporation, Pittsburgh, Pennsylvania, USA"}]}],"member":"301","published-online":{"date-parts":[[2020,12,21]]},"reference":[{"key":"CIT0001","doi-asserted-by":"publisher","DOI":"10.1007\/s40593-015-0089-1"},{"key":"CIT0002","doi-asserted-by":"publisher","DOI":"10.4324\/9781315799438"},{"key":"CIT0003","doi-asserted-by":"publisher","DOI":"10.1126\/science.228.4698.456"},{"key":"CIT0004","doi-asserted-by":"publisher","DOI":"10.1207\/s15327809jls0402_2"},{"key":"CIT0005","doi-asserted-by":"publisher","DOI":"10.18637\/jss.v067.i01"},{"key":"CIT0006","doi-asserted-by":"publisher","DOI":"10.1007\/978-3-540-69132-7_42"},{"key":"CIT0007","unstructured":"Bowers,
        J., Fredrickson, M. & Hansen, B. (2017). RItools: Randomization inference
        tools (development version) [R package version 0.2-0]. https:\/\/github.com\/markmfredrickson\/RItools"},{"key":"CIT0008","doi-asserted-by":"publisher","DOI":"10.1111\/j.1467-6419.2007.00527.x"},{"key":"CIT0009","doi-asserted-by":"publisher","DOI":"10.1002\/pam.20375"},{"key":"CIT0010","doi-asserted-by":"publisher","DOI":"10.1080\/00273170903333673"},{"key":"CIT0011","doi-asserted-by":"crossref","unstructured":"Escueta,
        M., Quan, V., Nickow, A. J. & Oreopoulos, P. (2017). Education technology:
        An evidence-based review. Technical report, National Bureau of Economic Research.","DOI":"10.3386\/w23744"},{"key":"CIT0012","doi-asserted-by":"crossref","unstructured":"Fancsali,
        S. E., Holstein, K., Sandbothe, M., Ritter, S., McLaren, B. M. & Aleven, V.
        (2020). Towards practical detection of unproductive struggle. Proceedings
        of the 21st International Conference on Artificial Intelligence in Education.","DOI":"10.1007\/978-3-030-52240-7_17"},{"key":"CIT0013","author":"Feller
        A.","year":"2016","journal-title":"arXiv Preprint arXiv:1602.06595"},{"key":"CIT0014","doi-asserted-by":"publisher","DOI":"10.1214\/16-AOAS910"},{"key":"CIT0015","doi-asserted-by":"publisher","DOI":"10.1111\/j.0006-341X.2002.00021.x"},{"key":"CIT0016","doi-asserted-by":"publisher","DOI":"10.1037\/0022-0663.86.1.122"},{"key":"CIT0017","doi-asserted-by":"publisher","DOI":"10.17265\/2159-5313\/2016.09.003"},{"key":"CIT0018","volume-title":"Bayesian
        data analysis","volume":"2","author":"Gelman A.","year":"2014"},{"key":"CIT0019","doi-asserted-by":"publisher","DOI":"10.1111\/j.1541-0420.2008.01014.x"},{"key":"CIT0020","volume-title":"Vincent
        Aleven. Learner differences in hint processing","author":"Goldin I. M.","year":"2012"},{"key":"CIT0023","doi-asserted-by":"publisher","DOI":"10.1198\/016214504000000647"},{"key":"CIT0024","doi-asserted-by":"publisher","DOI":"10.1007\/978-1-4419-9389-2_9"},{"key":"CIT0021","doi-asserted-by":"publisher","DOI":"10.1214\/08-STS254"},{"key":"CIT0022","doi-asserted-by":"publisher","DOI":"10.1198\/106186006X137047"},{"key":"CIT0025","first-page":"73","volume":"226164","author":"Hirano
        K.","year":"2004","journal-title":"Applied Bayesian Modeling and Causal Inference
        from Incomplete-Data Perspectives"},{"key":"CIT0026","doi-asserted-by":"publisher","DOI":"10.1093\/pan\/mpl013"},{"key":"CIT0027","doi-asserted-by":"publisher","DOI":"10.1002\/9781119030638"},{"key":"CIT0028","doi-asserted-by":"publisher","DOI":"10.1214\/09-AOAS315"},{"key":"CIT0029","doi-asserted-by":"publisher","DOI":"10.1017\/S0003055411000414"},{"key":"CIT[...]
- request:
    method: get
    uri: https://api.crossref.org/funders?query=NSF&rows=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":"NSF"},"total-results":81,"items":[{"id":"100000150","location":"United
        States","name":"Division of Emerging Frontiers in Research and Innovation","alt-names":["NSF''s
        Emerging Frontiers in Research and Innovation","EFRI","NSF EFRI","Emerging
        Frontiers in Research and Innovation","NSF''s Division of Emerging Frontiers
        in Research and Innovation","NSF Emerging Frontiers in Research and Innovation","NSF:
        Emerging Frontiers In Research And Innovation"],"uri":"http:\/\/dx.doi.org\/10.13039\/100000150","replaces":[],"replaced-by":[],"tokens":["division","of","emerging","frontiers","in","research","and","innovation","nsfs","emerging","frontiers","in","research","and","innovation","efri","nsf","efri","emerging","frontiers","in","research","and","innovation","nsfs","division","of","emerging","frontiers","in","research","and","innovation","nsf","emerging","frontiers","in","research","and","innovation","nsf:","emerging","frontiers","in","research","and","innovation"]}]}}'
  recorded_at: 2022-11-09 12:36:59 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
