http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100010608":"Office
        of Inspector General","100000179":"Office of the Director","100005716":"National
        Science Board","100000081":"Directorate for Education and Human Resources","100000083":"Directorate
        for Computer and Information Science and Engineering","100005441":"Office
        of Budget, Finance and Award Management","100000001":"National Science Foundation","100000076":"Directorate
        for Biological Sciences","100000084":"Directorate for Engineering","more":null,"100000088":"Directorate
        for Social, Behavioral and Economic Sciences","100005447":"Office of Information
        and Resource Management","100000086":"Directorate for Mathematical and Physical
        Sciences","100000085":"Directorate for Geosciences"},"replaced-by":[],"work-count":146634,"name":"National
        Science Foundation","descendants":["100000076","100010608","100005716","100000179","100005447","100000086","100000085","100000088","100005441","100000081","100000084","100000083","100000152","100000155","100000154","100000156","100000153","100000089","100006603","100000178","100000177","100007522","100000176","100000106","100005714","100005450","100005448","100005449","100000165","100000164","100000121","100006091","100000078","100000166","100000159","100000087","100000160","100000141","100007352","100000163","100000162","100000175","100000174","100007521","100005717","100000077","100000170","100000169","100005446","100005445","100005442","100005444","100005443","100005554","100005553","100000082","100000171","100000173","100000172","100000149","100000148","100000151","100000150","100000147","100000146","100000105","100000143","100000145","100000144","100007523"],"descendant-work-count":183048,"id":"100000001","tokens":["national","science","foundation","nsf"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","hierarchy":{"100000001":{"100010608":{},"100000179":{"more":true},"100005716":{},"100000081":{"more":true},"100000083":{"more":true},"100005441":{"more":true},"100000076":{"more":true},"100000084":{"more":true},"100000088":{"more":true},"100005447":{"more":true},"100000086":{"more":true},"100000085":{"more":true}}},"alt-names":["NSF"],"location":"United
        States"}}'
  recorded_at: 2018-12-07 22:36:17 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001/works?rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":183048,"items":[{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:16:43Z","timestamp":1523675803325},"reference-count":30,"publisher":"Institute
        of Electrical and Electronics Engineers (IEEE)","issue":"11","funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["ECCS-1408604","IIP
        1414250"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["IEEE
        Trans. Wireless Commun."],"published-print":{"date-parts":[[2014,11]]},"DOI":"10.1109\/twc.2014.2358558","type":"journal-article","created":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T01:15:53Z","timestamp":1410916553000},"page":"6207-6218","source":"Crossref","is-referenced-by-count":3,"title":["On
        Primary User Coverage Probabilities and Faulty Cognitive Radios"],"prefix":"10.1109","volume":"13","author":[{"given":"Prasanna","family":"Madhusudhanan","sequence":"first","affiliation":[]},{"given":"Youjian","family":"Liu","sequence":"additional","affiliation":[]},{"given":"Timothy
        X","family":"Brown","sequence":"additional","affiliation":[]}],"member":"263","container-title":["IEEE
        Transactions on Wireless Communications"],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx7\/7693\/6949704\/06899680.pdf?arnumber=6899680","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,6,22]],"date-time":"2017-06-22T20:33:05Z","timestamp":1498163585000},"score":1.0,"issued":{"date-parts":[[2014,11]]},"references-count":30,"journal-issue":{"issue":"11"},"URL":"http:\/\/dx.doi.org\/10.1109\/twc.2014.2358558","ISSN":["1536-1276"],"issn-type":[{"value":"1536-1276","type":"print"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:19:29Z","timestamp":1523675969001},"reference-count":0,"publisher":"Copernicus
        GmbH","issue":"9","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T00:00:00Z","timestamp":1410912000000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"DOI":"10.13039\/100000159","name":"Division
        of Atmospheric and Geospace Sciences","doi-asserted-by":"publisher","award":["AGS-1033112"]},{"DOI":"10.13039\/100000104","name":"National
        Aeronautics and Space Administration","doi-asserted-by":"publisher","award":["NNX12AP89G"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Atmos.
        Meas. Tech. Discuss."],"abstract":"<jats:p>Radio Occultation (RO) is a promising
        source of observation for weather and climate applications. However, the uncertainties
        in processing and retrieving RO data may weaken the overall confidence in
        the data and discourage their use. This study assesses the fundamental quality
        of RO data, by modeling the \"raw\" measurement, phase path, through a ray
        tracing method without the nuisance of retrieval errors. The comparison of
        phase measurements with [...]
- request:
    method: get
    uri: https://api.crossref.org/funders?query=NSF&rows=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":"NSF"},"total-results":10,"items":[{"id":"501100004190","location":"Norway","name":"Norsk
        Sykepleierforbund","alt-names":["NSF","Norwegian Nurses Organisation"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100004190","replaces":[],"replaced-by":[],"tokens":["norsk","sykepleierforbund","nsf","norwegian","nurses","organisation"]}]}}'
  recorded_at: 2018-12-07 22:36:17 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
