http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100014074":"Integrative
        and Collaborative Education and Research","100010608":"Office of Inspector
        General","100000179":"Office of the Director","100014411":"Center for Unmanned
        Aircraft Systems","100005716":"National Science Board","100000081":"Directorate
        for Education and Human Resources","100000083":"Directorate for Computer and
        Information Science and Engineering","100015815":"Power Systems Engineering
        Research Center","100005441":"Office of Budget, Finance and Award Management","100000001":"National
        Science Foundation","100000076":"Directorate for Biological Sciences","100000084":"Directorate
        for Engineering","100014073":"National Nanotechnology Coordinating Office","100014591":"BioXFEL
        Science and Technology Center","100000088":"Directorate for Social, Behavioral
        and Economic Sciences","100005447":"Office of Information and Resource Management","100014071":"Large
        Facilities Office","100000086":"Directorate for Mathematical and Physical
        Sciences","100000085":"Directorate for Geosciences","100014072":"National
        Coordination Office"},"replaced-by":[],"work-count":244932,"name":"National
        Science Foundation","descendants":["100000076","100000077","100000078","100000081","100000082","100000083","100000084","100000085","100000086","100000087","100000088","100000089","100000105","100000106","100000121","100000141","100000143","100000144","100000145","100000146","100000147","100000148","100000149","100000150","100000151","100000152","100000153","100000154","100000155","100000156","100000159","100000160","100000162","100000163","100000164","100000165","100000166","100000169","100000170","100000171","100000172","100000173","100000174","100000175","100000176","100000177","100000178","100000179","100005441","100005442","100005443","100005444","100005445","100005446","100005447","100005448","100005449","100005450","100005553","100005554","100005714","100005716","100005717","100006091","100006603","100007352","100007521","100007522","100007523","100010608","100014071","100014072","100014073","100014074","100014411","100014591","100015815"],"descendant-work-count":307265,"id":"100000001","tokens":["national","science","foundation","usa","nsf","nsf","us","nsf"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","hierarchy":{"100000001":{"100014074":{},"100010608":{},"100000179":{"more":true},"100014411":{},"100005716":{},"100000081":{"more":true},"100000083":{"more":true},"100015815":{},"100005441":{"more":true},"100000076":{"more":true},"100000084":{"more":true},"100014073":{},"100014591":{},"100000088":{"more":true},"100005447":{"more":true},"100014071":{},"100000086":{"more":true},"100000085":{"more":true},"100014072":{}}},"alt-names":["USA
        NSF","NSF","US NSF"],"location":"United States"}}'
  recorded_at: 2021-08-01 15:44:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001/works?rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":307265,"items":[{"indexed":{"date-parts":[[2021,4,29]],"date-time":"2021-04-29T18:10:43Z","timestamp":1619719843065},"reference-count":51,"publisher":"Elsevier
        BV","issue":"5","funder":[{"DOI":"10.13039\/100000001","name":"National Science
        Foundation","doi-asserted-by":"publisher","award":["MCB-1715840"]}],"content-domain":{"domain":["jbc.org"],"crossmark-restriction":true},"short-container-title":["J.
        Biol. Chem."],"published-print":{"date-parts":[[2020,1,31]]},"abstract":"<jats:p>\u03b2-<jats:italic>N<\/jats:italic>-methylamino-<jats:sc>l<\/jats:sc>-alanine
        (BMAA) is a nonproteinogenic amino acid that has been associated with neurodegenerative
        diseases, including amyotrophic lateral sclerosis (ALS) and Alzheimer''s disease
        (AD). BMAA has been found in human protein extracts; however, the mechanism
        by which it enters the proteome is still unclear. It has been suggested that
        BMAA is misincorporated at serine codons during protein synthesis, but direct
        evidence of its cotranslational incorporation is currently lacking. Here,
        using LC-MS\u2013purified BMAA and several biochemical assays, we sought to
        determine whether any aminoacyl-tRNA synthetase (aaRS) utilizes BMAA as a
        substrate for aminoacylation. Despite BMAA''s previously predicted misincorporation
        at serine codons, following a screen for amino acid activation in ATP\/PP<jats:sub>i<\/jats:sub>
        exchange assays, we observed that BMAA is not a substrate for human seryl-tRNA
        synthetase (SerRS). Instead, we observed that BMAA is a substrate for human
        alanyl-tRNA synthetase (AlaRS) and can form BMAA-tRNA<jats:sup>Ala<\/jats:sup>
        by escaping from the intrinsic AlaRS proofreading activity. Furthermore, we
        found that BMAA inhibits both the cognate amino acid activation and the editing
        functions of AlaRS. Our results reveal that, in addition to being misincorporated
        during translation, BMAA may be able to disrupt the integrity of protein synthesis
        through multiple different mechanisms.<\/jats:p>","DOI":"10.1074\/jbc.ra119.011714","type":"journal-article","created":{"date-parts":[[2019,12,20]],"date-time":"2019-12-20T19:24:20Z","timestamp":1576869860000},"page":"1402-1410","update-policy":"http:\/\/dx.doi.org\/10.1074\/jbc.f110.005975","source":"Crossref","is-referenced-by-count":5,"title":["The
        mechanism of \u03b2-N-methylamino-l-alanine inhibition of tRNA aminoacylation
        and its impact on misincorporation"],"prefix":"10.1016","volume":"295","author":[{"given":"Nien-Ching","family":"Han","sequence":"first","affiliation":[]},{"given":"Tammy
        J.","family":"Bullwinkle","sequence":"additional","affiliation":[]},{"given":"Kaeli
        F.","family":"Loeb","sequence":"additional","affiliation":[]},{"given":"Kym
        F.","family":"Faull","sequence":"additional","affiliation":[]},{"given":"Kyle","family":"Mohler","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-4839-4005","authenticated-orcid":false,"given":"Jesse","family":"Rinehart","sequence":"additional","affiliation":[]},{"given":"Michael","family":"Ibba","sequence":"additional","affiliation":[]}],"member":"78","published-online":{"date-parts":[[2019,12,20]]},"reference":[{"key":"2020013105250749000_295.5.1402.1","doi-asserted-by":"publisher","DOI":"10.1016\/S0031-9422(00)86018-5"},{"key":"2020013105250749000_295.5.1402.2","doi-asserted-by":"publisher","DOI":"10.1016\/0896-6273(89)90256-0"},{"key":"2020013105250749000_295.5.1402.3","first-page":"1724","article-title":"Neurologic
        diseases on the island of Guam","volume":"5","author":"Mulder","year":"1954","journal-title":"U.
        S. Armed Forces Med. J"},{"key":"2020013105250749000_295.5.1402.4","doi-asserted-by":"publisher","DOI":"10.1126\/science.3603037"},{"key":"2020013105250749000_295.5.1402.5","doi-asserted-by":"publisher","DOI":"10.1212\/WNL.40.5.767"},{"key":"2020013105250749000_295.5.1402.6","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.2235808100"},{"key":"2020013105250749000_295.5.1402.7","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.0404926101"},{"key":"2020013105250749000_295.5.1402.8",[...]
- request:
    method: get
    uri: https://api.crossref.org/funders?query=NSF&rows=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":"NSF"},"total-results":36,"items":[{"id":"100000001","location":"United
        States","name":"National Science Foundation","alt-names":["USA NSF","NSF","US
        NSF"],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","replaces":[],"replaced-by":[],"tokens":["national","science","foundation","usa","nsf","nsf","us","nsf"]}]}}'
  recorded_at: 2021-08-01 15:44:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
