http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ99onk8egCPwNodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2JpdC4xMTM4","total-results":176862,"items":[{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:03:00Z","timestamp":1550005380020},"reference-count":152,"publisher":"Wiley","issue":"1","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":4946,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"crossref","award":["IBN-9722349"]},{"DOI":"10.13039\/100000002","name":"National
        Institutes of Health","doi-asserted-by":"crossref","award":["NIGMS MBRS GM-08224","NIMH
        MRISP MH48190","NIGM MBRS GM 61838-03","DRS RCMI RR-03051","NINDS PO1 NS07464"]},{"name":"Puerto
        Rico EPSCoR","award":[]},{"name":"University of Puerto Rico","award":[]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Comp. Neurol."],"published-print":{"date-parts":[[2002,3,25]]},"DOI":"10.1002\/cne.10152","type":"journal-article","created":{"date-parts":[[2002,8,25]],"date-time":"2002-08-25T23:09:26Z","timestamp":1030316966000},"page":"29-46","source":"Crossref","is-referenced-by-count":24,"title":["Colocalization
        of \u03b3-aminobutyric acid-like immunoreactivity and catecholamines in the
        feeding network ofAplysia californica"],"prefix":"10.1002","volume":"445","author":[{"given":"Manuel","family":"D\u00edaz-R\u00edos","sequence":"first","affiliation":[]},{"given":"Eduardo","family":"Oyola","sequence":"additional","affiliation":[]},{"given":"Mark
        W.","family":"Miller","sequence":"additional","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2002,2,15]]},"reference":[{"key":"10.1002\/cne.10152-BIB1|cit1","doi-asserted-by":"crossref","first-page":"286","DOI":"10.1126\/science.6134339","article-title":"Peptide
        cotransmitter at a neuromuscular junction","volume":"221","author":"Adams","year":"1983","journal-title":"Science"},{"key":"10.1002\/cne.10152-BIB2|cit2","first-page":"512","article-title":"Pharmacologically-induced
        elements of the hunting and feeding behavior in the pteropod mollusc Clione
        limacina. 1. Effects of GABA","volume":"69","author":"Arshavsky","year":"1993","journal-title":"J
        Neurophysiol"},{"key":"10.1002\/cne.10152-BIB3|cit3","doi-asserted-by":"crossref","first-page":"169","DOI":"10.1097\/00001756-199104000-00002","article-title":"Gamma-aminobutyric
        acid[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=AoJ99onk8egCPwNodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2JpdC4xMTM4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;chars[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/100000001/works?rows=30&cursor=AoJ6xfPl8egCPwRodHRwOi8vZHguZG9pLm9yZy8xMC4xMDYzLzEuNDc4ODY4NA%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/js[...]
