http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100010608":"Office
        of Inspector General","100000179":"Office of the Director","100014411":"Center
        for Unmanned Aircraft Systems","100005716":"National Science Board","100000081":"Directorate
        for Education and Human Resources","100000083":"Directorate for Computer and
        Information Science and Engineering","100015815":"Power Systems Engineering
        Research Center","100005441":"Office of Budget, Finance and Award Management","100000001":"National
        Science Foundation","100000076":"Directorate for Biological Sciences","100000084":"Directorate
        for Engineering","100014073":"National Nanotechnology Coordinating Office","100014591":"BioXFEL
        Science and Technology Center","100000088":"Directorate for Social, Behavioral
        and Economic Sciences","100005447":"Office of Information and Resource Management","100000086":"Directorate
        for Mathematical and Physical Sciences","100000085":"Directorate for Geosciences","100014072":"National
        Coordination Office"},"replaced-by":[],"work-count":246656,"name":"National
        Science Foundation","descendants":["100000076","100000077","100000078","100000081","100000082","100000083","100000084","100000085","100000086","100000087","100000088","100000089","100000105","100000106","100000121","100000141","100000143","100000144","100000145","100000146","100000147","100000148","100000149","100000150","100000151","100000152","100000153","100000154","100000155","100000156","100000159","100000160","100000162","100000163","100000164","100000165","100000166","100000169","100000170","100000171","100000172","100000173","100000174","100000175","100000176","100000177","100000178","100000179","100005441","100005442","100005443","100005444","100005445","100005446","100005447","100005448","100005449","100005450","100005553","100005554","100005714","100005716","100005717","100006091","100006603","100007352","100007521","100007522","100007523","100010608","100014071","100014072","100014073","100014074","100014411","100014591","100015815"],"descendant-work-count":309283,"id":"100000001","tokens":["national","science","foundation","usa","nsf","nsf","us","nsf"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","hierarchy":{"100000001":{"100010608":{},"100000179":{"more":true},"100014411":{},"100005716":{},"100000081":{"more":true},"100000083":{"more":true},"100015815":{},"100005441":{"more":true},"100000076":{"more":true},"100000084":{"more":true},"100014073":{},"100014591":{},"100000088":{"more":true},"100005447":{"more":true},"100000086":{"more":true},"100000085":{"more":true},"100014072":{}}},"alt-names":["USA
        NSF","NSF","US NSF"],"location":"United States"}}'
  recorded_at: 2021-08-17 17:23:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/100000001/works?rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":309283,"items":[{"indexed":{"date-parts":[[2021,5,9]],"date-time":"2021-05-09T19:49:33Z","timestamp":1620589773430},"reference-count":23,"publisher":"Informa
        UK Limited","issue":"4","funder":[{"name":"NSF-DMS","award":["1412023","1712294"]},{"DOI":"10.13039\/100000121","name":"Division
        of Mathematical Sciences","doi-asserted-by":"crossref"}],"content-domain":{"domain":["www.tandfonline.com"],"crossmark-restriction":true},"short-container-title":["Communications
        in Partial Differential Equations"],"published-print":{"date-parts":[[2019,4,3]]},"DOI":"10.1080\/03605302.2018.1546318","type":"journal-article","created":{"date-parts":[[2019,1,21]],"date-time":"2019-01-21T16:35:31Z","timestamp":1548088531000},"page":"279-308","update-policy":"http:\/\/dx.doi.org\/10.1080\/tandf_crossmark_01","source":"Crossref","is-referenced-by-count":2,"title":["Global
        regularity and fast small-scale formation for Euler patch equation in a smooth
        domain"],"prefix":"10.1080","volume":"44","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-3096-6522","authenticated-orcid":false,"given":"Alexander","family":"Kiselev","sequence":"first","affiliation":[{"name":"Department
        of Mathematics, Duke University, Durham, NC, USA;"}]},{"given":"Chao","family":"Li","sequence":"additional","affiliation":[{"name":"Department
        of Mathematics, Rice University, Houston, TX, USA"}]}],"member":"301","published-online":{"date-parts":[[2019,1,21]]},"reference":[{"key":"CIT0001","volume-title":"Vorticity
        and Incompressible Flow","author":"Majda A.","year":"2002"},{"key":"CIT0002","doi-asserted-by":"publisher","DOI":"10.1007\/978-1-4612-4284-0"},{"key":"CIT0003","doi-asserted-by":"publisher","DOI":"10.1007\/BF01474610"},{"key":"CIT0004","doi-asserted-by":"publisher","DOI":"10.1016\/0041-5553(63)90247-7"},{"key":"CIT0005","doi-asserted-by":"publisher","DOI":"10.1063\/1.857353"},{"key":"CIT0006","doi-asserted-by":"publisher","DOI":"10.1002\/cpa.3160390711"},{"key":"CIT0007","doi-asserted-by":"crossref","first-page":"1","DOI":"10.24033\/asens.1665","volume":"26","author":"Chemin
        J.-Y.","year":"1993","journal-title":"Ann. Sci.\u2019\u00c9cole Norm. Sup\u00e9r"},{"key":"CIT0008","doi-asserted-by":"publisher","DOI":"10.1007\/BF02097055"},{"key":"CIT0009","first-page":"515","volume":"318","author":"Serfati
        P.","year":"1994","journal-title":"C. R. Acad. Sci. Paris"},{"key":"CIT0010","doi-asserted-by":"publisher","DOI":"10.1016\/S0021-7824(98)00003-8"},{"issue":"3","key":"CIT0011","first-page":"456","volume":"55","author":"Morgulis
        A.","year":"1997","journal-title":"Doklady Math"},{"key":"CIT0012[...]
- request:
    method: get
    uri: https://api.crossref.org/funders?query=NSF&rows=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":1,"query":{"start-index":0,"search-terms":"NSF"},"total-results":39,"items":[{"id":"100000001","location":"United
        States","name":"National Science Foundation","alt-names":["USA NSF","NSF","US
        NSF"],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","replaces":[],"replaced-by":[],"tokens":["national","science","foundation","usa","nsf","nsf","us","nsf"]}]}}'
  recorded_at: 2021-08-17 17:23:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
