http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427/works?rows=0&facet=t
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"affiliation":{"value-count":0,"values":{}},"license":{"value-count":0,"values":{}},"container-title":{"value-count":1,"values":{"Journal
        of Landscape Ecology":49}},"publisher-name":{"value-count":1,"values":{"Walter
        de Gruyter GmbH":49}},"orcid":{"value-count":0,"values":{}},"update-type":{"value-count":0,"values":{}},"published":{"value-count":5,"values":{"2011":15,"2010":10,"2008":10,"2009":9,"2012":5}},"funder-name":{"value-count":0,"values":{}},"archive":{"value-count":0,"values":{}},"type-name":{"value-count":1,"values":{"Journal
        Article":49}},"relation-type":{"value-count":0,"values":{}},"issn":{"value-count":1,"values":{"http:\/\/id.crossref.org\/issn\/1803-2427":49}},"source":{"value-count":1,"values":{"Crossref":49}},"journal-issue":{"value-count":3,"values":{"1":24,"2":20,"3":5}},"category-name":{"value-count":0,"values":{}},"assertion":{"value-count":0,"values":{}},"assertion-group":{"value-count":0,"values":{}},"journal-volume":{"value-count":5,"values":{"4":15,"3":10,"1":10,"2":9,"5":5}},"funder-doi":{"value-count":0,"values":{}}},"total-results":49,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2018-12-07 22:33:16 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
