http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":108919,"items":[{"last-status-check-time":1667952391165,"counts":{"current-dois":574,"backfile-dois":10734,"total-dois":11308},"breakdowns":{"dois-by-issued-year":[[2009,493],[2002,402],[2001,395],[2004,393],[2007,386],[2003,383],[2006,374],[2000,362],[2008,354],[2005,352],[1996,342],[1999,338],[1995,337],[1998,333],[1997,311],[2016,299],[1994,291],[1993,285],[2010,280],[2011,263],[1992,261],[1990,260],[1991,249],[2021,225],[1989,225],[1988,225],[2014,221],[2020,211],[2017,207],[2012,207],[2019,204],[1987,183],[2018,180],[2013,166],[2015,155],[1986,148],[2022,138],[1984,136],[1982,129],[1985,124],[1983,112],[1981,89],[1980,76],[1979,53],[1976,51],[1975,46],[1977,39],[1978,15]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.8292682926829268,"similarity-checking-current":0.9390243902439024,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.09549096329420532,"licenses-backfile":0.9915222656977827,"funders-current":0.5452961672473868,"affiliations-backfile":0.1187814421464505,"resource-links-backfile":0.9871436556735605,"orcids-backfile":0.04453139556549283,"update-policies-current":0.9390243902439024,"ror-ids-backfile":0.0,"orcids-current":0.6829268292682927,"similarity-checking-backfile":0.9694428917458543,"references-backfile":0.8474939444754984,"descriptions-backfile":0.0,"award-numbers-backfile":0.07825600894354388,"update-policies-backfile":0.02012297372833985,"licenses-current":0.9390243902439024,"award-numbers-current":0.3484320557491289,"abstracts-backfile":0.0,"resource-links-current":0.9390243902439024,"abstracts-current":0.0,"references-current":0.8292682926829268},"title":"Journal
        of Neuroscience Research","subjects":[{"ASJC":2804,"name":"Cellular and Molecular
        Neuroscience"}],"coverage-type":{"all":{"last-status-check-time":1667952391165,"affiliations":0.1548324343443275,"abstracts":0.0,"orcids":0.0769298788575471,"licenses":0.9887700061897604,"references":0.8464939428773544,"funders":0.1183128481740207,"similarity-checking":0.9679016712352994,"award-numbers":0.09196215403660801,"ror-ids":0.0,"update-policies":0.06676098682465292,"resource-links":0.9846140242284906,"descriptions":0.0},"backfile":{"last-status-check-time":1667952391165,"affiliations":0.1187814421464505,"abstracts":0.0,"orcids":0.04453139556549283,"licenses":0.9915222656977827,"references":0.8474939444754984,"funders":0.09549096329420532,"similarity-checking":0.9694428917458543,"award-numbers":0.07825600894354388,"ror-ids":0.0,"update-policies":0.02012297372833985,"resource-links":0.9871436556735605,"descriptions":0.0},"current":{"last-status-check-time":1667952391165,"affiliations":0.8292682926829268,"abstracts":0.0,"orcids":0.6829268292682927,"licenses":0.9390243902439024,"references":0.8292682926829268,"funders":0.5452961672473868,"similarity-checking":0.9390243902439024,"award-numbers":0.3484320557491289,"ror-ids":0.0,"update-policies":0.9390243902439024,"resource-links":0.9390243902439024,"descriptions":0.0}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0360-4012","1097-4547"],"issn-type":[{"value":"0360-4012","type":"print"},{"value":"1097-4547","type":"electronic"}]},{"last-status-check-time":1667952392011,"counts":{"current-dois":893,"backfile-dois":15201,"total-dois":16094},"breakdowns":{"dois-by-issued-year":[[2003,470],[1994,462],[2002,456],[2004,439],[2001,438],[1987,429],[2005,427],[1998,418],[1984,415],[1988,404],[1981,402],[2000,381],[1983,379],[1996,378],[2009,375],[1978,373],[2011,370],[1990,370],[1992,369],[2010,365],[1995,356],[1991,352],[1997,350],[2012,348],[1982,343],[2020,341],[1999,341],[2[...]
