http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/0074-7742/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 404 Not Found
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: Resource not found.
  recorded_at: 2022-11-09 09:35:12 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/journals/1574-6941/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4321,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:08:49Z","timestamp":1648562929391},"reference-count":28,"publisher":"Oxford
        University Press (OUP)","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1998,11]]},"DOI":"10.1111\/j.1574-6941.1998.tb00541.x","type":"journal-article","created":{"date-parts":[[2006,1,17]],"date-time":"2006-01-17T08:13:04Z","timestamp":1137485584000},"page":"251-260","source":"Crossref","is-referenced-by-count":14,"title":["Colonisation
        and transmission of lux-marked and wild-type Aeromonas salmonicida strains
        in Atlantic salmon (Salmo salar L.)"],"prefix":"10.1093","volume":"27","author":[{"given":"Yvonne","family":"Ferguson","sequence":"first","affiliation":[]},{"given":"Ian
        R","family":"Bricknell","sequence":"additional","affiliation":[]},{"given":"L.Anne","family":"Glover","sequence":"additional","affiliation":[]},{"given":"Doreen
        M","family":"MacGregor","sequence":"additional","affiliation":[]},{"given":"Jim
        I","family":"Prosser","sequence":"additional","affiliation":[]}],"member":"286","reference":[{"key":"10.1111\/j.1574-6941.1998.tb00541.x-BIB1|cit1","unstructured":""},{"key":"10.1111\/j.1574-6941.1998.tb00541.x-BIB2|cit2","unstructured":"Aeromonas
        salmonicida"},{"key":"10.1111\/j.1574-6941.1998.tb00541.x-BIB3|cit3","first-page":"573","article-title":"The
        infectivity by different routes of exposure and shedding rates of Aeromonas
        salmonicida subsp","volume":"12","author":"Rose","year":"1989","journal-title":"salmonicida
        in Atlantic salmon, Salmo salar L., held in sea water. J. Fish Dis."},{"key":"10.1111\/j.1574-6941.1998.tb00541.x-BIB4|cit4","doi-asserted-by":"crossref","first-page":"420","DOI":"10.1111\/j.1365-2761.1992.tb01242.x","article-title":"Infectious
        load of Aeromonas salmonicida during the initial phase of a cohabitant infection
        experiment with Atlantic salmon, Salmo salar L","volume":"15","author":"Enger","year":"1992","journal-title":"J.
        Fish Dis."},{"key":"10.1111\/j.1574-6941.1998.tb00541.x-BIB5|cit5","doi-asserted-by":"crossref","first-page":"127","DOI":"10.1111\/j.1365-2761.1995.tb00270.x","article-title":"A
  [...]
