http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1932-6203/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAADId0zFmJsa3E5SWZHUmhTeDhLTW5sdDFCdVEAAAAAAcTlwBY3Q0NNek5lOFEzRzJTVmdBekhld21RAAAAAAGhz1EWWDloMXdoTzlRT3VIaEI5MmZPUkU4UQAAAAAB4R3-FnlfU2hSRFNHUWpXbDBMX0lLSkJzTEEAAAAAAeEd_xZ5X1NoUkRTR1FqV2wwTF9JS0pCc0xBAAAAAAMnlA0WZjl2cmtrRUhSQnFFbnZ5NTBIa2RRUQ==","total-results":254200,"items":[{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T03:15:08Z","timestamp":1620443708669},"update-to":[{"updated":{"date-parts":[[2016,2,4]],"date-time":"2016-02-04T00:00:00Z","timestamp":1454544000000},"DOI":"10.1371\/journal.pone.0128806","type":"correction","label":"Correction"}],"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","issue":"2","content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0148970","type":"journal-article","created":{"date-parts":[[2016,2,4]],"date-time":"2016-02-04T18:49:44Z","timestamp":1454611784000},"page":"e0148970","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":0,"title":["Correction:
        Human Milk Warming Temperatures Using a Simulation of Currently Available
        Storage and Warming Methods"],"prefix":"10.1371","volume":"11","author":[{"given":"Sharron","family":"Bransburg-Zabary","sequence":"first","affiliation":[]},{"given":"Alexander","family":"Virozub","sequence":"additional","affiliation":[]},{"given":"Francis
        B.","family":"Mimouni","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2016,2,4]]},"container-title":["PLOS
        ONE"],"language":"en","deposited":{"date-parts":[[2018,10,22]],"date-time":"2018-10-22T18:29:05Z","timestamp":1540232945000},"score":0.0,"issued":{"date-parts":[[2016,2,4]]},"references-count":0,"journal-issue":{"issue":"2","published-online":{"date-parts":[[2016,2,4]]}},"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0148970","ISSN":["1932-6203"],"issn-type":[{"value":"1932-6203","type":"electronic"}],"subject":["Multidisciplinary"],"published":{"date-parts":[[2016,2,4]]}},{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T03:25:01Z","timestamp":1620444301070},"reference-count":35,"publisher":"Public
        Library of Science (PLoS)","issue":"2","license":[{"start":{"date-parts":[[2016,2,12]],"date-time":"2016-02-12T00:00:00Z","timestamp":1455235200000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0149350","type":"journal-article","created":{"date-parts":[[2016,2,12]],"date-time":"2016-02-12T13:40:55Z","timestamp":1455284455000},"page":"e0149350","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":0,"title":["RV-Typer:
        A Web Server for Typing of Rhinoviruses Using Alignment-Free Approach"],"prefix":"10.1371","volume":"11","author":[{"given":"Pandurang
        S.","family":"Kolekar","sequence":"first","affiliation":[]},{"given":"Vaishali
        P.","family":"Waman","sequence":"additional","affiliation":[]},{"given":"Mohan
        M.","family":"Kale","sequence":"additional","affiliation":[]},{"given":"Urmila","family":"Kulkarni-Kale","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2016,2,12]]},"reference":[{"issue":"1","key":"ref1","doi-asserted-by":"crossref","first-page":"69","DOI":"10.1016\/j.jaci.2012.09.033","article-title":"Human
        rhinovirus C: Age, season, and lower respiratory illness over the past 3 decades","volume":"131","author":"JE
        Linder","year":"2013","journal-title":"J Allergy Clin Immunol"},{"issue":"5","key":"ref2","doi-asserted-by":"crossref","first-page":"553","DOI":"10.1097\/INF.0b013e3182833c90","article-title":"New
        aspects on human rhinovirus infections","volume":"32","author":"O Ruuskanen","year":"2013","journal-title":"Pediatr
        Infect Dis J"},{"issue":"5","key":"ref3","doi-asserted-by":"crossref","first-page":"1037","DOI":"10.1183\/09031936.00092410","article-title":"Association
        between human rhinovirus C and severity of acute asthma in children","volume":"37","author":"J
        Bizzintino","year":"2011","journal-title":"Eur Respir J"},{"key":"ref4","unstructured":"ICTV
        Picornaviridae study group. Available: <ext-link xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\"
        ext-link-type=\"uri\" xlink:href=\"http:\/\/www.picornastudygroup.com\/types\/enterovirus\/enterovirus.htm\"
        xlink:type=\"simple\">http:\/\/www.picornastudygroup.com\/types\/enterovirus\/enterovirus.htm<\/ext-link>.
        Accessed 2015 Oct 21."},{"key":"ref5","unstructured":"Picornaviridae website.
        Available: <ext-link xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" ext-link-type=\"uri\"
        xlink:href=\"http:\/\/www.picornaviridae.com\/enterovirus\/enterovirus.htm\"
        xlink:type=\"simple\">http:\/\/www.picornaviridae.com\/enterovirus\/enterovirus.htm<\/ext-link>.
        Accessed 2015 Oct 21."},{"issue":"2","key":"ref6","doi-asserted-by":"crossref","first-page":"e88981","DOI":"10.1371\/journal.pone.0088981","article-title":"Population
        Structure and Evolution of Rhinoviruses","vol[...]
- request:
    method: get
    uri: https://api.crossref.org/journals/1932-6203/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAADId0zFmJsa3E5SWZHUmhTeDhLTW5sdDFCdVEAAAAAAcTlwBY3Q0NNek5lOFEzRzJTVmdBekhld21RAAAAAAGhz1EWWDloMXdoTzlRT3VIaEI5MmZPUkU4UQAAAAAB4R3-FnlfU2hSRFNHUWpXbDBMX0lLSkJzTEEAAAAAAeEd_xZ5X1NoUkRTR1FqV2wwTF9JS0pCc0xBAAAAAAMnlA0WZjl2cmtrRUhSQnFFbnZ5NTBIa2RRUQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/[...]
[...]
