http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1932-6203/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ+6+Pi8egCPw9odHRwOi8vZHguZG9pLm9yZy8xMC4xMzcxL2pvdXJuYWwucG9uZS4wMDU0NTcx","total-results":217601,"items":[{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:09:21Z","timestamp":1550005761404},"reference-count":52,"publisher":"Public
        Library of Science (PLoS)","issue":"1","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2013,1,28]],"date-time":"2013-01-28T00:00:00Z","timestamp":1359331200000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0055084","type":"journal-article","created":{"date-parts":[[2013,1,29]],"date-time":"2013-01-29T00:36:15Z","timestamp":1359419775000},"page":"e55084","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":19,"title":["IGFBP-3
        Inhibits Cytokine-Induced Insulin Resistance and Early Manifestations of Atherosclerosis"],"prefix":"10.1371","volume":"8","author":[{"given":"Lathika","family":"Mohanraj","sequence":"first","affiliation":[]},{"given":"Ho-Seong","family":"Kim","sequence":"additional","affiliation":[]},{"given":"Wei","family":"Li","sequence":"additional","affiliation":[]},{"given":"Qing","family":"Cai","sequence":"additional","affiliation":[]},{"given":"Ki
        Eun","family":"Kim","sequence":"additional","affiliation":[]},{"given":"Hye-Jung","family":"Shin","sequence":"additional","affiliation":[]},{"given":"Yong-Jae","family":"Lee","sequence":"additional","affiliation":[]},{"given":"Woo
        Jung","family":"Lee","sequence":"additional","affiliation":[]},{"given":"Jung
        Hyun","family":"Kim","sequence":"additional","affiliation":[]},{"given":"Youngman","family":"Oh","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2013,1,28]]},"reference":[{"key":"ref1","doi-asserted-by":"crossref","first-page":"242","DOI":"10.1001\/jama.2009.2012","article-title":"Prevalence
        of high body mass index in US children and adolescents, 2007\u20132008","volume":"303","author":"CL
        Ogden","year":"2010","journal-title":"JAMA"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"1567","DOI":"10.1016\/0026-0495(76)90109-8","article-title":"The
        development of obesity, hyperinsulinemia, and hyperglycemia in ob\/ob mice","volume":"25","author":"PU
        Dubuc","year":"1976","journal-title":"Metabolism"},{"key":"ref3","doi-asserted-by":"crossref","first-page":"671","DOI":"10.1161\/01.CIR.0000055188.83694.B3","article-title":"Reciprocal
        association of C-reactive protein with adiponectin in blood stream and adipose
        tissue","volume":"107","author":"N Ouchi","year":"2003","journal-title":"Circulation"},{"key":"ref4","doi-asserted-by":"crossref","first-page":"33","DOI":"10.1172\/JCI27280","article-title":"Inflamed
        fat: what starts the fire","volume":"116","author":"JG Neels","year":"2006","journal-title":"J
        Clin Invest"},{"key":"ref5","first-page":"761","article-title":"The insulin-like
        growth factor-binding protein (IGFBP) superfamily","volume":"20","author":"V
        Hwa","year":"1999","journal-title":"Endocr Rev"},{"key":"ref6","doi-asserted-by":"crossref","first-page":"1319","DOI":"10.1210\/jc.2006-1631","article-title":"Association
        of total insulin-like growth factor-I, insulin-like growth factor binding
        protein-1 (IGFBP-1), and IGFBP-3 levels with incident coronary events and
        ischemic stroke","volume":"92","author":"RC Kaplan","year":"2007","journal-title":"J
        Clin Endocrinol Metab"},{"key":"ref7","unstructured":"Spilcke-Liss E, Friedrich
        N, Dorr M, Schminke U, Volzke H, <etal>et al<\/etal>. (2011) Serum Insulin-like
        Growth Factor-I and its Binding Protein 3 in their Relation to Intima Media
        Thickness: Results of the Study of Health in Pomerania (SHIP). Clin Endocrinol
        (Oxf)."},{"key":"ref8","doi-asserted-by":"crossref","first-page":"91","DOI":"10.1016\/j.ghir.2003.11.004","article-title":"The
        IGF-I system component concentrations that decrease with ageing are lower
        in obesity in relationship to body mass index and body fat","volume":"14","author":"JM
        Gomez","year":"2004","journal-title":"Growth Horm IGF Res"},{"key":"ref9","doi-asserted-by":"crossref","first-p[...]
- request:
    method: get
    uri: https://api.crossref.org/journals/1932-6203/works?rows=30&cursor=AoJ%2B6%2BPi8egCPw9odHRwOi8vZHguZG9pLm9yZy8xMC4xMzcxL2pvdXJuYWwucG9uZS4wMDU0NTcx
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 20[...]
