http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427/works?rows=0&facet=issn%3A%2A%2Ccontainer-title%3A%2A%2Cjournal-issue%3A%2A%2Clink-application%3A%2A%2Caffiliation%3A%2A%2Cassertion%3A%2A%2Cassertion-group%3A%2A%2Corcid%3A%2A%2Cupdate-type%3A%2A%2Cfunder-name%3A%2A%2Carchive%3A%2A%2Ccategory-name%3A%2A%2Crelation-type%3A%2A%2Cpublished%3A%2A%2Csource%3A%2A%2Ctype-name%3A%2A%2Cpublisher-name%3A%2A%2Cjournal-volume%3A%2A%2Clicense%3A%2A%2Cfunder-doi%3A%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '504'
      message: Gateway Timeout
      explanation: The gateway server did not receive a timely response
    headers:
      status: HTTP/1.1 504 Gateway Time-out
      content-type: text/html
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: ''
      file: no
      string: "<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body>\r\n<center><h1>504
        Gateway Time-out</h1></center>\r\n</body>\r\n</html>\r\n"
  recorded_at: 2022-11-09 12:46:54 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
