http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427/works?rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":49,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T05:10:09Z","timestamp":1648962609164},"reference-count":13,"publisher":"Walter
        de Gruyter GmbH","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2010,1,1]]},"DOI":"10.2478\/v10285-012-0020-5","type":"journal-article","created":{"date-parts":[[2012,8,10]],"date-time":"2012-08-10T09:14:42Z","timestamp":1344590082000},"source":"Crossref","is-referenced-by-count":1,"title":["The
        Survival and Growth Rates of Woody Vegetation in the Man-Made Vracov Biocorridor
        During the Period of 1993-2007"],"prefix":"10.2478","volume":"3","author":[{"given":"Boleslav","family":"Jel\u00ednek","sequence":"first","affiliation":[]},{"given":"Lubo\u0161","family":"\u00daradn\u00ed\u010dek","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"1","doi-asserted-by":"crossref","first-page":"254","volume-title":"Linkages
        in the landscape: The role of corridors and connectivity in Wildlife conservation","author":"A.
        Bennett","year":"2003","DOI":"10.2305\/IUCN.CH.2004.FR.1.en"},{"key":"2","first-page":"28","volume-title":"Linkages
        in Practice: a Review of Their Conservation Practice","author":"G. Bennett","year":"2004"},{"key":"3","first-page":"27","article-title":"Biogeographical
        approach to the creation of territorial systems of landscape ecological stability","volume":"21\/4","author":"A.
        Bu\u010dek","year":"1984","journal-title":"Zpr\u00e1vy Geografick\u00e9ho
        \u00fastavu \u010cSAV Brno"},{"key":"4","first-page":"44","article-title":"An
        Ecological Network in the Czech Republic","volume":"10","author":"A. Bu\u010dek","year":"1995","journal-title":"Veronica"},{"key":"5","first-page":"491","volume-title":"Greenways:
        The Beginning of an International Movement","author":"J. Fabos","year":"1996"},{"key":"6","first-page":"323","volume-title":"Corridor
        Ecology: The Science and Practice of Linking Landscapes for Biodiversity Conservation","author":"J.
        Hilty","year":"2006"},{"key":"7","doi-asserted-by":"crossref","first-page":"345","volume-title":"Ecological
        networks and greenways: concept, design implementation","author":"R. Jongman","year":"2004","DOI":"10.1017\/CBO9780511606762"},{"key":"8","first-page":"122","volume-title":"Rukov\u011b\u0165
        projektanta \u00fazemn\u00edho syst\u00e9mu ekologick\u00e9 stability","author":"J.
        L\u00f6w","year":"1995"},{"key":"9","volume-title":"Dendrologicko - ekologick\u00e9
        hodnocen\u00ed biokoridoru Vracov, bakal\u00e1\u0159sk\u00e1 pr\u00e1ce","author":"Z.
        Seluck\u00fd","year":"2008"},{"key":"10","first-page":"17","volume-title":"Hodnocen\u00ed
        d\u0159evinn\u00e9 slo\u017eky biokoridor\u016f","author":"L. \u00daradn\u00ed\u010dek","year":"2001"},{"key":"11","article-title":"Hodnocen\u00ed
        r\u016fstu d\u0159evin v biokoridoru Vracov (Woody species growth evaluation
        in biocorridor Vracov)","author":"L. \u00daradn\u00ed\u010dek","year":"2002"},{"key":"12","first-page":"351","volume-title":"Ekol\u00f3gia","volume":"23","author":"L.
        \u00daradn\u00ed\u010dek","year":"2004"},{"key":"13","first-page":"52","volume-title":"Zakl\u00e1d\u00e1n\u00ed
        m\u00edstn\u00edch \u00fazemn\u00edch syst\u00e9m\u016f na zem\u011bd\u011blsk\u00e9
        p\u016fd\u011b","author":"E. Zimov\u00e1","year":"2002"}],"container-title":["Journal
        of Landscape Ecology"],"link":[{"URL":"https:\/\/www.degruyter.com\/view\/j\/jlecol.2010.3.issue-1\/v10285-012-0020-5\/v10285-012-0020-5.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,5,30]],"date-time":"2020-05-30T16:09:57Z","timestamp":1590854997000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/content.sciendo.com\/doi\/10.2478\/v10285-012-0020-5"}},"issued":{"date-parts":[[2010,1,1]]},"references-count":13,"journal-issue":{"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.2478\/v10285-012-0020-5","ISSN":["1803-2427"],"issn-type":[{"value":"1803-2427","type":"print"}],"subject":["Management,
        Monitoring, Policy and Law","Nature and Landscape Conservation","Ecology"],"published":{"date-parts":[[2010,1,1]]}},{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T17:12:33Z","timestamp":1648746753757},"reference-count":11,"publisher":"Walter
        de Gruyter GmbH","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2011,1,1]]},"DOI":"10.2478\/v10285-012-0042-z","type":"journal-article","created":{"date-parts":[[2012,8,10]],"date-time":"2012-08-10T09:14:57Z","timestamp":1344590097000},"source":"Crossref","is-referenced-by-count":0,"title":["Destructive
        Evolution of Postmeliorated Landscapes of Central Meschera"],"prefix":"10.2478","volume":"4","author":[{"given":"Tatiana","family":"Kharitonova","sequence":"first","affiliation":[]}],"member":"374","reference":[{"key":"1","unstructured":"\u0410\u0432\u0435\u0441\u0441\u0430\u043b\u043e\u043c\u043e\u0432\u0430,
        \u0418.\u0410., \u0414\u044c\u044f\u043a\u043e\u043d\u043e\u0432, \u041a.\u041d.
        (1983). \u0413\u0435\u043e\u0445\u0438\u043c\u0438\u0447\u0435\u0441\u043a\u0438\u0435
        \u0430\u0441\u043f\u0435\u043a\u0442\u044b \u043e\u0441\u0443\u0448\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0439
        \u043c\u0435\u043b\u0438\u043e\u0440\u0430\u0446\u0438\u0438 \u0432 \u0434\u043e\u043b\u0438\u043d\u043d\u043[...]
