http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=peerj&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":4,"query":{"start-index":0,"search-terms":"peerj"},"total-results":2,"items":[{"last-status-check-time":1544204666743,"counts":{"total-dois":6023,"current-dois":4519,"backfile-dois":1504},"breakdowns":{"dois-by-issued-year":[[2018,1855],[2017,1368],[2016,1296],[2015,801],[2014,471],[2013,232]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.9437928795814514,"similarity-checking-current":0.9944677948951721,"funders-backfile":0.13630318641662598,"licenses-backfile":0.1808510571718216,"funders-current":0.7933170795440674,"affiliations-backfile":0.9966755509376526,"resource-links-backfile":0.1808510571718216,"orcids-backfile":0.0013297871919348836,"update-policies-current":0.0,"open-references-backfile":1.0,"orcids-current":0.1451648622751236,"similarity-checking-backfile":1.0,"references-backfile":1.0,"award-numbers-backfile":0.08976063877344131,"update-policies-backfile":0.0,"licenses-current":0.9944677948951721,"award-numbers-current":0.604779839515686,"abstracts-backfile":0.1808510571718216,"resource-links-current":0.9944677948951721,"abstracts-current":0.9944677948951721,"open-references-current":1.0,"references-current":0.9940252304077148},"title":"PeerJ","subjects":[{"name":"General
        Agricultural and Biological Sciences","ASJC":1100},{"name":"General Biochemistry,
        Genetics and Molecular Biology","ASJC":1300},{"name":"General Medicine","ASJC":2700},{"name":"General
        Neuroscience","ASJC":2800}],"coverage-type":{"all":{"last-status-check-time":1544204659184,"affiliations":0.9569981694221497,"abstracts":0.7912999987602234,"orcids":0.10924788564443588,"licenses":0.7912999987602234,"references":0.9955171942710876,"funders":0.6292545199394226,"similarity-checking":0.9958492517471313,"award-numbers":0.47617465257644653,"update-policies":0.0,"resource-links":0.7912999987602234,"open-references":1.0},"backfile":{"last-status-check-time":1544204658299,"affiliations":0.9966755509376526,"abstracts":0.1808510571718216,"orcids":0.0013297871919348836,"licenses":0.1808510571718216,"references":1.0,"funders":0.13630318641662598,"similarity-checking":1.0,"award-numbers":0.08976063877344131,"update-policies":0.0,"resource-links":0.1808510571718216,"open-references":1.0},"current":{"last-status-check-time":1544204657418,"affiliations":0.9437928795814514,"abstracts":0.9944677948951721,"orcids":0.1451648622751236,"licenses":0.9944677948951721,"references":0.9940252304077148,"funders":0.7933170795440674,"similarity-checking":0.9944677948951721,"award-numbers":0.604779839515686,"update-policies":0.0,"resource-links":0.9944677948951721,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["2167-8359"],"issn-type":[{"value":"2167-8359","type":"electronic"}]},{"last-status-check-time":1544158187248,"counts":{"total-dois":167,"current-dois":129,"backfile-dois":38},"breakdowns":{"dois-by-issued-year":[[2016,63],[2017,41],[2015,38],[2018,25]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.9379844665527344,"similarity-checking-current":0.9922480583190918,"funders-backfile":0.28947368264198303,"licenses-backfile":0.42105263471603394,"funders-current":0.7209302186965942,"affiliations-backfile":1.0,"resource-links-backfile":0.4210[...]
