http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":63475,"items":[{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"Innovative
        Medical Technologies Development Foundation","coverage":null,"title":"36510","subjects":[],"coverage-type":null,"flags":null,"ISSN":[],"issn-type":[]},{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"Fundacao
        Educacional de Criciuma- FUCRI","coverage":null,"title":"A ESCALA DE BORG
        COMO INSTRUMENTO DE MENSURA\u00c7\u00c3O DA INTENSIDADE DE AULAS DE ZUMBA","subjects":[],"coverage-type":null,"flags":null,"ISSN":[],"issn-type":[]},{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"Cairo
        Center for Development Benchmarking","coverage":null,"title":"A General Approach
 [...]
