http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=peerj&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":4,"query":{"start-index":0,"search-terms":"peerj"},"total-results":11,"items":[{"last-status-check-time":1667862110297,"counts":{"current-dois":6013,"backfile-dois":8227,"total-dois":14240},"breakdowns":{"dois-by-issued-year":[[2020,2281],[2019,2127],[2021,2119],[2018,1932],[2022,1613],[2017,1368],[2016,1296],[2015,801],[2014,471],[2013,232]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.9203392649259937,"similarity-checking-current":0.9998336936637287,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.6757019569709493,"licenses-backfile":0.8469673027835177,"funders-current":0.8155662730750042,"affiliations-backfile":0.9416555244925247,"resource-links-backfile":0.8469673027835177,"orcids-backfile":0.1629998784490094,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.3000166306336271,"similarity-checking-backfile":0.9965965722620639,"references-backfile":0.9959888173088611,"descriptions-backfile":0.0,"award-numbers-backfile":0.5265588914549654,"update-policies-backfile":0.0,"licenses-current":0.9998336936637287,"award-numbers-current":0.6745384999168468,"abstracts-backfile":0.8469673027835177,"resource-links-current":0.9998336936637287,"abstracts-current":0.9998336936637287,"references-current":0.9990021619823715},"title":"PeerJ","subjects":[{"ASJC":1100,"name":"General
        Agricultural and Biological Sciences"},{"ASJC":1300,"name":"General Biochemistry,
        Genetics and Molecular Biology"},{"ASJC":2700,"name":"General Medicine"},{"ASJC":2800,"name":"General
        Neuroscience"}],"coverage-type":{"all":{"last-status-check-time":1667862110297,"affiliations":0.9326544943820225,"abstracts":0.9115168539325843,"orcids":0.2208567415730337,"licenses":0.9115168539325843,"references":0.9972612359550562,"funders":0.7347612359550562,"similarity-checking":0.9979634831460674,"award-numbers":0.5890449438202247,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.9115168539325843,"descriptions":0.0},"backfile":{"last-status-check-time":1667862110297,"affiliations":0.9416555244925247,"abstracts":0.8469673027835177,"orcids":0.1629998784490094,"licenses":0.8469673027835177,"references":0.9959888173088611,"funders":0.6757019569709493,"similarity-checking":0.9965965722620639,"award-numbers":0.5265588914549654,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.8469673027835177,"descriptions":0.0},"current":{"last-status-check-time":1667862110297,"affiliations":0.9203392649259937,"abstracts":0.9998336936637287,"orcids":0.3000166306336271,"licenses":0.9998336936637287,"references":0.9990021619823715,"funders":0.8155662730750042,"similarity-checking":0.9998336936637287,"award-numbers":0.6745384999168468,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.9998336936637287,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["2167-8359"],"issn-type":[{"value":"2167-8359","type":"electronic"}]},{"last-status-check-time":1667968141739,"counts":{"current-dois":883,"backfile-dois":244,"total-dois":1127},"breakdowns":{"dois-by-issued-year":[[2021,468],[2022,328],[2020,87],[2019,76],[2016,63],[2017,41],[2015,38],[2018,26]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.8437146092865232,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.6024590163934426,"licenses-backfile":0.9057377049180328,"funders-current":0.5[...]
