http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427/works?rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":49,"items":[{"indexed":{"date-parts":[[2018,8,2]],"date-time":"2018-08-02T20:43:01Z","timestamp":1533242581245},"reference-count":50,"publisher":"Walter
        de Gruyter GmbH","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2010,1,1]]},"DOI":"10.2478\/v10285-012-0023-2","type":"journal-article","created":{"date-parts":[[2012,8,10]],"date-time":"2012-08-10T09:14:42Z","timestamp":1344590082000},"source":"Crossref","is-referenced-by-count":5,"title":["Structural
        Versus Functional Habitat Connectivity Measures to Explain Bird Diversity
        in Fragmented Orchards"],"prefix":"10.2478","volume":"3","author":[{"given":"Susanne","family":"M\u00fchlner","sequence":"first","affiliation":[]},{"given":"Urs","family":"Kormann","sequence":"additional","affiliation":[]},{"given":"Martin","family":"Schmidt-Entling","sequence":"additional","affiliation":[]},{"given":"Felix","family":"Herzog","sequence":"additional","affiliation":[]},{"given":"Debra","family":"Bailey","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"1","doi-asserted-by":"crossref","first-page":"233","DOI":"10.1016\/S0169-2046(02)00242-6","article-title":"The
        application of least-cost modelling as a functional landscape model","volume":"64","author":"F.
        Adriaensen","year":"2003","journal-title":"Landscape and Urban Planning"},{"key":"2","doi-asserted-by":"crossref","first-page":"863","DOI":"10.1111\/j.1442-9993.2008.01857.x","article-title":"Using
        gap-crossing capacity to evaluate functional connectivity of two Atlantic
        rainforest birds and their response to fragmentation","volume":"33","author":"M.
        Awade","year":"2008","journal-title":"Austral Ecology"},{"key":"3","doi-asserted-by":"crossref","first-page":"461","DOI":"10.1007\/s10980-006-9035-9","article-title"[...]
