http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/blblbl
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json;charset=utf-8
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: Resource not found.
  recorded_at: 2021-08-13 12:56:29 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/journals/1932-6203
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1628817630754,"counts":{"current-dois":43270,"backfile-dois":211409,"total-dois":254679},"breakdowns":{"dois-by-issued-year":[[2013,32985],[2014,31876],[2015,29815],[2012,24090],[2016,23022],[2017,21150],[2018,18832],[2020,16685],[2019,16226],[2011,14025],[2021,10359],[2010,6911],[2009,4534],[2008,2801],[2007,1230],[2006,138]]},"publisher":"Public
        Library of Science","coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"funders-backfile":0.1732754991509349,"licenses-backfile":0.9924837636997479,"funders-current":0.5777675063554426,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.1730342606038532,"update-policies-current":1.0,"open-references-backfile":1.0,"orcids-current":0.9397966258377629,"similarity-checking-backfile":0.9139487912056724,"references-backfile":0.9139487912056724,"award-numbers-backfile":0.1472075455633393,"update-policies-backfile":0.9999668888268711,"licenses-current":1.0,"award-numbers-current":0.4970187196672059,"abstracts-backfile":3.784134071870166E-5,"resource-links-current":0.0,"abstracts-current":0.2978275941761035,"open-references-current":1.0,"references-current":0.9999768892997458},"title":"PLoS
        ONE","subjects":[{"ASJC":1000,"name":"Multidisciplinary"}],"coverage-type":{"all":{"last-status-check-time":1628817630754,"affiliations":0.0,"abstracts":0.05063236466296789,"orcids":0.3033073005626691,"licenses":0.9937607733656878,"references":0.9285649778741082,"funders":0.2419987513693709,"similarity-checking":0.9285689043855206,"award-numbers":0.20664051610066,"update-policies":0.9999725144201131,"resource-links":0.0,"open-references":1.0},"backfile":{"last-status-check-time":1628817630754,"affiliations":0.0,"abstracts":3.784134071870166E-5,"orcids":0.1730342606038532,"licenses":0.9924837636997479,"references":0.9139487912056724,"funders":0.1732754991509349,"similarity-checking":0.9139487912056724,"award-numbers":0.1472075455633393,"update-policies":0.9999668888268711,"resource-links":0.0,"open-references":1.0},"current":{"last-status-check-time":1628817630754,"affiliations":0.0,"abstracts":0.2978275941761035,"orcids":0.9397966258377629,"licenses":1.0,"references":0.9999768892997458,"funders":0.5777675063554426,"similarity-checking":1.0,"award-numbers":0.4970187196672059,"update-policies":1.0,"resource-links":0.0,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1932-6203"],"issn-type":[{"value":"1932-6203","type":"electronic"}]}}'
  recorded_at: 2021-08-13 12:56:29 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
