http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427/works?rows=0&facet=issn%3A%2A%2Ccontainer-title%3A%2A%2Cjournal-issue%3A%2A%2Clink-application%3A%2A%2Caffiliation%3A%2A%2Cassertion%3A%2A%2Cassertion-group%3A%2A%2Corcid%3A%2A%2Cupdate-type%3A%2A%2Cfunder-name%3A%2A%2Carchive%3A%2A%2Ccategory-name%3A%2A%2Crelation-type%3A%2A%2Cpublished%3A%2A%2Csource%3A%2A%2Ctype-name%3A%2A%2Cpublisher-name%3A%2A%2Cjournal-volume%3A%2A%2Clicense%3A%2A%2Cfunder-doi%3A%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"affiliation":{"value-count":0,"values":{}},"license":{"value-count":0,"values":{}},"container-title":{"value-count":1,"values":{"Journal
        of Landscape Ecology":49}},"publisher-name":{"value-count":1,"values":{"Walter
        de Gruyter GmbH":49}},"link-application":{"value-count":2,"values":{"similarity-checking":49,"text-mining":20}},"orcid":{"value-count":0,"values":{}},"update-type":{"value-count":0,"values":{}},"published":{"value-count":5,"values":{"2011":15,"2010":10,"2008":10,"2009":9,"2012":5}},"funder-name":{"value-count":0,"values":{}},"archive":{"value-count":0,"values":{}},"type-name":{"value-count":1,"values":{"Journal
        Article":49}},"relation-type":{"value-count":0,"values":{}},"issn":{"value-count":1,"values":{"http:\/\/id.crossref.org\/issn\/1803-2427":49}},"source":{"value-count":1,"values":{"Crossref":49}},"journal-issue":{"value-count":3,"values":{"1":24,"2":20,"3":5}},"category-name":{"value-count":3,"values":{"Nature
        and Landscape Conservation":49,"Management, Monitoring, Policy and Law":49,"Ecology":49}},"assertion":{"value-count":0,"values":{}},"assertion-group":{"value-count":0,"values":{}},"journal-volume":{"value-count":5,"values":{"4":15,"3":10,"1":10,"2":9,"5":5}},"funder-doi":{"value-count":0,"values":{}}},"total-results":49,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2021-08-01 15:45:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
