http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=peerj&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":4,"query":{"start-index":0,"search-terms":"peerj"},"total-results":8,"items":[{"last-status-check-time":1627784582317,"counts":{"current-dois":5675,"backfile-dois":6100,"total-dois":11775},"breakdowns":{"dois-by-issued-year":[[2020,2281],[2019,2126],[2018,1932],[2017,1368],[2016,1296],[2021,1268],[2015,801],[2014,471],[2013,232]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.9120704845814978,"similarity-checking-current":0.9994713656387665,"funders-backfile":0.630655737704918,"licenses-backfile":0.7940983606557377,"funders-current":0.8165638766519824,"affiliations-backfile":0.9565573770491803,"resource-links-backfile":0.7940983606557377,"orcids-backfile":0.1121311475409836,"update-policies-current":0.0,"open-references-backfile":1.0,"orcids-current":0.305374449339207,"similarity-checking-backfile":0.9959016393442623,"references-backfile":0.9955737704918033,"award-numbers-backfile":0.4781967213114754,"update-policies-backfile":0.0,"licenses-current":0.9994713656387665,"award-numbers-current":0.6752422907488987,"abstracts-backfile":0.7940983606557377,"resource-links-current":0.9994713656387665,"abstracts-current":0.9994713656387665,"open-references-current":1.0,"references-current":0.9982378854625551},"title":"PeerJ","subjects":[{"ASJC":1100,"name":"General
        Agricultural and Biological Sciences"},{"ASJC":1300,"name":"General Biochemistry,
        Genetics and Molecular Biology"},{"ASJC":2700,"name":"General Medicine"},{"ASJC":2800,"name":"General
        Neuroscience"}],"coverage-type":{"all":{"last-status-check-time":1627784582317,"affiliations":0.9351167728237793,"abstracts":0.8930785562632696,"orcids":0.2052653927813163,"licenses":0.8930785562632696,"references":0.9968577494692143,"funders":0.7202547770700637,"similarity-checking":0.9976220806794055,"award-numbers":0.5731634819532909,"update-policies":0.0,"resource-links":0.8930785562632696,"open-references":1.0},"backfile":{"last-status-check-time":1627784582317,"affiliations":0.9565573770491803,"abstracts":0.7940983606557377,"orcids":0.1121311475409836,"licenses":0.7940983606557377,"references":0.9955737704918033,"funders":0.630655737704918,"similarity-checking":0.9959016393442623,"award-numbers":0.4781967213114754,"update-policies":0.0,"resource-links":0.7940983606557377,"open-references":1.0},"current":{"last-status-check-time":1627784582317,"affiliations":0.9120704845814978,"abstracts":0.9994713656387665,"orcids":0.305374449339207,"licenses":0.9994713656387665,"references":0.9982378854625551,"funders":0.8165638766519824,"similarity-checking":0.9994713656387665,"award-numbers":0.6752422907488987,"update-policies":0.0,"resource-links":0.9994713656387665,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["2167-8359"],"issn-type":[{"value":"2167-8359","type":"electronic"}]},{"last-status-check-time":1627785507052,"counts":{"current-dois":455,"backfile-dois":168,"total-dois":623},"breakdowns":{"dois-by-issued-year":[[2021,292],[2020,87],[2019,76],[2016,63],[2017,41],[2015,38],[2018,26]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.8395604395604396,"similarity-checking-current":1.0,"funders-backfile":0.625,"licenses-backfile":0.8630952380952381,"funders-current":0.5494505494505495,"affiliations-backfile":0.9523809523809524,"resource-links[...]
