http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/0413-6597
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      content-type: application/json
      status: HTTP/1.1 404 Not Found
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: Resource not found.
  recorded_at: 2021-08-17 17:23:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/journals/1932-6203
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1629159837094,"counts":{"current-dois":43391,"backfile-dois":211409,"total-dois":254800},"breakdowns":{"dois-by-issued-year":[[2013,32985],[2014,31876],[2015,29815],[2012,24090],[2016,23022],[2017,21150],[2018,18832],[2020,16685],[2019,16226],[2011,14025],[2021,10480],[2010,6911],[2009,4534],[2008,2801],[2007,1230],[2006,138]]},"publisher":"Public
        Library of Science","coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"funders-backfile":0.1732754991509349,"licenses-backfile":0.9924837636997479,"funders-current":0.5781613698693276,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.1730342606038532,"update-policies-current":1.0,"open-references-backfile":1.0,"orcids-current":0.9399184162614367,"similarity-checking-backfile":0.9139487912056724,"references-backfile":0.9139487912056724,"award-numbers-backfile":0.1472075455633393,"update-policies-backfile":0.9999668888268711,"licenses-current":1.0,"award-numbers-current":0.4971076951441543,"abstracts-backfile":3.784134071870166E-5,"resource-links-current":0.0,"abstracts-current":0.2997395773317047,"open-references-current":1.0,"references-current":0.9999769537461686},"title":"PLoS
        ONE","subjects":[{"ASJC":1000,"name":"Multidisciplinary"}],"coverage-type":{"all":{"last-status-check-time":1629159837094,"affiliations":0.0,"abstracts":0.05107535321821036,"orcids":0.3036302982731554,"licenses":0.9937637362637363,"references":0.9285989010989011,"funders":0.2422252747252747,"similarity-checking":0.9286028257456829,"award-numbers":0.2067935635792779,"update-policies":0.9999725274725275,"resource-links":0.0,"open-references":1.0},"backfile":{"last-status-check-time":1629159837094,"affiliations":0.0,"abstracts":3.784134071870166E-5,"orcids":0.1730342606038532,"licenses":0.9924837636997479,"references":0.9139487912056724,"funders":0.1732754991509349,"similarity-checking":0.9139487912056724,"award-numbers":0.1472075455633393,"update-policies":0.9999668888268711,"resource-links":0.0,"open-references":1.0},"current":{"last-status-check-time":1629159837094,"affiliations":0.0,"abstracts":0.2997395773317047,"orcids":0.9399184162614367,"licenses":1.0,"references":0.9999769537461686,"funders":0.5781613698693276,"similarity-checking":1.0,"award-numbers":0.4971076951441543,"update-policies":1.0,"resource-links":0.0,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1932-6203"],"issn-type":[{"value":"1932-6203","type":"electronic"}]}}'
  recorded_at: 2021-08-17 17:23:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
