http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=peerj&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":4,"query":{"start-index":0,"search-terms":"peerj"},"total-results":8,"items":[{"last-status-check-time":1628820383072,"counts":{"current-dois":5734,"backfile-dois":6100,"total-dois":11834},"breakdowns":{"dois-by-issued-year":[[2020,2281],[2019,2126],[2018,1932],[2017,1368],[2021,1327],[2016,1296],[2015,801],[2014,471],[2013,232]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.9119288454830834,"similarity-checking-current":0.9994768050226718,"funders-backfile":0.630655737704918,"licenses-backfile":0.7940983606557377,"funders-current":0.8161841646320195,"affiliations-backfile":0.9565573770491803,"resource-links-backfile":0.7940983606557377,"orcids-backfile":0.1121311475409836,"update-policies-current":0.0,"open-references-backfile":1.0,"orcids-current":0.305197070108127,"similarity-checking-backfile":0.9959016393442623,"references-backfile":0.9955737704918033,"award-numbers-backfile":0.4781967213114754,"update-policies-backfile":0.0,"licenses-current":0.9994768050226718,"award-numbers-current":0.6750959190791768,"abstracts-backfile":0.7940983606557377,"resource-links-current":0.9994768050226718,"abstracts-current":0.9994768050226718,"open-references-current":1.0,"references-current":0.9982560167422393},"title":"PeerJ","subjects":[{"ASJC":1100,"name":"General
        Agricultural and Biological Sciences"},{"ASJC":1300,"name":"General Biochemistry,
        Genetics and Molecular Biology"},{"ASJC":2700,"name":"General Medicine"},{"ASJC":2800,"name":"General
        Neuroscience"}],"coverage-type":{"all":{"last-status-check-time":1628820383072,"affiliations":0.9349332431975663,"abstracts":0.8936116275139429,"orcids":0.2056785533209397,"licenses":0.8936116275139429,"references":0.9968734155822206,"funders":0.7205509548757816,"similarity-checking":0.9976339361162752,"award-numbers":0.5736014872401555,"update-policies":0.0,"resource-links":0.8936116275139429,"open-references":1.0},"backfile":{"last-status-check-time":1628820383072,"affiliations":0.9565573770491803,"abstracts":0.7940983606557377,"orcids":0.1121311475409836,"licenses":0.7940983606557377,"references":0.9955737704918033,"funders":0.630655737704918,"similarity-checking":0.9959016393442623,"award-numbers":0.4781967213114754,"update-policies":0.0,"resource-links":0.7940983606557377,"open-references":1.0},"current":{"last-status-check-time":1628820383072,"affiliations":0.9119288454830834,"abstracts":0.9994768050226718,"orcids":0.305197070108127,"licenses":0.9994768050226718,"references":0.9982560167422393,"funders":0.8161841646320195,"similarity-checking":0.9994768050226718,"award-numbers":0.6750959190791768,"update-policies":0.0,"resource-links":0.9994768050226718,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["2167-8359"],"issn-type":[{"value":"2167-8359","type":"electronic"}]},{"last-status-check-time":1628822485935,"counts":{"current-dois":467,"backfile-dois":168,"total-dois":635},"breakdowns":{"dois-by-issued-year":[[2021,304],[2020,87],[2019,76],[2016,63],[2017,41],[2015,38],[2018,26]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.8394004282655246,"similarity-checking-current":1.0,"funders-backfile":0.625,"licenses-backfile":0.8630952380952381,"funders-current":0.5438972162740899,"affiliations-backfile":0.9523809523809524,"resource-links[...]
