http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/blblbl
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 404 Not Found
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: Resource not found.
  recorded_at: 2022-11-09 09:33:48 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/journals/1932-6203
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1667923354120,"counts":{"current-dois":47025,"backfile-dois":227635,"total-dois":274660},"breakdowns":{"dois-by-issued-year":[[2013,32985],[2014,31876],[2015,29815],[2012,24090],[2016,23022],[2017,21150],[2018,18832],[2020,16685],[2021,16624],[2019,16226],[2011,14025],[2022,13716],[2010,6911],[2009,4534],[2008,2801],[2007,1230],[2006,138]]},"publisher":"Public
        Library of Science","coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.2001317899268566,"licenses-backfile":0.99303709886441,"funders-current":0.6213290802764487,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.2262701254200804,"update-policies-current":1.0,"ror-ids-backfile":0.0,"orcids-current":0.9554279638490165,"similarity-checking-backfile":0.9201045533419729,"references-backfile":0.9201089463395348,"descriptions-backfile":0.0,"award-numbers-backfile":0.1714674808355481,"update-policies-backfile":0.9999692490170669,"licenses-current":1.0,"award-numbers-current":0.5172567783094099,"abstracts-backfile":1.273969292947042E-4,"resource-links-current":0.0,"abstracts-current":0.6867198298777246,"references-current":0.9999362041467305},"title":"PLoS
        ONE","subjects":[{"ASJC":1000,"name":"Multidisciplinary"}],"coverage-type":{"all":{"last-status-check-time":1667923354120,"affiliations":0.0,"abstracts":0.1176800407776888,"orcids":0.3511104638462099,"licenses":0.9942292288647783,"references":0.9337763052501274,"funders":0.2722456855748926,"similarity-checking":0.9337835869802665,"award-numbers":0.2306706473458094,"ror-ids":0.0,"update-policies":0.9999745139445132,"resource-links":0.0,"descriptions":0.0},"backfile":{"last-status-check-time":1667923354120,"affiliations":0.0,"abstracts":1.273969292947042E-4,"orcids":0.2262701254200804,"licenses":0.99303709886441,"references":0.9201089463395348,"funders":0.2001317899268566,"similarity-checking":0.9201045533419729,"award-numbers":0.1714674808355481,"ror-ids":0.0,"update-policies":0.9999692490170669,"resource-links":0.0,"descriptions":0.0},"current":{"last-status-check-time":1667923354120,"affiliations":0.0,"abstracts":0.6867198298777246,"orcids":0.9554279638490165,"licenses":1.0,"references":0.9999362041467305,"funders":0.6213290802764487,"similarity-checking":1.0,"award-numbers":0.5172567783094099,"ror-ids":0.0,"update-policies":1.0,"resource-links":0.0,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":false,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1932-6203"],"issn-type":[{"value":"1932-6203","type":"electronic"}]}}'
  recorded_at: 2022-11-09 09:33:48 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
[...]
