http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/0074-7742/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json;charset=utf-8
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: Resource not found.
  recorded_at: 2021-08-01 15:46:02 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/journals/1574-6941/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4127,"items":[{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T03:23:04Z","timestamp":1620444184914},"reference-count":0,"publisher":"Oxford
        University Press (OUP)","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1995,1]]},"DOI":"10.1111\/fem.1995.16.issue-1","type":"journal-issue","created":{"date-parts":[[2015,1,7]],"date-time":"2015-01-07T13:12:38Z","timestamp":1420636358000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1093","volume":"16","member":"286","container-title":["FEMS
        Microbiology Ecology"],"language":"en","deposited":{"date-parts":[[2015,1,7]],"date-time":"2015-01-07T13:12:38Z","timestamp":1420636358000},"score":0.0,"issued":{"date-parts":[[1995,1]]},"references-count":0,"journal-issue":{"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.1111\/fem.1995.16.issue-1","ISSN":["0168-6496","1574-6941"],"issn-type":[{"value":"0168-6496","type":"print"},{"value":"1574-6941","type":"electronic"}],"subject":["Applied
        Microbiology and Biotechnology","Ecology","Microbiology"],"published":{"date-parts":[[1995,1]]}},{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T03:27:59Z","timestamp":1620444479330},"reference-count":0,"publisher":"Oxford
        University Press (OUP)","issue":"2-3","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2001,12]]},"DOI":"10.1111\/fem.2001.38.issue-2-3","type":"journal-issue","created":{"date-parts":[[2015,1,7]],"date-time":"2015-01-07T13:30:09Z","timestamp":1420637409000},"source":"Crossref",[...]
