http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":93315,"items":[{"last-status-check-time":1627776065191,"counts":{"current-dois":556,"backfile-dois":10495,"total-dois":11051},"breakdowns":{"dois-by-issued-year":[[2009,493],[2004,403],[2002,402],[2001,393],[2007,386],[2006,374],[2003,373],[2008,354],[2000,354],[2005,352],[1996,337],[1995,337],[1999,331],[1998,324],[1997,307],[2016,299],[1994,291],[1993,285],[2010,280],[2011,263],[1992,261],[1990,260],[1991,249],[1989,225],[1988,225],[2014,221],[2020,209],[2017,207],[2012,207],[2019,206],[1987,183],[2018,180],[2013,166],[2015,155],[1986,148],[2021,141],[1984,136],[1982,129],[1985,124],[1983,112],[1981,89],[1980,76],[1979,53],[1976,51],[1975,46],[1977,39],[1978,15]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.8633093525179856,"similarity-checking-current":0.947841726618705,"funders-backfile":0.08604097189137686,"licenses-backfile":0.9957122439256789,"funders-current":0.5953237410071942,"affiliations-backfile":0.09976179132920437,"resource-links-backfile":0.9912339209147213,"orcids-backfile":0.029728442115293,"update-policies-current":0.9028776978417266,"open-references-backfile":1.0,"orcids-current":0.8057553956834532,"similarity-checking-backfile":0.9731300619342544,"references-backfile":0.8500238208670796,"award-numbers-backfile":0.06946164840400192,"update-policies-backfile":0.004192472606002859,"licenses-current":0.947841726618705,"award-numbers-current":0.460431654676259,"abstracts-backfile":0.0,"resource-links-current":0.947841726618705,"abstracts-current":0.0,"open-references-current":1.0,"references-current":0.8489208633093525},"title":"Journal
        of Neuroscience Research","subjects":[{"ASJC":2804,"name":"Cellular and Molecular
        Neuroscience"}],"coverage-type":{"all":{"last-status-check-time":1627776065191,"affiliations":0.1381650380021716,"abstracts":0.0,"orcids":0.06876583423814694,"licenses":0.993213897937025,"references":0.8498914223669924,"funders":0.1116539992761491,"similarity-checking":0.9718602967788637,"award-numbers":0.08912414042707202,"update-policies":0.0494028230184582,"resource-links":0.9889612739775606,"open-references":1.0},"backfile":{"last-status-check-time":1627776065191,"affiliations":0.09976179132920437,"abstracts":0.0,"orcids":0.029728442115293,"licenses":0.9957122439256789,"references":0.8500238208670796,"funders":0.08604097189137686,"similarity-checking":0.9731300619342544,"award-numbers":0.06946164840400192,"update-policies":0.004192472606002859,"resource-links":0.9912339209147213,"open-references":1.0},"current":{"last-status-check-time":1627776065191,"affiliations":0.8633093525179856,"abstracts":0.0,"orcids":0.8057553956834532,"licenses":0.947841726618705,"references":0.8489208633093525,"funders":0.5953237410071942,"similarity-checking":0.947841726618705,"award-numbers":0.460431654676259,"update-policies":0.9028776978417266,"resource-links":0.947841726618705,"open-references":1.0}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0360-4012","1097-4547"],"issn-type":[{"value":"0360-4012","type":"print"},{"value":"1097-4547","type":"electronic"}]},{"last-status-check-time":1627776068331,"counts":{"current-dois":798,"backfile-dois":14908,"total-dois":15706},"breakdowns":{"dois-by-issued-year":[[2003,470],[1994,462],[2002,456],[2004,439],[2001,437],[1987,429],[2005,427],[1998,418],[1984,415],[1988,404],[1981,402],[1983,379],[1996,378],[2000,376],[2009,375],[1978,373],[2011,370],[1990,370],[1992,369],[2010,365],[1995,356],[1991,352],[1997,350],[2012,348],[1982,343],[2020,341],[1999,335],[2[...]
