http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/0074-7742/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: text/plain
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: Resource not found.
  recorded_at: 2018-12-07 22:33:27 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
[...]
- request:
    method: get
    uri: https://api.crossref.org/journals/1574-6941/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3536,"items":[{"indexed":{"date-parts":[[2018,5,2]],"date-time":"2018-05-02T18:54:53Z","timestamp":1525287293256},"reference-count":57,"publisher":"Oxford
        University Press (OUP)","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2006,10]]},"DOI":"10.1111\/j.1574-6941.2006.00138.x","type":"journal-article","created":{"date-parts":[[2006,4,20]],"date-time":"2006-04-20T09:54:34Z","timestamp":1145526874000},"page":"41-53","source":"Crossref","is-referenced-by-count":17,"title":["Responses
        of antioxidants in the lichen Ramalina lacera may serve as an early-warning
        bioindicator system for the detection of air pollution stress"],"prefix":"10.1093","volume":"58","author":[{"given":"Lior","family":"Weissman","sequence":"first","affiliation":[]},{"given":"Milana","family":"Fraiberg","sequence":"additional","affiliation":[]},{"given":"Lior","family":"Shine","sequence":"additional","affiliation":[]},{"given":"Jacob","family":"Garty","sequence":"additional","affiliation":[]},{"given":"Ayala","family":"Hochman","sequence":"additional","affiliation":[]}],"member":"286","reference":[{"key":"10.1111\/j.1574-6941.2006.00138.x-BIB1|cit1","first-page":"41","article-title":"Prokaryotic
        iron superoxide dismutase replaces cytosolic copper, zinc superoxide dismutase
        in protecting yeast cells against oxidative stress","volume":"44","author":"Agius","year":"1998","journal-title":"Biochem
        Mol Biol Int"},{"key":"10.1111\/j.1574-6941.2006.00138.x-BIB2|cit2","first-page":"175","article-title":"Effects
        of copper, cobalt and mercury on the chlorophyll content of lichens Cetraria
        islandica and Flavocetraria cucullata","volume":"93","author":"Backor","year":"2003","journal-title":"J
        Hattori Bot Lab"},{"key":"10.1111\/j.1574-6941.2006.00138.x-BIB3|cit3","first-page":"223","article-title":"Interaction
        between sulfur-dioxide and nitrate in s[...]
