http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/0074-7742/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 404 Not Found
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: Resource not found.
  recorded_at: 2021-08-17 17:23:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/journals/1574-6941/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4131,"items":[{"indexed":{"date-parts":[[2021,5,9]],"date-time":"2021-05-09T19:20:49Z","timestamp":1620588049558},"reference-count":59,"publisher":"Oxford
        University Press (OUP)","issue":"3","license":[{"start":{"date-parts":[[2019,1,11]],"date-time":"2019-01-11T00:00:00Z","timestamp":1547164800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/academic.oup.com\/journals\/pages\/open_access\/funder_policies\/chorus\/standard_publication_model"}],"funder":[{"DOI":"10.13039\/501100004329","name":"Slovenian
        Research Agency","doi-asserted-by":"publisher","award":["L1-6731","J1-8141","P1-0148","J1-6741","P2-0180"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2019,3,1]]},"DOI":"10.1093\/femsec\/fiz007","type":"journal-article","created":{"date-parts":[[2019,1,10]],"date-time":"2019-01-10T12:11:53Z","timestamp":1547122313000},"source":"Crossref","is-referenced-by-count":2,"title":["Composition
        of the cutaneous bacterial community of a cave amphibian,Proteus anguinus"],"prefix":"10.1093","volume":"95","author":[{"ORCID":"http:\/\/orcid.org\/0000-0001-8377-1182","authenticated-orcid":false,"given":"Rok","family":"Kostanj\u0161ek","sequence":"first","affiliation":[{"name":"Department
        of Biology, Biotechnical Faculty, University of Ljubljana, Ljubljana, Slovenia"}]},{"given":"Ylenia","family":"Prodan","sequence":"additional","affiliation":[{"name":"Department
        of Biology, Biotechnical Faculty, University of Ljubljana, Ljubljana, Slovenia"}]},{"given":"Bla\u017e","family":"Stres","sequence":"additional","affiliation":[{"name":"Department
        of Animal Science, Biotechnical Faculty, University of Ljubljana, Ljubljana,
        Slovenia"},{"name":"Institute of Sanitary Engineering, Faculty of Civil and
        Geodetic Engineering, University of Ljubljana, Ljubljana, Slovenia"},{"name":"Laboratory
        of Cell Toxinology, Faculty of Medicine, University of Ljubljana, Ljubljana,
        Slovenia"}]},{"given":"Peter","family":"Trontelj","sequence":"additional","affiliation":[{"name":"Department
        of Biology, Biotechnical Faculty, University of Ljubljana, Ljubljana, Slovenia"}]}],"member":"286","published-online":{"date-parts":[[2019,1,11]]},"reference":[{"key":"key\n\t\t\t\t2019020518593709300_bib1","doi-asserted-by":"crossref","first-page":"130","DOI":"10.1080\/01490450903456723","article-title":"High
        resolution analysis of contaminated aquifer sediments and groundwater: what
        can be learned in terms of natural attenuation?","volume":"27","author":"Anneser","year":"2010","journal-title":"Geomicrobiol
        J"},{"key":"key\n\t\t\t\t2019020518593709300_bib2","doi-asserted-by":"crossref","first-page":"127","DOI":"10.1007\/978-1-4615-4255-1_25","article-title":"Cutaneous
        microbial flora and antibiosis in Plethodon ventralis","volume-title":"The
        Biology of Plethodontid Salamanders","author":"Austin","year":"2000"},{"key":"key\n\t\t\t\t2019020518593709300_bib3","doi-asserted-by":"crossref","first-page":"e0148047","DOI":"10.1371\/journal.pone.0148047","article-title":"Development
        of an analysis pipeline characterizing multiple hypervariable regions of 16S
        rRNA using mock samples","volume":"11","author":"Barb","year":"2016","journal-title":"PLoS
        One"},{"key":"key\n\t\t\t\t2019020518593709300_bib4","doi-[...]
