http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/licenses
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":7305,"items":[{"URL":"Http:\/\/creativecommons.org\/license\/by-nc\/4.0.","work-count":100},{"URL":"http:\/\/
        creativecommons.org\/licenses\/by-nc-nd\/4.0\/","work-count":11},{"URL":"http:\/\/
        creativecommons.org\/licenses\/by\/4.0\/","work-count":3},{"URL":"http:\/\/
        http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/","work-count":6},{"URL":"http:\/\/\/journals.bsu.by\/index.php\/biology\/about","work-count":9},{"URL":"http:\/\/\/nv.pdpu.edu.ua\/Info\/Index\/be91efc0-7518-4106-b1df-7c0b3b9da77b","work-count":1},{"URL":"http:\/\/0000-0002-1666-2848","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186380","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186387","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186395","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186401","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186407","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186409","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186415","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186421","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186424","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186426","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186430","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186480","work-count":1},{"URL":"http:\/\/10.5281\/zenodo.1186484","work-count":1}]}}'
  recorded_at: 2021-08-17 17:24:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/licenses?query=elsevier
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-lim[...]
