http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/licenses?query=adfaaf
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":0,"items":[]}}'
  recorded_at: 2022-11-09 09:37:01 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
