http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members?query=adfaaf
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"adfaaf"},"total-results":0,"items":[]}}'
  recorded_at: 2018-12-07 22:28:37 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
- request:
    method: get
    uri: https://api.crossref.org/members/323234343434/works?facet=t
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: application/json
      exception-name: class java.lang.NumberFormatException
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        java.lang.NumberFormatException","description":"java.lang.NumberFormatException:
        For input string: \"323234343434\"","message":"For input string: \"323234343434\"","stack":["java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)","java.lang.Integer.parseInt(Integer.java:583)","java.lang.Integer.parseInt(Integer.java:615)","cayenne.data.member$get_id_from_context.invokeStatic(member.clj:34)","cayenne.data.member$get_id_from_context.invoke(member.clj:30)","cayenne.data.member$fetch_one$fn__18996.invoke(member.clj:77)","cayenne.data.member$fetch_one.invokeStatic(member.clj:74)","cayenne.data.member$fetch_one.invoke(member.clj:73)","cayenne.api.[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?facet=t
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"affiliation":{"value-count":20,"values":{"of":177756,"university":157460,"department":127594,"and":105897,"school":51421,"institute":48874,"china":45973,"medicine":45690,"engineering":41308,"hospital":40265,"science":39769,"usa":38592,"sciences":37116,"medical":36405,"research":35417,"technology":34114,"center":32831,"college":32712,"for":26947,"laboratory":26598}},"license":{"value-count":6,"values":{"http:\/\/creativecommons.org\/licenses\/by\/3.0\/":143247,"http:\/\/creativecommons.org\/licenses\/by\/4.0\/":60490,"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/":4151,"http:\/\/creativecommons.org\/licenses\/by-nc\/4.0\/":2751,"http:\/\/creativecommons.org\/licenses\/by\/3.0\/igo\/legalcode":2,"https:\/\/creativecommons.org\/licenses\/by-nc\/4.0\/":1}},"container-title":{"value-count":20,"values":{"BioMed
        Research International":15181,"Mathematical Problems in Engineering":11676,"The
        Scientific World Journal":7278,"Evidence-Based Complementary and Alternative
        Medicine":7141,"Abstract and Applied Analysis":5288,"International Journal
        of Mathematics and Mathematical Sciences":5045,"Psyche: A Journal of Entomology":4755,"Journal
        of Nanomaterials":4218,"Mediators of Inflammation":3885,"Journal of Applied
        Mathematics":3295,"Oxidative Medicine and Cellular Longevity":2988,"Advances
        in Materials Science and Engineering":2751,"Shock and Vibration":2743,"Discrete
        Dynamics in Nature and Society":2681,"Canadian Journal of Gastroenterology":2518,"The
        Scientific World JOURNAL":2478,"Case Reports in Medicine":2106,"Journal of
        Chemistry":2094,"International Journal of Antennas and Propagation":1946,"Disease
        Markers":1932}},"publisher-name":{"value-count":3,"values":{"Hindawi Limited":213306,"TheScientificWorld
        Ltd":561,"Hindawi Publishing Corporation":18}},"orcid":{"value-count":20,"values":{"http:\/\/orcid.org\/0000-0001-7629-3266":138,"http:\/\/orcid.org\/0000-0002-0471-9675":64,"http:\/\/orcid.org\/0000-0001-6287-0130":51,"http:\/\/orcid.org\/0000-0003-2250-2047":48,"http:\/\/orcid.org\/0000-0003-3133-7119":45,"http:\/\/orcid.org\/0000-0002-5294-4447":38,"http:\/\/orcid.org\/0000-0002-6798-3254":31,"http:\/\/orcid.org\/0000-0002-1217-963X":31,"http:\/\/orcid.org\/0000-0001-9138-916X":31,"http:\/\/orcid.org\/0000-0002-1986-4859":26,"http:\/\/orcid.org\/0000-0002-5873-4934":25,"http:\/\/orcid.org\/0000-0003-3306-250X":23,"http:\/\/orcid.org\/0000-0002-5829-8634":22,"http:\/\/orcid.org\/0000-0003-1047-4990":21,"http:\/\/orcid.org\/0000-0002-5028-0640":21,"http:\/\/orcid.org\/0000-0001-8141-9927":21,"http:\/\/orcid.org\/0000-0002-8792-0947":20,"http:\/\/orcid.org\/0000-0001-7470-077X":20,"http:\/\/orcid.org\/0000-0001-7155-5917":20,"http:\/\/orcid.org\/0000-0001-6081-4469":20}},"update-type":{"value-count":0,"values":{}},"published":{"value-count":20,"values":{"2014":28910,"2013":26107,"2012":23103,"2015":21827,"2018":20094,"2016":18601,"2017":16726,"2011":12405,"2010":6505,"2009":3850,"2008":2994,"2002":2330,"2001":2116,"2007":2030,"2006":2030,"2004":1811,"2005":1649,"2003":1625,"2000":1480,"1999":1228}},"funder-name":{"value-count":20,"values":{"National
        Natural Science Foundation of China":26036,"National Institutes of Health":2463,"National
        Science Council":1783,"National Research Foundation of Korea":1306,"Conselho
        Nacional de Desenvolvimento Cient\u00edfico e Tecnol\u00f3gico":1275,"National
        Science Foundation":1226,"Consejo Nacional de Ciencia y Tecnolog\u00eda":1085,"Deutsche
        Forschungsgemeinschaft":850,"Ministry of Education, Culture, Sports, Science
        and Technology":809,"Japan Society for the Promotion of Science":809,"Natural
        Sciences and Engineering Research Council of Canada":740,"Funda\u00e7\u00e3o
        de Amparo \u00e0 Pesquisa do Estado de S\u00e3o Paulo":695,"University Grants
        Commission":602,"Coordena\u00e7\u00e3o de Aperfei\u00e7oamento de Pessoal
        de N\u00edvel Superior":526,"Canadian Institutes of Health Research":525,"Ministry
        of Higher Education, Malaysia":491,"European Commission":448,"King Saud University":416,"Ministry
        of Science and Technology, Taiwan":393,"China Postdoctoral Science Foundation":392}},"archive":{"value-count":0,"values":{}},"type-name":{"value-count":6,"values":{"Journal
        Article":211983,"Journal":1020,"Conference Paper":561,"Component":303,"Book":12,"Monograph":6}},"relation-type":{"value-count":2,"values":{"has-preprint":12,"is-supplemented-by":1}},"issn":{"value-count":20,"values":{"http:\/\/id.crossref.org\/issn\/2314-6141":15182,"http:\/\/id.crossref.org\/issn\/2314-6133":15181,"http:\/\/id.crossref.org\/issn\/1563-5147":11677,"http:\/\/id.crossref.org\/issn\/1024-123X":11676,"http:\/\/id.crossref.org\/issn\/1537-744X":9902,"http:\/\/id.crossref.org\/issn\/1741-4288":7154,"http:\/\/id.crossref.org\/issn\/1741-427X":7153,"http:\/\/id.crossref.org\/issn\/1085-3375":5289,"http:\/\/id.crossref.org\/issn\/1687-0409":5219,"http:\/\/id.crossref.org\/issn\/1687-0425":5045,"http:\/\/id.crossref.org\/issn\/0161-1712":5045,"http:\/\/id.crossref.org\/issn\/1687-7438":4757,"http:\/\/id.crossref.org\/issn\/0033-2615":4756,"http:\/\/id.crossref.org\/issn\/2356-6140":4585,"http:\/\/id.crossref.org\/issn\/1687-4129":4220,"http:\/\/id.crossref.org\/issn\/1687-4110":4219,"http:\/\/id.crossref.org\/issn\/1466-1861":3886,"http:\/\/id.crossref.org\/issn\/0962-9351":3885,"http:\/\/id.crossref.org\/issn\/1110-757X":3295,"http:\/\/id.crossref.org\/issn\/1687-0042":3294}},"source":{"value-count":1,"values":{"Crossref":213885}},"journal-issue":{"value-count":20,"values":{"4":7098,"1":7075,"3":6792,"2":6663,"5":2179,"6":2063,"7":501,"suppl":392,"8":386,"s1":289,"9":289,"10":256,"11":236,"12":222,"a":164,"s3":142,"b":108,"c":74,"supplement":68,"d":39}},"category-name":{"value-count":20,"values":{"Ecology,
        Evolution, Behavior and Systematics":4170,"Insect Science":4152,"General Medicine":2075,"Electrical
        and Electronic Engineering":1468,"Applied Mathematics":1448,"Statistics and
        Probability":1234,"General Biochemistry, Genetics and Molecular Biology":1184,"Modelling
        and Simulation":1158,"General Immunology and Microbiology":1142,"General Engineering":1095,"Hepatology":944,"Surgery":885,"General
        Mathematics":879,"Computer Graphics and Computer-Aided Design":874,"Hardware
        and Architecture":872,"Civil and Structural Engineering":671,"Cell Biology":589,"Computer
        Networks and Communications":577,"General Materials Science":527,"Multidisciplinary":526}},"assertion":{"value-count":0,"values":{}},"assertion-group":{"value-count":0,"values":{}},"journal-volume":{"value-count":20,"values":{"2014":28454,"2013":25323,"2012":22026,"2015":21477,"2018":20094,"2016":18601,"2017":16726,"2011":11146,"2010":5141,"2009":2741,"6":2257,"1":2215,"7":2096,"2008":1935,"3":1893,"5":1873,"4":1867,"8":1856,"2":1834,"9":1590}},"funder-doi":{"value-count":20,"values":{"http:\/\/dx.doi.org\/10.13039\/501100001809":26036,"http:\/\/dx.doi.org\/10.13039\/100000002":2463,"http:\/\/dx.doi.org\/10.13039\/501100001868":1783,"http:\/\/dx.doi.org\/10.13039\/501100003725":1306,"http:\/\/dx.doi.org\/10.13039\/501100003593":1275,"http:\/\/dx.doi.org\/10.13039\/100000001":1221,"http:\/\/dx.doi.org\/10.13039\/501100003141":1080,"http:\/\/dx.doi.org\/10.13039\/501100001659":850,"http:\/\/dx.doi.org\/10.13039\/501100001700":809,"http:\/\/dx.doi.org\/10.13039\/501100001691":809,"http:\/\/dx.doi.org\/10.13039\/501100000038":740,"http:\/\/dx.doi.org\/10.13039\/501100001807":695,"http:\/\/dx.doi.org\/10.13039\/501100001501":602,"http:\/\/dx.doi.org\/10.13039\/501100002322":526,"http:\/\/dx.doi.org\/10.13039\/501100000024":525,"http:\/\/dx.doi.org\/10.13039\/501100003093":491,"http:\/\/dx.doi.org\/10.13039\/501100000780":448,"http:\/\/dx.doi.org\/10.13039\/501100002383":416,"http:\/\/dx.doi.org\/10.13039\/501100004663":393,"http:\/\/dx.doi.org\/10.13039\/501100002858":392}}},"total-results":213885,"items":[{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:16:57Z","timestamp":1523675817335},"reference-count":0,"publisher":"Hindawi
        Limited","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1155\/1737","type":"journal","created":{"date-parts":[[2016,7,31]],"date-time":"2016-07-31T14:34:18Z","timestamp":1469975658000},"source":"Crossref","is-referenced-by-count":0,"title":["Advances
        in Anatomy"],"prefix":"10.1155","member":"98","language":"en","deposited":{"date-parts":[[2016,7,31]],"date-time":"2016-07-31T14:34:18Z","timestamp":1469975658000},"score":1.0,"short-title":["Advances
        in Anatomy"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1155\/1737","ISSN":["2314-7547"],"issn-type":[{"value":"2314-7547","type":"electronic"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:16:57Z","timestamp":1523675817370},"reference-count":1,"publisher":"Hindawi
        Limited","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Physics
        Research International"],"published-print":{"date-parts":[[2014]]},"DOI":"10.1155\/2014\/128505","type":"journal-article","created":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T01:42:09Z","timestamp":1410918129000},"page":"1-1","source":"Crossref","is-referenced-by-count":0,"title":["Retracted:
        Structural and Optical Properties of Germanium Thin Films Prepared by the
        Vacuum Evaporation Technique"],"prefix":"10.1155","volume":"2014","member":"98","reference":[{"key":"1","DOI":"10.1155\/2014\/594968","doi-asserted-by":"publisher"}],"container-title":["Physics
        Research International"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/archive\/2014\/128505.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/archive\/2014\/128505.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/archive\/2014\/128505.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,12,10]],"date-time":"2017-12-10T14:36:20Z","timestamp":1512916580000},"score":1.0,"issued":{"date-parts":[[2014]]},"references-count":1,"alternative-id":["128505","128505"],"URL":"http:\/\/dx.doi.org\/10.1155\/2014\/128505","relation":{"cites":[]},"ISSN":["2090-2220","2090-2239"],"issn-type":[{"value":"2090-2220","type":"print"},{"value":"2090-2239","type":"electronic"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:16:57Z","timestamp":1523675817403},"reference-count":19,"publisher":"Hindawi
        Limited","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Advances
        in High Energy Physics"],"published-print":{"date-parts":[[2014]]},"abstract":"<jats:p>We
        establish asymptotic expressions for the positions of Regge poles for cold
        neutron scattering on mesoscopic cylinder mirror as well as for the<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"M1\"><mml:mrow><mml:mi>S<\/mml:mi><\/mml:mrow><\/mml:math>-matrix
        residuals. We outline the correspondence between Regge poles and near-surface
        quasi-stationary neutron states. Such states are of practical importance for
        studying subtle effects of neutron-surface interaction.<\/jats:p>","DOI":"10.1155\/2014\/124592","type":"journal-article","created":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T01:42:12Z","timestamp":1410918132000},"page":"1-8","source":"Crossref","is-referenced-by-count":0,"title":["Regge
        Poles in Neutron Scattering by a Cylinder"],"prefix":"10.1155","volume":"2014","author":[{"given":"K.
        V.","family":"Protasov","sequence":"first","affiliation":[{"name":"Laboratoire
        de Physique Subatomique et de Cosmologie (LPSC), Universit\u00e9 Grenoble
        Alpes, IN2P3-CNRS, 53 Avenue des Martyrs, 38026 Grenoble, France"}]},{"given":"A.
        Y.","family":"Voronin","sequence":"additional","affiliation":[{"name":"P.N.
        Lebedev Physical Institute, 53 Leninsky Prospekt, Moscow 119991, Russia"}]}],"member":"98","reference":[{"key":"1","DOI":"10.1038\/nphys1478","doi-asserted-by":"publisher"},{"key":"2","DOI":"10.1103\/PhysRevA.78.033616","doi-asserted-by":"publisher"},{"key":"3","DOI":"10.1016\/j.nima.2009.07.081","doi-asserted-by":"publisher"},{"key":"4","DOI":"10.1088\/1367-2630\/12\/11\/113050","doi-asserted-by":"publisher"},{"key":"5","volume":"2","year":"1878"},{"key":"6","DOI":"10.1080\/14786440108635067","doi-asserted-by":"publisher"},{"key":"7","volume":"25","first-page":"371","year":"1908","journal-title":"Annalen
        der Physik"},{"key":"8","volume":"30","first-page":"57","year":"1909","journal-title":"Annalen
        der Physik"},{"key":"9","DOI":"10.1070\/QE2002v032n05ABEH002205","doi-asserted-by":"publisher"},{"key":"10","DOI":"10.1038\/nature01939","doi-asserted-by":"publisher"},{"key":"11","year":"1992"},{"key":"12","year":"1965"},{"key":"13","year":"1965"},{"key":"14","year":"1972"},{"key":"15","DOI":"10.1103\/PhysRevA.67.042704","doi-asserted-by":"publisher"},{"key":"16","year":"1965"[...]
- request:
    method: get
    uri: https://api.crossref.org/members?facet=t
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"parameter-not-allowed","value":"facet","message":"This
        route does not support facet"}]}'
  recorded_at: 2018-12-07 22:28:37 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
