http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAgVXFlFmxkam1HbkpnUWxxbWlCMkxwREpMSFEAAAAACRRKzRZ5OGlTOGc0elJObTlaMjFJeWtWZ1FnAAAAABGtAKcWTzVoX2ZEVS1SWnE4ZHBtX2VLZ2NNZwAAAAAQYdgNFi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ6ighY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAACBVcWYWbGRqbUduSmdRbHFtaUIyTHBESkxIUQ==","total-results":372426,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:52:36Z","timestamp":1648648356525},"reference-count":18,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Sarcoma"],"published-print":{"date-parts":[[2015]]},"abstract":"<jats:p>In
        2013 Australia introduced Wiki-based Clinical Practice Guidelines for the
        Management of Adult Onset Sarcoma. These guidelines utilized a customized
        MediaWiki software application for guideline development and are the first
        evidence-based guidelines for clinical management of sarcoma. This paper presents
        our experience with developing and implementing web-based interactive guidelines
        and reviews some of the challenges and lessons from adopting an evidence-based
        (rather than consensus-based) approach to clinical sarcoma guidelines. Digital
        guidelines can be easily updated with new evidence, continuously reviewed
        and widely disseminated. They provide an accessible method of enabling clinicians
        and consumers to access evidence-based clinical practice recommendations and,
        as evidenced by over 2000 views in the first four months after release, with
        49% of those visits being from countries outside of Australia. The lessons
        learned have relevance to other rare cancers in addition to the international
        sarcoma community.<\/jats:p>","DOI":"10.1155\/2015\/614179","type":"journal-article","created":{"date-parts":[[2015,2,16]],"date-time":"2015-02-16T21:02:56Z","timestamp":1424120576000},"page":"1-6","source":"Crossref","is-referenced-by-count":9,"title":["Wiki-Based
        Clinical Practice Guidelines for the Management of Adult Onset Sarcoma: A
        New Paradigm in Sarcoma Evidence"],"prefix":"10.1155","volume":"2015","author":[{"given":"S.
        J.","family":"Neuhaus","sequence":"first","affiliation":[{"name":"Australasian
        Sarcoma Study Group, Melbourne, VIC 3002, Australia"}]},{"given":"D.","family":"Thomas","sequence":"additional","affiliation":[{"name":"Australasian
        Sarcoma Study Group, Melbourne, VIC 3002, Australia"}]},{"given":"J.","family":"Desai","sequence":"additional","affiliation":[{"name":"Australasian
        Sarcoma Study Group, Melbourne, VIC 3002, Australia"}]},{"given":"C.","family":"Vuletich","sequence":"additional","affiliation":[{"name":"Cancer
        Council Australia, Sydney, NSW 2000, Australia"}]},{"given":"J.","family":"von
        Dincklage","sequence":"additional","affiliation":[{"name":"Cancer Council
        Australia, Sydney, NSW 2000, Australia"}]},{"given":"I.","family":"Olver","sequence":"additional","affiliation":[{"name":"Cancer
        Council Australia, Sydney, NSW 2000, Australia"}]}],"member":"98","reference":[{"key":"1","doi-asserted-by":"publisher","DOI":"10.1056\/nejmra041866"},{"key":"2","doi-asserted-by":"crossref","first-page":"140","volume":"84","year":"2014","journal-title":"ANZ
        Journal of Surgery","DOI":"10.1111\/ans.12623"},{"key":"3","doi-asserted-by":"publisher","DOI":"10.1016\/j.ejca.2006.03.034"},{"key":"4","doi-asserted-by":"publisher","DOI":"10.1093\/annonc\/mds254"},{"key":"5","doi-asserted-by":"publisher","DOI":"10.1093\/annonc\/mds253"},{"key":"6","year":"2006"},{"key":"8","doi-asserted-by":"publisher","DOI":"10.1371\/journal.pmed.1000326"},{"key":"9","doi-asserted-by":"publisher","DOI":"10.5694\/mja13.10862"},{"key":"10","doi-asserted-by":"publisher","DOI":"10.1186\/1472-6947-8-38"},{"key":"11","series-title":"Handbook
        2013 for Section Authors and the Guideline Working Party","year":"2013"},{"key":"12","first-page":"201","volume":"5,
        article e201","year":"2011","journal-title":"Open Medicine"},{"key":"13","year":"2013"},{"key":"14","doi-asserted-by":"publisher","DOI":"10.1136\/bmj.f139"},{"key":"15","doi-asserted-by":"publisher","DOI":"10.1097\/sla.0b013e31819f6db8"},{"key":"16","doi-asserted-by":"publisher","DOI":"10.1016\/j.amepre.2010.07.016"},{"key":"17","doi-asserted-by":"publisher","DOI":"10.1002\/cncr.20995"},{"key":"18","year":"2013"},{"key":"19","doi-asserted-by":"publisher","DOI":"10.1016\/s1470-2045(13)70475-3"}],"container-title":["Sarcoma"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/sarcoma\/2015\/614179.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/sarcoma\/2015\/614179.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/sarcoma\/2015\/614179.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,6,23]],"date-time":"2017-06-23T05:37:14Z","timestamp":1498196234000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.hindawi.com\/journals\/sarcoma\/2015\/614179\/"}},"issued":{"date-parts":[[2015]]},"references-count":18,"alternative-id":["614179","614179"],"URL":"http:\/\/dx.doi.org\/10.1155\/2015\/614179","ISSN":["1357-714X","1369-1643"],"issn-type":[{"value":"1357-714X","type":"print"},{"value":"1369-1643","type":"electronic"}],"subject":["Radiology,
        Nuclear Medicine and imaging","Oncology"],"published":{"date-parts":[[2015]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:52:40Z","timestamp":1648648360267},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"2","license":[{"start":{"date-parts":[[1999,1,1]],"date-time":"1999-01-01T00:00:00Z","timestamp":915148800000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-nc\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Canadian
        Journal of Gastroenterology"],"published-print":{"date-parts":[[1999]]},"abstract":"<jats:p>Causes
        of a massive elevation in serum aminotransferases (aspartate ami[...]
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAgVXFlFmxkam1HbkpnUWxxbWlCMkxwREpMSFEAAAAACRRKzRZ5OGlTOGc0elJObTlaMjFJeWtWZ1FnAAAAABGtAKcWTzVoX2ZEVS1SWnE4ZHBtX2VLZ2NNZwAAAAAQYdgNFi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ6ighY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAACBVcWYWbGRqbUduSmdRbHFtaUIyTHBESkxIUQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) [...]
[...]
