http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJy7Pzh8egCPwZodHRwOi8vZHguZG9pLm9yZy8xMC4xMTU1LzIwMTMvMTU4MjQw","total-results":222767,"items":[{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:04:14Z","timestamp":1550005454076},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Yeast"],"published-print":{"date-parts":[[2000]]},"DOI":"10.1002\/(sici)1097-0061(200004)17:1<56::aid-yea12>3.0.co;2-h","type":"journal-article","created":{"date-parts":[[2002,8,25]],"date-time":"2002-08-25T21:39:00Z","timestamp":1030311540000},"page":"56-69","source":"Crossref","is-referenced-by-count":1,"title":["Plant
        and Animal Genome VIII and Agricultural Microbes Genome I"],"prefix":"10.1155","volume":"1","member":"98","container-title":["Yeast"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/ijg\/2000\/873902.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/ijg\/2000\/873902.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,3,1]],"date-time":"2016-03-01T17:14:01Z","timestamp":1456852441000},"score":1.0,"issued":{"date-parts":[[2000]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2000]]},"issue":"1"},"alternative-id":["873902"],"URL":"http:\/\/dx.doi.org\/10.1002\/(sici)1097-0061(200004)17:1<56::aid-yea12>3.0.co;2-h","ISSN":["0749-503X","1097-0061"],"issn-type":[{"value":"0749-503X","type":"print"},{"value":"1097-0061","type":"electronic"}]},{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:04:14Z","timestamp":1550005454128},"reference-count":18,"publisher":"Hindawi
        Limited","issue":"1","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2000,1,1]],"date-time":"2000-01-01T00:00:00Z","timestamp":946684800000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Yeast"],"published-print":{"date-parts":[[2000]]},"abstract":"<jats:p>The
        rapidly accumulating genome sequence data from the plant<jats:italic>Arabidopsis
        thaliana<\/jats:italic>allows more detailed analysis of genome content and
        organisation than ever bafore possible in plants. The genome shows a surprisingly
        high level of genetic redundancy, with as many as 75% of gene products showing
        signficant homology to another protien of<jats:italic>A. thaliana.<\/jats:italic>Many
        duplicated genes occur in arrays of conserved order and indicate that<jats:italic>A.
        thaliana<\/jats:italic>is likely to have had a tetraploid ancestor. Analysis
        of the divergence of duplicated genome segments leads to the prediction of
        two major modes of plant genome evolution: macro-scale duplication and rearrangement
        of chromosomes and micro-scale translocation, duplication and loss of individual
        genes or small groups of genes.<\/jats:p>","DOI":"10.1002\/(sici)1097-0061(200004)17:1<1::aid-yea3>3.0.co;2-v","type":"journal-article","created":{"date-parts":[[2002,8,25]],"date-time":"2002-08-25T21:39:00Z","timestamp":1030311540000},"page":"1-5","source":"Crossref","is-referenced-by-count":13,"title":["Insights
        into the Structural and Functional Evolution of Plant Genomes Afforded by
        the Nucleotide Sequences of Chromosomes 2 and 4 ofArabidopsis thaliana"],"prefix":"10.1155","volume":"1","author":[{"given":"Ian","family":"Bancroft","sequence":"first","affiliation":[{"name":"John
        Innes Centre, Norwich Research Park, Colney, Norwich NR4 7UH, UK"}]}],"member":"98","reference":[{"key":"10.1002\/(SICI)1097-0061(200004)17:1<1::AID-YEA3>3.0.CO;2-V-BIB1","author":"Bevan","volume":"391","first-page":"485","year":"1998","journal-title":"Nature","DOI":"10.1038\/35140","doi-asserted-by":"crossref"},{"key":"10.1002\/(SICI)1097-0061(200004)17:1<1::AID-YEA3>3.0.CO;2-V-BIB2","author":"Cavell","volume":"41","first-page":"62","year":"1998","journal-title":"Genome","DOI":"10.1139\/g97-097","doi-asserted-by":"crossref"},{"key":"10.1002\/(SICI)1097-0061(200004)17:1<1::AID-YEA3>3.0.CO;2-V-BIB3","author":"C.
        elegans Sequencing Consortium","volume":"282","first-page":"2012","year":"1998","journal-title":"Science","DOI":"10.1126\/science.282.5396.2012","doi-asserted-by":"crossref"},[...]
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?rows=30&cursor=AoJy7Pzh8egCPwZodHRwOi8vZHguZG9pLm9yZy8xMC4xMTU1LzIwMTMvMTU4MjQw
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type:[...]
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?rows=30&cursor=AoJ69IHi8egCPwZodHRwOi8vZHguZG9pLm9yZy8xMC4xMTU1LzIwMTMvNjQ3OTM2
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type:[...]
