http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?rows=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAQYaZFFmwwTF9ZaHF6VGlTa19kS0s2MDU0NVEAAAAAHj5wrRZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAAB4-cK4WcXd6bW55Q1ZRa0tpbTdJdnVtblpSQQAAAAAQYdR5Fi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ6e7xY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAABAvdaMWVlJsZUxfWm5RN0dEbHhsVG9zc3A5dw==","total-results":372426,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:08:29Z","timestamp":1648562909230},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"1","license":[{"start":{"date-parts":[[2005,1,1]],"date-time":"2005-01-01T00:00:00Z","timestamp":1104537600000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Applied Mathematics"],"published-print":{"date-parts":[[2005]]},"abstract":"<jats:p>We
        extend, sharpen, or give independent proofs of classical maximum principles.
        We also concentrate on maximum principles for equations of higher order. All
        proofs (except for one) are derived via comparison principles. The two parts
        maybe read independently, but the whole paper is not self-contained.<\/jats:p>","DOI":"10.1155\/jam.2005.49","type":"journal-article","created":{"date-parts":[[2005,2,16]],"date-time":"2005-02-16T04:00:41Z","timestamp":1108526441000},"page":"49-58","source":"Crossref","is-referenced-by-count":0,"title":["Remarks
        relevant to classical maximum principles"],"prefix":"10.1155","volume":"2005","author":[{"given":"Cristian-Paul","family":"Danet","sequence":"first","affiliation":[{"name":"Department
        of Applied Mathematics, University of Craiova, Craiova 200585, Romania"}]}],"member":"98","container-title":["Journal
        of Applied Mathematics"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/jam\/2005\/279676.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/jam\/2005\/279676.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,8,23]],"date-time":"2016-08-23T03:37:50Z","timestamp":1471923470000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.hindawi.com\/journals\/jam\/2005\/279676\/abs\/"}},"issued":{"date-parts":[[2005]]},"references-count":0,"journal-issue":{"issue":"1","published-print":{"date-parts":[[2005]]}},"alternative-id":["279676"],"URL":"http:\/\/dx.doi.org\/10.1155\/jam.2005.49","ISSN":["1110-757X","1687-0042"],"issn-type":[{"value":"1110-757X","type":"print"},{"value":"1687-0042","type":"electronic"}],"subject":["Applied
        Mathematics"],"published":{"date-parts":[[2005]]}},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:14:54Z","timestamp":1648563294923},"reference-count":22,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2013,1,1]],"date-time":"2013-01-01T00:00:00Z","timestamp":1356998400000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
 [...]
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?rows=100&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAQYaZFFmwwTF9ZaHF6VGlTa19kS0s2MDU0NVEAAAAAHj5wrRZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAAB4-cK4WcXd6bW55Q1ZRa0tpbTdJdnVtblpSQQAAAAAQYdR5Fi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ6e7xY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAABAvdaMWVlJsZUxfWm5RN0dEbHhsVG9zc3A5dw%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99)[...]
