http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1544145446981,"primary-name":"Hindawi
        Limited","counts":{"total-dois":212562,"current-dois":55421,"backfile-dois":157141},"breakdowns":{"dois-by-issued-year":[[2014,28910],[2013,26107],[2012,23103],[2015,21827],[2018,20094],[2016,18601],[2017,16726],[2011,12405],[2010,6505],[2009,3850],[2008,2994],[2002,2330],[2001,2116],[2007,2030],[2006,2030],[2004,1811],[2005,1649],[2003,1625],[2000,1480],[1999,1228],[1998,1221],[1995,1031],[1996,1026],[1994,1015],[1997,1006],[1993,852],[1992,762],[1991,688],[1990,540],[1989,387],[1988,362],[1983,289],[1987,249],[1981,244],[1980,244],[1986,234],[1985,226],[1982,217],[1984,213],[1979,178],[1978,140],[1891,110],[197[...]
- request:
    method: get
    uri: https://api.crossref.org/members/98/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":213885,"items":[{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:16:57Z","timestamp":1523675817335},"reference-count":0,"publisher":"Hindawi
        Limited","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1155\/1737","type":"journal","created":{"date-parts":[[2016,7,31]],"date-time":"2016-07-31T14:34:18Z","timestamp":1469975658000},"source":"Crossref","is-referenced-by-count":0,"title":["Advances
        in Anatomy"],"prefix":"10.1155","member":"98","language":"en","deposited":{"date-parts":[[2016,7,31]],"date-time":"2016-07-31T14:34:18Z","timestamp":1469975658000},"score":1.0,"short-title":["Advances
        in Anatomy"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1155\/1737","ISSN":["2314-7547"],"issn-type":[{"value":"2314-7547","type":"electronic"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:16:57Z","timestamp":1523675817370},"reference-count":1,"publisher":"Hindawi
        Limited","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Physics
        Research International"],"published-print":{"date-parts":[[2014]]},"DOI":"10.1155\/2014\/128505","type":"journal-article","created":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T01:42:09Z","timestamp":1410918129000},"page":"1-1","source":"Crossref","is-referenced-by-count":0,"title":["Retracted:
        Structural and Optical Properties of Germanium Thin Films Prepared by the
        Vacuum Evaporation Technique"],"prefix":"10.1155","volume":"2014","member":"98","reference":[{"key":"1","DOI":"10.1155\/2014\/594968","doi-asserted-by":"publisher"}],"container-title":["Physics
        Research International"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/archive\/2014\/128505.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/archive\/2014\/128505.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/archive\/2014\/128505.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,12,10]],"date-time":"2017-12-10T14:36:20Z","timestamp":1512916580000},"score":1.0,"issued":{"date-parts":[[2014]]},"references-count":1,"alternative-id":["128505","128505"],"URL":"http:\/\/dx.doi.org\/10.1155\/2014\/128505","relation":{"cites":[]},"ISSN":["2090-2220","2090-2239"],"issn-type":[{"value":"2090-2220","type":"print"},{"value":"2090-2239","type":"electronic"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:16:57Z","timestamp":1523675817403},"reference-count":19,"publisher":"Hindawi
        Limited","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Advances
        in High Energy Physics"],"published-print":{"date-parts":[[2014]]},"abstract":"<jats:p>We
        establish asymptotic expressions for the positions of Regge poles for cold
        neutron scattering on mesoscopic cylinder mirror as well as for the<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"M1\"><mml:mrow><mml:mi>S<\/mml:mi><\/mml:mrow><\/mml:math>-matrix
        residuals. We outline the correspondence between Regge poles and near-surface
        quasi-stationary neutron states. Such states are of practical importance for
        studying subtle effects of neutron-surface interaction.<\/jats:p>","DOI":"10.1155\/2014\/124592","type":"journal-article","created":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T01:42:12Z","timestamp":1410918132000},"page":"1-8","source":"Crossref","is-referenced-by-count":0,"title":["Regge
        Poles in Neutron Scattering by a Cylinder"],"prefix":"10.1155","volume":"2014","author":[{"given":"K.
        V.","family":"Protasov","sequence":"first","affiliation":[{"name":"Laboratoire
        de Physique Subatomique et de Cosmologie (LPSC), Universit\u00e9 Grenoble
        Alpes, IN2P3-CNRS, 53 Avenue des Martyrs, 38026 Grenoble, France"}]},{"given":"A.
        Y.","family":"Voronin","sequence":"additional","affiliation":[{"name":"P.N.
        Lebedev Physical Institute, 53 Leninsky Prospekt, Moscow 119991, Russia"}]}],"member":"98","reference":[{"key":"1","DOI":"10.1038\/nphys1478","doi-asserted-by":"publisher"},{"key":"2","DOI":"10.1103\/PhysRevA.78.033616","doi-asserted-by":"publisher"},{"key":"3","DOI":"10.1016\/j.nima.2009.07.081","doi-asserted-by":"publisher"},{"key":"4","DOI":"10.1088\/1367-2630\/12\/11\/113050","doi-asserted-by":"publisher"},{"key":"5","volume":"2","year":"1878"},{"key":"6","DOI":"10.1080\/14786440108635067","doi-asserted-by":"publisher"},{"key":"7","volume":"25","first-page":"371","year":"1908","journal-title":"Annalen
        der Physik"},{"key":"8","volume":"30","first-page":"57","year":"1909","journal-title":"Annalen
        der Physik"},{"key":"9","DOI":"10.1070\/QE2002v032n05ABEH002205","doi-asserted-by":"publisher"},{"key":"10","DOI":"10.1038\/nature01939","doi-asserted-by":"publisher"},{"key":"11","year":"1992"},{"key":"12","year":"1965"},{"key":"13","year":"1965"},{"key":"14","year":"1972"},{"key":"15","DOI":"10.1103\/PhysRevA.67.042704","doi-asserted-by":"publisher"},{"key":"16","year":"1965"[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/members/1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1544144548670,"primary-name":"Annals
        of Family Medicine","counts":{"total-dois":2085,"current-dois":435,"backfile-dois":1650},"breakdowns":{"dois-by-issued-year":[[2018,162],[2005,154],[2015,150],[2017,146],[2004,146],[2013,140],[2008,137],[2010,134],[2006,132],[2014,131],[2009,129],[2016,127],[2011,123],[2007,120],[2012,118],[2003,36]]},"prefixes":["10.1370"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.7080459594726562,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":0.0,"references-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"open-references-current":0.0,"references-current":0.0},"prefix":[{"value":"10.1370","name":"Annals
        of Family Medicine","public-references":false,"reference-visibility":"limited"}],"id":1,"tokens":["annals","of","family","medicine"],"counts-type":{"all":{"journal-article":2085},"current":{"journal-article":435},"backfile":{"journal-article":1650}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1544144546274,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.14772182703018188,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}},"backfile":{"journal-article":{"last-status-check-time":1544144545184,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}},"current":{"journal-article":{"last-status-check-time":1544144544263,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.7080459594726562,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":false,"deposits-references-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":false,"deposits-open-references-current":false,"deposits-references-current":false,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":false},"location":"11400
        Tomahawk Creek Pkwy Leawood 66211-2672 United States","names":["Annals of
        Family Medicine"]}}'
  recorded_at: 2018-12-07 22:26:02 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
[...]
- request:
    method: get
    uri: https://api.crossref.org/members/10/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":598244,"items":[{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:17:06Z","timestamp":1523675826711},"reference-count":0,"publisher":"American
        Medical Association (AMA)","issue":"11","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JAMA"],"published-print":{"date-parts":[[2014,9,17]]},"DOI":"10.1001\/jama.2013.279725","type":"journal-article","created":{"date-parts":[[2014,9,17]],"date-time":"2014-09-17T01:51:30Z","timestamp":1410918690000},"page":"1073","source":"Crossref","is-referenced-by-count":0,"title":["Highlights"],"prefix":"10.1001","volume":"312","member":"10","container-title":["JAMA"],"language":"en","link":[{"URL":"http:\/\/jamanetwork.com\/journals\/jama\/fullarticle\/1904814","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,12,15]],"date-time":"2016-12-15T18:12:54Z","timestamp":1481825574000},"score":1.0,"issued":{"date-parts":[[2014,9,17]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2014,9,17]]},"issue":"11"},"URL":"http:\/\/dx.doi.org\/10.1001\/jama.2013.279725","ISSN":["0098-7484"],"issn-type":[{"value":"0098-7484","type":"print"}]},{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:17:06Z","timestamp":1523675826980},"reference-count":0,"publisher":"American
        Medical Association (AMA)","issue":"11","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JAMA"],"published-print":{"date-[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/members/9/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2018-12-07 22:26:02 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
- request:
    method: get
    uri: https://api.crossref.org/members?query=ecology
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x[...]
