http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1629156296076,"primary-name":"Hindawi
        Limited","counts":{"current-dois":61836,"backfile-dois":224303,"total-dois":286139},"breakdowns":{"dois-by-issued-year":[[2014,29224],[2013,26413],[2020,25012],[2012,23395],[2015,22115],[2018,21412],[2019,19033],[2016,18881],[2021,17791],[2017,17023],[2011,12701],[2010,6802],[2009,4175],[2008,3286],[2002,2632],[2001,2409],[2007,2336],[2006,2324],[2004,2069],[2005,1947],[2003,1884],[2000,1826],[1998,1440],[1999,1439],[1996,1252],[1995,1220],[1997,1214],[1994,1203],[1993,1067],[1992,965],[1991,900],[1990,749],[1989,602],[1988,589],[1987,477],[1986,445],[1983,433],[1985,396],[1984,392],[1981,317],[1980,313],[1982,28[...]
- request:
    method: get
    uri: https://api.crossref.org/members/98/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":287496,"items":[{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:46:05Z","timestamp":1620333965187},"reference-count":13,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2006,5,2]],"date-time":"2006-05-02T00:00:00Z","timestamp":1146528000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"funder":[{"DOI":"10.13039\/501100000923","name":"Australian
        Research Council","doi-asserted-by":"publisher","award":["C 0010 6980"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Applied Mathematics and Stochastic Analysis"],"published-print":{"date-parts":[[2006,5,2]]},"abstract":"<jats:p>We
        consider the problems of computing the power and exponential\nmoments <mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E1\"><mml:mi mathvariant=\"bold\">E<\/mml:mi><mml:msup><mml:mi>X<\/mml:mi><mml:mi>s<\/mml:mi><\/mml:msup><\/mml:math>
        and <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E2\"><mml:mi
        mathvariant=\"bold\">E<\/mml:mi><mml:msup><mml:mtext>e<\/mml:mtext><mml:mrow><mml:mi>t<\/mml:mi><mml:mi>X<\/mml:mi><\/mml:mrow><\/mml:msup><\/mml:math>
        of square Gaussian random\nmatrices <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E3\"><mml:mi>X<\/mml:mi><mml:mo>=<\/mml:mo><mml:mi>A<\/mml:mi><mml:mo>+<\/mml:mo><mml:mi>B<\/mml:mi><mml:mi>W<\/mml:mi><mml:mi>C<\/mml:mi><\/mml:math>
        for positive integer <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E4\"><mml:mi>s<\/mml:mi><\/mml:math> and real <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E5\"><mml:mi>t<\/mml:mi><\/mml:math>, where\n<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E6\"><mml:mi>W<\/mml:mi><\/mml:math> is a standard normal random vector
        and <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E7\"><mml:mi>A<\/mml:mi><\/mml:math>,
        <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E8\"><mml:mi>B<\/mml:mi><\/mml:math>,
        <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E9\"><mml:mi>C<\/mml:mi><\/mml:math>
        are\nappropriately dimensioned constant matrices. We solve the problems\nby
        a matrix product scalarization technique and interpret the\nsolutions in system-theoretic
        terms. The results of the paper are\napplicable to Bayesian prediction in
        multivariate autoregressive\ntime series and mean-reverting diffusion processes.<\/jats:p>","DOI":"10.1155\/jamsa\/2006\/42542","type":"journal-article","created":{"date-parts":[[2006,5,3]],"date-time":"2006-05-03T16:20:03Z","timestamp":1146673203000},"page":"1-20","source":"Crossref","is-referenced-by-count":0,"title":["A
        scalarization technique for computing the power and exponential\nmoments of
        Gaussian random matrices"],"prefix":"10.1155","volume":"2006","author":[{"given":"Igor","family":"Vladimirov","sequence":"first","affiliation":[]},{"given":"Bevan","family":"Thompson","sequence":"additional","affiliation":[]}],"member":"98","reference":[{"key":"1","series-title":"Wiley
        Series in Probability and Mathematical Statistics: Probability and Mathematical
        Statistics","first-page":"xiv+586","year":"1994"},{"key":"2","year":"2003"},{"key":"3","year":"1996"},{"key":"4","series-title":"Prentice-Hall
        Information and System Sciences Series","first-page":"xxi+682","year":"1980"},{"key":"5","doi-asserted-by":"publisher","DOI":"10.1016\/0304-4076(83)90048-9"},{"key":"6","series-title":"Oxford
        Sci. Publ.","first-page":"705","volume-title":"A Bayesian analysis of non-stationary
        AR series","year":"1996"},{"key":"7","series-title":"Advanced Series on Statistical
        Science & Applied Probability","first-page":"xvi+834","volume":"3","year":"1999"},{"key":"8","series-title":"The
        Taylor & Francis Systems and Control Book Series","first-page":"xviii+285","year":"1998"},{"issue":"5-7","key":"9","doi-asserted-by":"crossref","first-page":"e2367","DOI":"10.1016\/j.na.2005.02.095","volume":"63","year":"2005","journal-title":"Nonlinear
        Analysis. Theory, Methods and Applications"},{"key":"10","doi-asserted-by":"publisher","DOI":"10.1109\/TAC.1978.1101743"},{"key":"11","year":"2004"},{"key":"12","year":"2004"},{"key":"13","series-title":"A
        Wiley Publication in Mathematical Statistics","first-page":"xvi+644","year":"1962"}],"container-title":["Journal
        of Applied Mathematics and Stochastic Analysis"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/archive\/2006\/042542.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/archive\/2006\/042542.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,12,8]],"date-time":"2020-12-08T18:38:27Z","timestamp":1607452707000},"score":0.0,"issued":{"date-parts":[[2006,5,2]]},"references-count":13,"alternative-id":["042542","42542"],"URL":"http:\/\/dx.doi.org\/10.1155\/jamsa\/2006\/42542","ISSN":["1048-9533","1687-2177"],"issn-type":[{"value":"1048-9533","type":"print"},{"value":"1687-2177","type":"electronic"}],"subject":["Applied
        Mathematics","Modelling and Simulation","Statistics and Probability"],"published":{"date-parts":[[2006,5,2]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T21:39:35Z","timestamp":1620337175687},"reference-count":16,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2006,1,1]],"date-time":"2006-01-01T00:00:00Z","timestamp":1136073600000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["International
        Journal of Mathematics and Mathematical Sciences"],"published-print":{"date-parts":[[2006]]},"abstract":"<jats:p>We
        consider manifolds of oriented flags<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><mml:mrow><mml:mrow><mml:mtext>SO<\/mml:mtext><mml:mrow><mml:mo>(<\/mml:mo><mml:mi>n<\/mml:mi><mml:mo>)<\/mml:mo><\/mml:mrow><\/mml:mrow><mml:mo>\/<\/mml:mo><mml:mrow><mml:mtext>SO<\/mml:mtext><mml:mrow><mml:mo>(<\/mml:mo><mml:mn>2<\/mml:mn><mml:mo>)<\/mml:mo><\/mml:mrow><\/mml:mrow><\/mml:mrow><mml:mo>\u00d7<\/mml:mo><mml:mtext>SO<\/mml:mtext><mml:mrow><mml:mo>(<\/mml:mo><mml:mrow><mml:mi>n<\/mml:mi><mml:mo>\u2212<\/mml:mo><mml:mn>3<\/mml:mn><\/mml:mrow><mml:mo>)<\/mml:mo><\/mml:mrow><\/mml:math><mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><mml:mrow><mml:mrow><mml:mo>(<\/mml:mo><mml:mrow><mml:mi>n<\/mml:mi><mml:mo>\u2265<\/mml:mo><mml:mn>4<\/mml:mn><\/mml:mrow><mml:mo>)<\/mml:mo><\/mml:mrow><\[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/members/1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1629156281582,"primary-name":"Annals
        of Family Medicine","counts":{"current-dois":377,"backfile-dois":2085,"total-dois":2462},"breakdowns":{"dois-by-issued-year":[[2018,162],[2005,154],[2015,150],[2019,147],[2017,146],[2004,146],[2020,142],[2013,140],[2008,137],[2010,134],[2006,132],[2014,131],[2009,129],[2016,127],[2011,123],[2007,120],[2012,118],[2021,88],[2003,36]]},"prefixes":["10.1370","10.1370"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":0.158273381294964,"references-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"open-references-current":0.0,"references-current":0.0},"prefix":[{"reference-visibility":"limited","name":"Annals
        of Family Medicine","value":"10.1370","public-references":false},{"reference-visibility":"limited","name":"Annals
        of Family Medicine","value":"10.1370","public-references":false}],"id":1,"tokens":["annals","of","family","medicine"],"counts-type":{"all":{"journal-article":2462},"backfile":{"journal-article":2085},"current":{"journal-article":377}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1629156281582,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.2871649065800162,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}},"backfile":{"journal-article":{"last-status-check-time":1629156281582,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.158273381294964,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}},"current":{"journal-article":{"last-status-check-time":1629156281582,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":1.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":false,"deposits-references-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":false,"deposits-open-references-current":false,"deposits-references-current":false,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":false},"location":"Leawood,
        KS, United States","names":["Annals of Family Medicine"]}}'
  recorded_at: 2021-08-17 17:24:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/members/9/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":0,"items":[],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2021-08-17 17:24:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/members?query=ecology
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
[...]
