http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/1988/works?filter=from-index-date%3A2023-02-06
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.0.0 crul/1.3 rOpenSci(rcrossref/1.2.9) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":411,"items":[{"indexed":{"date-parts":[[2023,2,17]],"date-time":"2023-02-17T06:27:10Z","timestamp":1676615230247},"publisher-location":"London","standards-body":{"name":"BSI
        British Standards","acronym":"BSI"},"reference-count":0,"publisher":"BSI British
        Standards","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.3403\/30430945","type":"standard","created":{"date-parts":[[2023,2,16]],"date-time":"2023-02-16T21:30:29Z","timestamp":1676583029000},"approved":{"date-parts":[[2023,2,28]]},"source":"Crossref","is-referenced-by-count":0,"title":["Dentistry
        \ufffd Endodontic instruments"],"prefix":"10.3403","member":"1988","deposited":{"date-parts":[[2023,2,16]],"date-time":"2023-02-16T21:30:52Z","timestamp":1676583052000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/linkresolver.bsigroup.com\/junction\/resolve\/000000000030430945?restype=standard"}},"subtitle":["Part
        2: Enlargers"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.3403\/30430945"},{"indexed":{"date-parts":[[2023,2,17]],"date-time":"2023-02-17T06:27:35Z","timestamp":1676615255804},"publisher-location":"London","standards-body":{"name":"BSI
        British Standards","acronym":"BSI"},"reference-count":0,"publisher":"BSI British
        Standards","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.3403\/30451915u","type":"standard","created":{"date-parts":[[2023,2,16]],"date-time":"2023-02-16T21:30:29Z","t[...]
- request:
    method: get
    uri: https://api.crossref.org/members/1988/works?filter=from-index-date%3A2023-02-06%2Cuntil-index-date%3A2023-02-14
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.0.0 crul/1.3 rOpenSci(rcrossref/1.2.9) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 [...]
[...]
