http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1038
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/297","name":"Springer
        Science and Business Media LLC","prefix":"http:\/\/id.crossref.org\/prefix\/10.1038"}}'
  recorded_at: 2021-08-17 17:25:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
