http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?query=ecology&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":71066,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T23:27:10Z","timestamp":1648769230799},"reference-count":50,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2016,2,1]],"date-time":"2016-02-01T00:00:00Z","timestamp":1454284800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Fungal
        Ecology"],"published-print":{"date-parts":[[2016,2]]},"DOI":"10.1016\/j.funeco.2015.10.002","type":"journal-article","created":{"date-parts":[[2015,11,14]],"date-time":"2015-11-14T21:46:49Z","timestamp":1447537609000},"page":"1-4","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":5,"title":["Aquatic
        fungal ecology"],"prefix":"10.1016","volume":"19","author":[{"given":"Felix","family":"B\u00e4rlocher","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.funeco.2015.10.002_bib1","first-page":"395","article-title":"Marine
        fungi: their taxonomy and biology","volume":"1","author":"Barghoorn","year":"1944","journal-title":"Farlowia"},{"key":"10.1016\/j.funeco.2015.10.002_bib2","series-title":"The
        Ecology of Aquatic Hyphomycetes","year":"1992"},{"key":"10.1016\/j.funeco.2015.10.002_bib3","doi-asserted-by":"crossref","first-page":"1027","DOI":"10.1899\/09-081.1","article-title":"Molecular
        approaches promise a deeper and broader understanding of the evolutionary
        ecology of aquatic hyphomycetes","volume":"29","author":"B\u00e4rlocher","year":"2010","journal-title":"J.
        N. Am. Benthol. Soc."},{"key":"10.1016\/j.funeco.2015.10.002_bib4","doi-asserted-by":"crossref","first-page":"14","DOI":"10.1016\/j.funeco.2015.05.005","article-title":"Aquatic
        hyphomycetes in a changing[...]
