http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAADIeWVFmJsa3E5SWZHUmhTeDhLTW5sdDFCdVEAAAAAAcTp8BY3Q0NNek5lOFEzRzJTVmdBekhld21RAAAAAAHrsRQWdGtxZFdlbXRRbDIxQkszOHAyVGQ0dwAAAAAB4ScUFnlfU2hSRFNHUWpXbDBMX0lLSkJzTEEAAAAAAeEnFRZ5X1NoUkRTR1FqV2wwTF9JS0pCc0xBAAAAAAMnmFcWZjl2cmtrRUhSQnFFbnZ5NTBIa2RRUQ==","total-results":18183799,"items":[{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:07:48Z","timestamp":1620331668137},"reference-count":0,"publisher":"Elsevier
        BV","issue":"2","license":[{"start":{"date-parts":[[1990,10,1]],"date-time":"1990-10-01T00:00:00Z","timestamp":654739200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Carbohydrate
        Research"],"published-print":{"date-parts":[[1990,10]]},"DOI":"10.1016\/0008-6215(90)84065-3","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T17:10:16Z","timestamp":1027617016000},"page":"C9-C10","source":"Crossref","is-referenced-by-count":0,"title":["Subject
        index"],"prefix":"10.1016","volume":"207","member":"78","container-title":["Carbohydrate
        Research"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0008621590840653?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0008621590840653?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,4,25]],"date-time":"2019-04-25T06:53:17Z","timestamp":1556175197000},"score":0.0,"issued":{"date-parts":[[1990,10]]},"references-count":0,"journal-issue":{"issue":"2","published-print":{"date-parts":[[1990,10]]}},"alternative-id":["0008621590840653"],"URL":"http:\/\/dx.doi.org\/10.1016\/0008-6215(90)84065-3","ISSN":["0008-6215"],"issn-type":[{"value":"0008-6215","type":"print"}],"subject":["Organic
        Chemistry","Biochemistry","General Medicine","Analytical Chemistry"],"published":{"date-parts":[[1990,10]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:07:49Z","timestamp":1620331669863},"reference-count":0,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[1985,3,1]],"date-time":"1985-03-01T00:00:00Z","timestamp":478483200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Carbohydrate
        Research"],"published-print":{"date-parts":[[1985,3]]},"DOI":"10.1016\/0008-6215(85)85178-8","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T17:11:11Z","timestamp":1027617071000},"page":"C20-C21","source":"Crossref","is-referenced-by-count":0,"title":["Bacterial
        Lipopolysaccharides: Structure, Synthesis, and Biological Activities"],"prefix":"10.1016","volume":"137","author":[{"given":"William","family":"Egan","sequence":"first","affiliation":[]}],"member":"78","container-title":["Carbohydrate
        Research"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0008621585851788?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0008621585851788?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[[...]
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAADIeWVFmJsa3E5SWZHUmhTeDhLTW5sdDFCdVEAAAAAAcTp8BY3Q0NNek5lOFEzRzJTVmdBekhld21RAAAAAAHrsRQWdGtxZFdlbXRRbDIxQkszOHAyVGQ0dwAAAAAB4ScUFnlfU2hSRFNHUWpXbDBMX0lLSkJzTEEAAAAAAeEnFRZ5X1NoUkRTR1FqV2wwTF9JS0pCc0xBAAAAAAMnmFcWZjl2cmtrRUhSQnFFbnZ5NTBIa2RRUQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.[...]
[...]
