http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-full-text%3Atrue&rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":15273054,"items":[{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:24:21Z","timestamp":1523582661634},"reference-count":10,"publisher":"Elsevier
        BV","issue":"12","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2009,12,1]],"date-time":"2009-12-01T00:00:00Z","timestamp":1259625600000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/","start":{"date-parts":[[2016,1,27]],"date-time":"2016-01-27T00:00:00Z","timestamp":1453852800000},"delay-in-days":2248,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of the Chinese Medical Association"],"published-print":{"date-parts":[[2009,12]]},"DOI":"10.1016\/s1726-4901(09)70443-5","type":"journal-article","created":{"date-parts":[[2009,12,31]],"date-time":"2009-12-31T09:17:11Z","timestamp":1262251031000},"page":"625-628","source":"Crossref","is-referenced-by-count":1,"title":["Two-glove-finger-balloon
        Dissection of Retroperitoneal Space for Laparoscopic Urology"],"prefix":"10.1016","volume":"72","author":[{"given":"Yasar","family":"Ozgok","sequence":"first","affiliation":[]},{"given":"Mete","family":"Kilciler","sequence":"additional","affiliation":[]},{"given":"Mustafa
        Okan","family":"Istanbulluoglu","sequence":"additional","affiliation":[]},{"given":"Mesut","family":"Piskin","sequence":"additional","affiliation":[]},{"given":"Selahattin","family":"Bedir","sequence":"additional","affiliation":[]},{"given":"Seref","family":"Basal","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Journal
        of the Chinese Medical Association"],"language":"en","link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1726490109704435?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1726490109704435?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,19]],"date-time":"2017-06-19T03:20:22Z","timestamp":1497842422000},"score":1.0,"issued":{"date-parts":[[2009,12]]},"references-count":10,"journal-issue":{"published-print":{"date-parts":[[2009,12]]},"issue":"12"},"alternative-id":["S1726490109704435"],"URL":"http:\/\/dx.doi.org\/10.1016\/s1726-4901(09)70443-5","ISSN":["1726-4901"],"issn-type":[{"value":"1726-4901","type":"print"}]},{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:24:21Z","timestamp":1523582661698},"reference-count":8,"publisher":"Elsevier
        BV","issue":"12","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2009,12,1]],"date-time":"2009-12-01T00:00:00Z","timestamp":1259625600000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/","start":{"date-parts":[...]
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?query=ecology&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-lim[...]
