http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-full-text%3Atrue&rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":18387602,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:52Z","timestamp":1648648252049},"reference-count":0,"publisher":"Elsevier
        BV","issue":"9781","license":[{"start":{"date-parts":[[2011,6,1]],"date-time":"2011-06-01T00:00:00Z","timestamp":1306886400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Lancet"],"published-print":{"date-parts":[[2011,6]]},"DOI":"10.1016\/s0140-6736(11)60792-7","type":"journal-article","created":{"date-parts":[[2011,6,4]],"date-time":"2011-06-04T21:55:09Z","timestamp":1307224509000},"page":"1892","source":"Crossref","is-referenced-by-count":1,"title":["Specialist
        nurses and lung cancer"],"prefix":"10.1016","volume":"377","author":[{"family":"The
        Lancet","sequence":"first","affiliation":[]}],"member":"78","container-title":["The
        Lancet"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0140673611607927?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0140673611607927?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,12,2]],"date-time":"2018-12-02T10:50:59Z","timestamp":1543747859000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/S0140673611607927"}},"issued":{"date-parts":[[2011,6]]},"references-count":0,"journal-issue":{"issue":"9781","published-print":{"date-parts":[[2011,6]]}},"alternative-id":["S0140673611607927"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0140-6736(11)60792-7","ISSN":["0140-6736"],"issn-type":[{"value":"0140-6736","type":"print"}],"subject":["General
        Medicine"],"published":{"date-parts":[[2011,6]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:52Z","timestamp":1648648252173},"reference-count":0,"publisher":"Elsevier
        BV","issue":"3","license":[{"start":{"date-parts":[[1982,1,1]],"date-time":"1982-01-01T00:00:00Z","timestamp":378691200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ocean
 [...]
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?query=ecology&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate[...]
