http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1038
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/297","name":"Springer
        Nature","prefix":"http:\/\/id.crossref.org\/prefix\/10.1038"}}'
  recorded_at: 2018-12-07 22:14:43 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
[...]
