http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ4mavh8egCPwRodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2pwcy4xMDAxMg==","total-results":16200504,"items":[{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:02:43Z","timestamp":1550005363665},"reference-count":34,"publisher":"Elsevier
        BV","issue":"1","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2000,1,1]],"date-time":"2000-01-01T00:00:00Z","timestamp":946684800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Interactive Marketing"],"published-print":{"date-parts":[[2000,1]]},"DOI":"10.1002\/(sici)1520-6653(200024)14:1<2::aid-dir1>3.0.co;2-n","type":"journal-article","created":{"date-parts":[[2002,8,25]],"date-time":"2002-08-25T04:06:00Z","timestamp":1030248360000},"page":"2-14","source":"Crossref","is-referenced-by-count":3,"title":["Life\/Style
        Online\u00a9 a web-based methodology for visually-oriented consumer research"],"prefix":"10.1016","volume":"14","author":[{"given":"Basil
        G.","family":"Englis","sequence":"first","affiliation":[]},{"given":"Michael
        R.","family":"Solomon","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Journal
        of Interactive Marketing"],"language":"en","link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1094996800701952?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1094996800701952?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,14]],"date-time":"2017-06-14T16:12:14Z","timestamp":1497456734000},"score":1.0,"issued":{"date-parts":[[2000,1]]},"references-count":34,"journal-issue":{"published-print":{"date-parts":[[2000,1]]},"issue":"1"},"alternative-id":["S1094996800701952"],"URL":"http:\/\/dx.doi.org\/10.1002\/(sici)1520-6653(200024)14:1<2::aid-dir1>3.0.co;2-n","ISSN":["1094-9968"],"issn-type":[{"value":"1094-9968","type":"print"}]},{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:02:43Z","timestamp":1550005363702},"reference-count":8,"publisher":"Elsevier
        BV","issue":"1","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2000,1,1]],"date-time":"2000-01-01T00:00:00Z","timestamp":946684800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journ[...]
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=30&cursor=AoJ4mavh8egCPwRodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2pwcy4xMDAxMg%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      con[...]
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=30&cursor=AoJ54L%2Fh8egCPwNodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2pwcy4xMDg4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-t[...]
