http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAQYbaAFmwwTF9ZaHF6VGlTa19kS0s2MDU0NVEAAAAAHj6QxxZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAAB4-kMgWcXd6bW55Q1ZRa0tpbTdJdnVtblpSQQAAAAAQPq69FkhBcDcxdTgyU0FxN2lxRmNuUUh4cWcAAAAAEJ6vUBY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAABAvhu4WVlJsZUxfWm5RN0dEbHhsVG9zc3A5dw==","total-results":19129253,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:08:25Z","timestamp":1648562905994},"reference-count":10,"publisher":"Elsevier
        BV","issue":"10","license":[{"start":{"date-parts":[[2009,10,1]],"date-time":"2009-10-01T00:00:00Z","timestamp":1254355200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of Heart and Lung Transplantation"],"published-print":{"date-parts":[[2009,10]]},"DOI":"10.1016\/j.healun.2009.05.025","type":"journal-article","created":{"date-parts":[[2009,9,25]],"date-time":"2009-09-25T16:43:37Z","timestamp":1253897017000},"page":"1102-1106","source":"Crossref","is-referenced-by-count":5,"title":["A
        Novel and Knotless Technique for Heterotopic Cardiac Transplantation in Mice"],"prefix":"10.1016","volume":"28","author":[{"given":"Minjie","family":"Mao","sequence":"first","affiliation":[]},{"given":"Xiaosun","family":"Liu","sequence":"additional","affiliation":[]},{"given":"Jiong","family":"Tian","sequence":"additional","affiliation":[]},{"given":"Sheng","family":"Yan","sequence":"additional","affiliation":[]},{"given":"Xia","family":"Lu","sequence":"additional","affiliation":[]},{"given":"Faikah","family":"Gueler","sequence":"additional","affiliation":[]},{"given":"Hermann","family":"Haller","sequence":"additional","affiliation":[]},{"given":"Song","family":"Rong","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.healun.2009.05.025_bib1","doi-asserted-by":"crossref","first-page":"665","DOI":"10.1016\/j.healun.2007.02.001","article-title":"A
        simplified technique for heart transplantation in mice: modified venous anastomosis","volume":"26","author":"Wang","year":"2007","journal-title":"J
        Heart Lung Transplant"},{"key":"10.1016\/j.healun.2009.05.025_bib2","doi-asserted-by":"crossref","first-page":"1123","DOI":"10.1016\/S1053-2498(01)00309-6","article-title":"The
        technique for heterotopic cardiac transplantation in mice: experience of 3000
        operations by one surgeon","volume":"20","author":"Niimi","year":"2001","journal-title":"J
        Heart Lung Transplant"},{"key":"10.1016\/j.healun.2009.05.025_bib3","doi-asserted-by":"crossref","first-page":"76","DOI[...]
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAQYbaAFmwwTF9ZaHF6VGlTa19kS0s2MDU0NVEAAAAAHj6QxxZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAAB4-kMgWcXd6bW55Q1ZRa0tpbTdJdnVtblpSQQAAAAAQPq69FkhBcDcxdTgyU0FxN2lxRmNuUUh4cWcAAAAAEJ6vUBY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAABAvhu4WVlJsZUxfWm5RN0dEbHhsVG9zc3A5dw%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.[...]
[...]
