http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-full-text%3Atrue&rows=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":17466879,"items":[{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:37:18Z","timestamp":1620333438642},"reference-count":0,"publisher":"Elsevier
        BV","issue":"6","license":[{"start":{"date-parts":[[1969,12,1]],"date-time":"1969-12-01T00:00:00Z","timestamp":-2678400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of Pediatrics"],"published-print":{"date-parts":[[1969,12]]},"DOI":"10.1016\/s0022-3476(69)80360-4","type":"journal-article","created":{"date-parts":[[2006,4,28]],"date-time":"2006-04-28T12:56:01Z","timestamp":1146228961000},"page":"1100-1110","source":"Crossref","is-referenced-by-count":0,"title":["Subject
        index"],"prefix":"10.1016","volume":"75","member":"78","container-title":["The
        Journal of Pediatrics"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0022347669803604?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0022347669803604?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,1,16]],"date-time":"2019-01-16T22:29:10Z","timestamp":1547677750000},"score":0.0,"issued":{"date-parts":[[1969,12]]},"references-count":0,"journal-issue":{"issue":"6","published-print":{"date-parts":[[1969,12]]}},"alternative-id":["S0022347669803604"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0022-3476(69)80360-4","ISSN":["0022-3476"],"issn-type":[{"value":"0022-3476","type":"print"}],"subject":["Pediatrics,
        Perinatology, and Child Health"],"published":{"date-parts":[[1969,12]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:37:19Z","timestamp":1620333439742},"reference-count":0,"publisher":"Elsevier
        BV","issue":"8","license":[{"start":{"date-parts":[[1999,8,1]],"date-time":"1999-08-01T00:00:00Z","timestamp":933465600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Metal
 [...]
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?query=ecology&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-ra[...]
