http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?query=ecology&rows=4
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":59041,"items":[{"indexed":{"date-parts":[[2018,5,2]],"date-time":"2018-05-02T21:40:48Z","timestamp":1525297248899},"reference-count":2,"publisher":"Elsevier
        BV","issue":"8","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1997,8,1]],"date-time":"1997-08-01T00:00:00Z","timestamp":870393600000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Trends
        in Ecology & Evolution"],"published-print":{"date-parts":[[1997,8]]},"DOI":"10.1016\/s0169-5347(97)89918-1","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T13:41:10Z","timestamp":1027604470000},"page":"319-320","source":"Crossref","is-referenced-by-count":1,"title":["Is
        the ecology of molecules really ecology?"],"prefix":"10.1016","volume":"12","author":[{"given":"Ferdinando","family":"Boero","sequence":"first","affiliation":[]}],"member":"78","container-title":["Trends
        in Ecology & Evolution"],"language":"en","link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0169534797899181?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0169534797899181?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,14]],"date-time":"2017-06-14T21:00:47Z","timestamp":1497474047000},"score":9.618162,"issued":{"date-parts":[[1997,8]]},"references-count":2,"journal-issue":{"published-print":{"date-parts":[[1997,8]]},"issue":"8"},"alternative-id":["S0169534797899181"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0169-5347(97)89918-1","ISSN":["0169-5347"],"issn-type":[{"value":"0169-5347","type":"print"}]},{"indexed":{"date-parts":[[2018,5,3]],"date-time":"2018-05-03T23:14:06Z","timestamp":1525389246363},"reference-count":0,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1994,4,1]],"date-time":"1994-04-01T00:00:00Z","timestamp":765158400000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Trends[...]
