http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?rows=10&facet=t
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"affiliation":{"value-count":20,"values":{"of":9,"department":8,"university":7,"surgery":7,"hospital":7,"and":5,"radiology":4,"medical":4,"center":4,"the":3,"research":3,"centre":3,"gastroenterology":2,"for":2,"faculty":2,"division":2,"diagnostic":2,"clinical":2,"china":2,"cancer":2}},"license":{"value-count":20,"values":{"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":9371581,"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":5753146,"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/":448920,"https:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/":331939,"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/":288768,"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/":118244,"http:\/\/creativecommons.org\/licenses\/by\/4.0\/":49478,"http:\/\/creativecommons.org\/licenses\/by\/3.0\/":16526,"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/3.0\/":2751,"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/4.0\/":268,"http:\/\/www.springer.com\/tdm":262,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1":96,"http:\/\/www.nationalarchives.gov.uk\/doc\/open-government-licence\/version\/3\/":90,"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/igo\/":82,"http:\/\/creativecommons.org\/licenses\/by\/3.0\/igo\/":70,"http:\/\/creativecommons.org\/licenses\/by-nc\/4.0\/":57,"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license":40,"http:\/\/creativecommons.org\/licenses\/by-nc\/3.0\/":22,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions":11,"http:\/\/creativecommons.org\/licenses\/by\/2.0":11}},"container-title":{"value-count":20,"values":{"The
        Lancet":461937,"The Journal of Urology":123947,"Tetrahedron Letters":101117,"Gastroenterology":87249,"Journal
        of the American College of Cardiology":85176,"American Journal of Obstetrics
        and Gynecology":78788,"Biochemical and Biophysical Research Communications":70891,"International
        Journal of Radiation Oncology*Biology*Physics":63346,"Brain Research":62970,"The
        American Journal of the Medical Sciences":61783,"Chemical Physics Letters":61296,"Physics
        Letters B":61048,"Journal of Chromatography A":60707,"Biophysical Journal":58969,"Chest":57615,"Journal
        of the Franklin Institute":54818,"Tetrahedron":52484,"International Journal
        of Rock Mechanics and Mining Sciences & Geomechanics Abstracts":52268,"Journal
        of Alloys and Compounds":50922,"Fertility and Sterility":49939}},"publisher-name":{"value-count":16,"values":{"Elsevier
        BV":14902537,"Elsevier":1150273,"Woodhead Publishing Limited":1570,"Chandos
        Publishing":353,"The Royal Society of Chemistry":75,"CTI Publications Inc.":21,"Abington
        Publishing":12,"Cambridge International Science Publishing Limited":2,"Woodheap
        Dublishing Limited":1,"Woodhead Publishing India Pvt. Ltd":1,"Woodhead Publishing
        India (P) Ltd.":1,"Woodhead Publishing India (P) Limited":1,"CTI Publications,
        Inc.":1,"CRC Press":1,"Butterworth-Heinemann Ltd.":1,"Abington Publishing,
        Woodhead Publishing Limited":1}},"orcid":{"value-count":20,"values":{"http:\/\/orcid.org\/0000-0003-3849-1100":240,"http:\/\/orcid.org\/0000-0001-6651-1178":119,"http:\/\/orcid.org\/0000-0003-3133-7119":104,"http:\/\/orcid.org\/0000-0002-4230-7647":83,"http:\/\/orcid.org\/0000-0001-8851-6121":78,"http:\/\/orcid.org\/0000-0001-5086-872X":75,"http:\/\/orcid.org\/0000-0003-0487-4242":74,"http:\/\/orcid.org\/0000-0002-9016-1291":72,"http:\/\/orcid.org\/0000-0002-6850-733X":70,"http:\/\/orcid.org\/0000-0002-6506-4879":65,"http:\/\/orcid.org\/0000-0003-4910-4882":62,"http:\/\/orcid.org\/0000-0003-4770-8869":60,"http:\/\/orcid.org\/0000-0002-7821-686X":60,"http:\/\/orcid.org\/0000-0002-0218-2333":59,"http:\/\/orcid.org\/0000-0002-4673-0223":58,"http:\/\/orcid.org\/0000-0002-8022-907X":57,"http:\/\/orcid.org\/0000-0001-6683-097X":57,"http:\/\/orcid.org\/0000-0002-9616-1946":56,"http:\/\/orcid.org\/0000-0001-5542-2858":56,"http:\/\/orcid.org\/0000-0002-5638-4299":53}},"update-type":{"value-count":8,"values":{"erratum":9021,"err":6127,"addendum":70,"retraction":13,"correction":10,"withdrawal":2,"retration":1,"removal":1}},"published":{"value-count":20,"values":{"2018":769151,"2017":705798,"2016":680147,"2015":656968,"2014":617894,"2013":593135,"2012":569441,"2011":548973,"2009":518482,"2010":512288,"2008":492040,"2007":478912,"2006":455212,"2004":410580,"2005":408312,"2003":363269,"1997":296453,"2001":289306,"2002":288217,"1998":285334}},"funder-name":{"value-count":20,"values":{"National
        Natural Science Foundation of China":285872,"National Science Foundation":39715,"National
        Institutes of Health":38530,"Fundamental Research Funds for the Central Universities":27066,"Conselho
        Nacional de Desenvolvimento Cient\u00edfico e Tecnol\u00f3gico":20606,"National
        Research Foundation of Korea":17846,"China Postdoctoral Science Foundation":16810,"National
        Basic Research Program of China":16441,"Natural Sciences and Engineering Research
        Council of Canada":16236,"Deutsche Forschungsgemeinschaft":14881,"Coordena\u00e7\u00e3o
        de Aperfei\u00e7oamento de Pessoal de N\u00edvel Superior":13079,"Japan Society
        for the Promotion of Science":12013,"Ministry of Education, Culture, Sports,
        Science and Technology":12005,"U.S. Department of Energy":11028,"Australian
        Research Council":10944,"NIH":9753,"Funda\u00e7\u00e3o de Amparo \u00e0 Pesquisa
        do Estado de S\u00e3o Paulo":9720,"China Scholarship Council":9666,"Ministerio
        de Econom\u00eda y Competitividad":9661,"Engineering and Physical Sciences
        Research Council":9050}},"archive":{"value-count":2,"values":{"DWT":127,"Portico":18}},"type-name":{"value-count":9,"values":{"Journal
        Article":14899825,"Chapter":1118911,"Book":33297,"Journal Issue":2608,"Reference":97,"Component":75,"Journal":28,"Other":9,"Dataset":1}},"relation-type":{"value-count":3,"values":{"has-part":9,"is-supplemented-by":2,"has-preprint":2}},"issn":{"value-count":20,"values":{"http:\/\/id.crossref.org\/issn\/0140-6736":461937,"http:\/\/id.crossref.org\/issn\/0022-5347":124053,"http:\/\/id.crossref.org\/issn\/0040-4039":100899,"http:\/\/id.crossref.org\/issn\/0016-5085":87222,"http:\/\/id.crossref.org\/issn\/0735-1097":85176,"http:\/\/id.crossref.org\/issn\/0002-9378":78788,"http:\/\/id.crossref.org\/issn\/0006-291X":70891,"http:\/\/id.crossref.org\/issn\/0002-9629":64787,"http:\/\/id.crossref.org\/issn\/0360-3016":64382,"http:\/\/id.crossref.org\/issn\/0006-8993":62970,"http:\/\/id.crossref.org\/issn\/0009-2614":61296,"http:\/\/id.crossref.org\/issn\/0370-2693":61048,"http:\/\/id.crossref.org\/issn\/0021-9673":60796,"http:\/\/id.crossref.org\/issn\/0006-3495":58969,"http:\/\/id.crossref.org\/issn\/0012-3692":58091,"http:\/\/id.crossref.org\/issn\/0016-0032":54818,"http:\/\/id.crossref.org\/issn\/0040-4020":52484,"http:\/\/id.crossref.org\/issn\/0148-9062":52307,"http:\/\/id.crossref.org\/issn\/0925-8388":50922,"http:\/\/id.crossref.org\/issn\/0015-0282":49939}},"source":{"value-count":1,"values":{"Crossref":16054851}},"journal-issue":{"value-count":20,"values":{"1":2658676,"2":2367153,"3":2008113,"4":1536382,"5":881978,"6":828451,"7":349899,"8":322238,"9":295059,"10":293522,"12":244281,"11":240485,"13":51009,"14":43040,"16":40764,"15":39913,"18":36609,"17":34058,"20":27643,"19":25969}},"category-name":{"value-count":20,"values":{"General
        Medicine":611235,"Cardiology and Cardiovascular Medicine":295600,"Condensed
        Matter Physics":274084,"Biochemistry":265682,"Surgery":256333,"Mechanical
        Engineering":218625,"Molecular Biology":198577,"General Materials Science":191077,"Clinical
        Neurology":182006,"Materials Chemistry":172524,"Mechanics of Materials":171577,"Radiology
        Nuclear Medicine and imaging":164963,"Electronic, Optical and Magnetic Materials":159566,"Oncology":157793,"Obstetrics
        and Gynaecology":157569,"General Chemistry":156575,"Electrical and Electronic
        Engineering":145567,"General Chemical Engineering":138903,"Psychiatry and
        Mental health":137763,"Urology":135508}},"assertion":{"value-count":13,"values":{"publisher":2607322,"journaltitle":2607322,"copyright":2607322,"content_type":2607322,"articletitle":2607322,"articlelink":2607322,"associatedlink":80052,"received":58,"published":58,"accepted":58,"peer_reviewed":4,"removallink":2,"erratumlink":2}},"assertion-group":{"value-count":1,"values":{"publication_history":58}},"journal-volume":{"value-count":20,"values":{"13":176852,"17":172867,"12":171867,"15":170680,"11":168500,"14":167636,"18":167278,"16":167219,"5":165613,"10":162231,"7":162216,"9":161346,"24":160904,"19":160118,"21":159925,"6":158896,"22":158717,"8":158036,"4":155530,"25":155471}},"funder-doi":{"value-count":20,"values":{"http:\/\/dx.doi.org\/10.13039\/501100001809":285506,"http:\/\/dx.doi.org\/10.13039\/100000002":38458,"http:\/\/dx.doi.org\/10.13039\/100000001":36781,"http:\/\/dx.doi.org\/10.13039\/501100003593":20600,"http:\/\/dx.doi.org\/10.13039\/501100003725":17822,"http:\/\/dx.doi.org\/10.13039\/501100002858":16784,"http:\/\/dx.doi.org\/10.13039\/501100000038":16226,"http:\/\/dx.doi.org\/10.13039\/501100001659":14863,"http:\/\/dx.doi.org\/10.13039\/501100002322":13075,"http:\/\/dx.doi.org\/10.13039\/501100001691":12003,"http:\/\/dx.doi.org\/10.13039\/501100001700":12002,"http:\/\/dx.doi.org\/10.13039\/100000015":11018,"http:\/\/dx.doi.org\/10.13039\/501100000923":10933,"http:\/\/dx.doi.org\/10.13039\/501100003329":9655,"http:\/\/dx.doi.org\/10.13039\/501100004543":9652,"http:\/\/dx.doi.org\/10.13039\/501100001807":9650,"http:\/\/dx.doi.org\/10.13039\/501100000266":9046,"http:\/\/dx.doi.org\/10.13039\/501100002261":7957,"http:\/\/dx.doi.org\/10.13039\/501100002367":7758,"http:\/\/dx.doi.org\/10.13039\/501100004608":7579}}},"total-results":16054851,"items":[{"indexed":{"date-parts":[[2018,4,14]],"date-time":"2018-04-14T03:19:31Z","timestamp":1523675971734},"reference-count":0,"publisher":"Elsevier
        BV","issue":"5","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["New
        Microbe New Infect"],"published-print":{"date-parts":[[2014,9]]},"DOI":"10.1002\/nmi2.2014.2.issue-5","type":"journal-issue","created":{"date-parts":[[2014,12,3]],"date-time":"2014-12-03T18:36:06Z","timestamp":1417631766000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1016","volume":"2","member":"78","container-title":["New
        Microbes and New Infections"],"language":"en","deposited":{"date-parts":[[2014,12,3]],"date-time":"2014-12-03T18:36:06Z","timestamp":1417631766000},"score":1.0,"issued":{"date-parts":[[2014,9]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2014,9]]},"issue":"5"},"URL":"http:\/\/dx.doi.org\/10.1002\/nmi2.2014.2.issue-5","ISSN":["2052-2975"],"issn-type":[{"value":"2052-2975","type":"print"}]},{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:24:21Z","timestamp":1523582661634},"reference-count":10,"publisher":"Elsevier
        BV","issue":"12","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2009,12,1]],"date-time":"2009-12-01T00:00:00Z","timestamp":1259625600000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/","start":{"date-parts":[[2016,1,27]],"date-time":"2016-01-27T00:00:00Z","timestamp":1453852800000},"delay-in-days":2248,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of the Chinese Medical Association"],"published-print":{"date-parts":[[2009,12]]},"DOI":"10.1016\/s1726-4901(09)70443-5","type":"journal-article","created":{"date-parts":[[2009,12,31]],"date-time":"2009-12-31T09:17:11Z","timestamp":1262251031000},"page":"625-628","source":"Crossref","is-referenced-by-count":1,"title":["Two-glove-finger-balloon
        Dissection of Retroperitoneal Space for Laparoscopic Urology"],"prefix":"10.1016","volume":"72","author":[{"given":"Yasar","family":"Ozgok","sequence":"first","affiliation":[]},{"given":"Mete","family":"Kilciler","sequence":"additional","affiliation":[]},{"given":"Mustafa
        Okan","family":"Istanbulluoglu","sequence":"additional","affiliation":[]},{"given":"Mesut","family":"Piskin","sequence":"additional","affiliation":[]},{"given":"Selahattin","family":"Bedir","sequence":"additional","affiliation":[]},{"given":"Seref","family":"Basal","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Journal
        of the Chinese Medical Association"],"language":"en","link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1726490109704435?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1726490109704435?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,6,19]],"date-time":"2017-06-19T03:20:22Z","timestamp":1497842422000},"score":1.0,"issued":{"date-parts":[[2009,12]]},"references-count":10,"journal-issue":{"published-print":{"date-parts":[[2009,12]]},"issue":"12"},"alternative-id":["S1726490109704435"],"URL":"http:\/\/dx.doi.org\/10.1016\/s1726-4901(09)70443-5","ISSN":["1726-4901"],"issn-type":[{"value":"1726-4901","type":"print"}]},{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:24:21Z","timestamp":1523582661698},"reference-count":8,"publisher":"Elsevier
        BV","issue":"12","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2009,12,1]],"date-time":"2009-12-01T00:00:00Z","timestamp":1259625600000},"delay-i[...]
