http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":101599969,"items":[{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:45:10Z","timestamp":1523583910841},"publisher-location":"Cambridge","reference-count":0,"publisher":"Cambridge
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1017\/cbo9781139923651.027","type":"book-chapter","created":{"date-parts":[[2015,6,6]],"date-time":"2015-06-06T05:27:57Z","timestamp":1433568477000},"source":"Crossref","is-referenced-by-count":0,"title":["Plate
        Section"],"prefix":"10.1017","author":[{"given":"Samuel","family":"Sharpe","sequence":"first","affiliation":[]},{"given":"Joseph","family":"Bonomi","sequence":"additional","affiliation":[]}],"member":"56","container-title":["The
        Alabaster Sarcophagus of Oimenepthah I., King of Egypt"],"deposited":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:18:49Z","timestamp":1523582329000},"score":1.0,"issued":{"date-parts":[[null]]},"ISBN":["9781139923651"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1017\/cbo9781139923651.027"},{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:44:53Z","timestamp":1523583893997},"publisher-location":"Cambridge","reference-count":0,"publisher":"Cambridge
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1017\/cbo9781107252820.131","type":"book-chapter","created":{"date-parts":[[2014,11,6]],"date-time":"2014-11-06T06:04:57Z","timestamp":1415253897000},"source":"Crossref","is-referenced-by-count":0,"title":["Plate
        Section"],"prefix":"10.1017","author":[{"given":"Henry John","family":"Elwes","sequence":"first","affiliation":[]},{"given":"Augustine","family":"Henry","sequence":"additional","affiliation":[]}],"member":"56","container-title":["The
        Trees of Great Britain and Ireland"],"deposited":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:20:02Z","timestamp":1523582402000},"score":1.0,"issued":{"date-parts":[[null]]},"ISBN":["9781107252820"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1017\/cbo9781107252820.131"},{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:38:52Z","timestamp":1523583532754},"reference-count":0,"publisher":"Informa
        UK Limited","issue":"12","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Geologiska
        F\u00f6reningen i Stockholm F\u00f6rhandlingar"],"published-print":{"date-parts":[[1875,5,5]]},"DOI":"10.1080\/11035897509448098","type":"journal-article","created":{"date-parts":[[2010,1,7]],"date-time":"2010-01-07T20:03:24Z","timestamp":1262894604000},"page":"501-506","source":"Crossref","is-referenced-by-count":0,"title":["Geologiska
        notiser fr\u00e5n en resa i Norra Ryssland, sommaren 1874"],"prefix":"10.1080","volume":"2","author":[{"given":"Gust","family":"Nauckhoff","sequence":"first","affiliation":[]}],"member":"301","published-online":{"date-parts":[[2010,1,6]]},"container-title":["Geologiska
        F\u00f6reningen i Stockholm F\u00f6rhandlingar"],"language":"en","link":[{"URL":"https:\/\/www.tandfonline.com\/doi\/pdf\/10.1080\/11035897509448098","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,10,12]],"date-time":"2017-10-12T12:47:30Z","timestamp":1507812450000},"score":1.0,"issued":{"date-parts":[[1875,5,5]]},"references-count":0,"journal-issue":{"published-online":{"date-parts":[[2010,1,6]]},"published-print":{"date-parts":[[1875,5,5]]},"issue":"12"},"alternative-id":["10.1080\/11035897509448098"],"URL":"http:\/\/dx.doi.org\/10.1080\/11035897509448098","ISSN":["0016-786X"],"issn-type":[{"value":"0016-786X","type":"print"}]},{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T01:38:52Z","timestamp":1523583532754},"reference-count":0,"publisher":"Informa
        UK Limited","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Geologiska
        F\u00f6reningen i Stockholm F\u00f6rhandlingar"],"published-print":{"date-parts":[[1876,4,6]]},"DOI":"10.1080\/11035897609446990","type":"journal-article","created":{"date-parts":[[2010,1,7][...]
