http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126272922,"items":[{"indexed":{"date-parts":[[2021,5,12]],"date-time":"2021-05-12T03:59:42Z","timestamp":1620791982087},"reference-count":26,"publisher":"Informa
        UK Limited","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Educational
        Philosophy and Theory"],"published-print":{"date-parts":[[2013,3]]},"DOI":"10.1111\/j.1469-5812.2012.00860.x","type":"journal-article","created":{"date-parts":[[2012,5,30]],"date-time":"2012-05-30T08:41:47Z","timestamp":1338367307000},"page":"287-300","source":"Crossref","is-referenced-by-count":10,"title":["What
        Were You Thinking? A Deleuzian\/Guattarian analysis of communication in the
        mathematics classroom"],"prefix":"10.1080","volume":"45","author":[{"given":"Elizabeth","family":"De
        Freitas","sequence":"first","affiliation":[{"name":"a School of Education
        , Adelphi University , NY"}]}],"member":"301","published-online":{"date-parts":[[2013,2,25]]},"reference":[{"key":"CIT0002","volume-title":"Connecting
        Mathematical Ideas: Middle school video cases to support teaching and learning","author":"Boaler
        J.","year":"2005"},{"issue":"8","key":"CIT0003","first-page":"606","volume":"102","author":"Bochicchio
        D.","year":"2009","journal-title":"Mathematics Teacher"},{"key":"CIT0007","unstructured":"Deleuze,
        G. [1969] (1990)The Logic ofSense, M. Lester, trans. NewYork, Columbia University
        Press."},{"key":"CIT0008","unstructured":"Deleuze, G. [1968] (1994)Difference
        and Repetition, Paul Patton, trans. (New York, Columbia University Press)."},{"issue":"7","key":"CIT0011","first-page":"410","volume":"14","author":"Fello
        S. E.","year":"2009","journal-title":"Mathematics Teaching in the Middle School"},{"key":"CIT0012","doi-asserted-by":"publisher","DOI":"10.1080\/09687590601141576"},{"key":"CIT0013","doi-asserted-by":"publisher","DOI":"10.1111\/j.1469-5812.2004.00066.x"},{"key":"CIT0015","doi-asserted-by":"publisher","DOI":"10.1007\/s11217-007-9034-6"},{"key":"CIT0016","unstructured":"Guattari,
        F. [1989] (2008)The Three Ecologies, I. Pindar & P. Sutton, trans, New York.
        Continuum)."},{"issue":"8","key":"CIT0017","first-page":"586","volume":"102","author":"Hodge
        L. L.","year":"2009","journal-title":"Math[...]
- request:
    method: get
    uri: https://api.crossref.org/works?sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126272922,"items":[{"indexed":{"date-parts":[[2021,5,11]],"date-time":"2021-05-11T23:43:42Z","timestamp":1620776622259},"publisher-location":"Berlin,
        Heidelberg","reference-count":16,"publisher":"Springer Berlin Heidelberg","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2001]]},"DOI":"10.1007\/3-540-45357-1_34","type":"book-chapter","created":{"date-parts":[[2007,7,16]],"date-time":"2007-07-16T11:49:49Z","timestamp":1184586589000},"page":"312-323","source":"Crossref","is-referenced-by-count":5,"title":["The
        S 2-Tree: An Index Structure for Subsequence Matching of Spatial[...]
- request:
    method: get
    uri: https://api.crossref.org/works?sample=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126272922,"items":[{"indexed":{"date-parts":[[2021,5,11]],"date-time":"2021-05-11T23:22:02Z","timestamp":1620775322869},"reference-count":7,"publisher":"SAGE
        Publications","issue":"4","license":[{"start":{"date-parts":[[1986,7,1]],"date-time":"1986-07-01T00:00:00Z","timestamp":520560000000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Cellular Plastics"],"published-print":{"date-parts":[[1986,7]]},"DOI":"10.1177\/0021955x8602200401","type":"journal-article","created":{"date-parts":[[2007,3,19]],"date-time":"2007-03-19T18:03:58Z","timestamp":1174327438000},"page":"287-294","source":"Crossref","is-referenced-by-count":2,"title":["Lower
        D[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sample=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":405894,"items":[{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T05:46:30Z","timestamp":1620452790379},"publisher-location":"Dordrecht","reference-count":0,"publisher":"Springer
        Netherlands","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1993]]},"DOI":"10.1007\/978-94-017-1899-8_7","type":"book-chapter","created":{"date-parts":[[2013,3,8]],"date-time":"2013-03-08T08:18:19Z","timestamp":1362730699000},"page":"92-110","source":"Crossref","is-referenced-by-count":0,"title":["Economics
        and Ecology"],"prefix":"10.1007","author":[{"given":"Matthias","family":"Ruth","sequence":"first","affiliation":[]}],"member":"297","container-title":["Ecology,
        Economy & Environment","Integrating Economics, Ecology and Thermodynamics"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-94-017-1899-8_7","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2013,3,8]],"date-time":"2013-03-08T08:18:27Z","timestamp":1362730707000},"score":9.640019,"issued":{"date-parts":[[1993]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-94-017-1899-8_7","ISSN":["0926-9754"],"issn-type":[{"value":"0926-9754","type":"print"}],"published":{"date-parts":[[1993]]}},{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T06:18:25Z","timestamp":1620454705094},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>In
        the field of ecology, the study of succession enjoys a fairly long history,
        certainly as long as ecology has been recognized as a discipline. Succession
        was discussed unofficially as early as the nineteenth century, but the term
        as we understand it today did not appear until the turn of the twentieth century
        (see History). Succession remains a core tenet within ecology, although it
        is sometimes subsumed with the broader discussion of vegetat[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=award.funder%3A10.13039%2F100000001&sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":244932,"items":[{"indexed":{"date-parts":[[2021,5,12]],"date-time":"2021-05-12T08:57:16Z","timestamp":1620809836216},"reference-count":27,"publisher":"The
        Optical Society","issue":"20","license":[{"start":{"date-parts":[[2017,9,18]],"date-time":"2017-09-18T00:00:00Z","timestamp":1505692800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/doi.org\/10.1364\/OA_License_v1"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation (NSF)","doi-asserted-by":"publisher","award":["11374077","11504070","11574063"]},{"name":"The
        Science and Technology Development Plan of Weihai","award":["2015DXGJUS002"]}],"content-domain":{"domain":["www.osapublishing.org"],"crossmark-restriction":true},"short-container-title":["Opt.
        Express"],"published-print":{"date-parts":[[2017,10,2]]},"DOI":"10.1364\/oe.25.023690","type":"journal-article","created":{"date-parts":[[2017,9,18]],"date-time":"2017-09-18T14:40:09Z","timestamp":1505745609000},"page":"23690","update-policy":"http:\/\/dx.doi.org\/10.1364\/osa_crossmark_policy","source":"Crossref","is-referenced-by-count":2,"title":["Quantitative
        microfluidic delivery based on an optical breakdown-driven micro-pump for
        the fabrication of fiber functional devices"],"prefix":"10.1364","volume":"25","author":[{"given":"Kunjian","family":"Cao","sequence":"first","affiliation":[]},{"given":"Yi","family":"Liu","sequence":"additional","affiliation":[]},{"given":"Shiliang","family":"Qu","sequence":"additional[...]
