http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126591465,"items":[{"indexed":{"date-parts":[[2021,5,12]],"date-time":"2021-05-12T02:29:47Z","timestamp":1620786587243},"reference-count":34,"publisher":"American
        Physical Society (APS)","issue":"7","license":[{"start":{"date-parts":[[2010,10,20]],"date-time":"2010-10-20T00:00:00Z","timestamp":1287532800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/link.aps.org\/licenses\/aps-default-license"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Phys.
        Rev. D"],"DOI":"10.1103\/physrevd.82.075012","type":"journal-article","created":{"date-parts":[[2010,10,20]],"date-time":"2010-10-20T12:28:41Z","timestamp":1287577721000},"source":"Crossref","is-referenced-by-count":1,"title":["Bs(d)-B\u00afs(d)mixing
        constraints on flavor changing decays oftandbquarks"],"prefix":"10.1103","volume":"82","author":[{"given":"Amand","family":"Faessler","sequence":"first","affiliation":[]},{"given":"Thomas","family":"Gutsche","sequence":"additional","affiliation":[]},{"given":"Sergey","family":"Kovalenko","sequence":"additional","affiliation":[]},{"given":"Valery
        E.","family":"Lyubovitskij","sequence":"additional","affiliation":[]},{"given":"Ivan","family":"Schmidt","sequence":"additional","affiliation":[]}],"member":"16","published-online":{"date-parts":[[2010,10,20]]},"reference":[{"key":"PhysRevD.82.075012Cc1R1","doi-asserted-by":"publisher","DOI":"10.1016\/0550-3213(86)90262-2"},{"key":"PhysRevD.82.075012Cc2R1","doi-asserted-by":"publisher","DOI":"10.1016\/j.nuclphysb.2008.12.012"},{"key":"PhysRevD.82.075012Cc4R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.104.252001"},{"key":"PhysRevD.82.075012Cc5R1","doi-asserted-by":"publisher","DOI":"10.1016\/j.physletb.2008.07.018"},{"key":"PhysRevD.82.075012Cc6R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.97.021802"},{"key":"PhysRevD.82.075012Cc7R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.97.062003"},{"key":"PhysRevD.82.075012Cc7R2","doi-asserted-by":"publisher","volume-title":"Intersections
        of Particle and Nuclear Physics: 9th Conference on the Intersections of Particle
        and Nuclear Physics","author":"M. Jones","year":"2006","issn-type":"print","DOI":"10.1063\/1.2402603","ISSN":"http:\/\/id.crossref.org\/issn\/0094-243X"},{"key":"PhysRevD.82.075012Cc8R1","doi-asserted-by":"publisher","DOI":"10.1088\/1126-6708\/2007\/06\/072"},{"key":"PhysRevD.82.075012Cc9R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevD.80.035019"},{"key":"PhysRevD.82.075012Cc10R1","doi-asserted-by":"publisher","DOI":"10.1088\/1126-6708\/2009\/03\/001"},{"key":"PhysRevD.82.075012Cc11R1","volume-title":"Leptons
        and Quarks","author":"L.\u2009B. Okun","year":"1982"},{"key":"PhysRevD.82.07[...]
- request:
    method: get
    uri: https://api.crossref.org/works?sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126591465,"items":[{"indexed":{"date-parts":[[2021,5,10]],"date-time":"2021-05-10T10:14:04Z","timestamp":1620641644075},"reference-count":0,"publisher":"The
        Korea Association for Early Childhood Education and Educare Welfare","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Korea
        Assoc Early Child Educ Educ Welf"],"published-print":{"date-parts":[[2018,12,31]]},"DOI":"10.22590\/ecee.2018.22.4.593","type":"journal-article","created":{"date-parts":[[2019,12,27]],"date-time":"2019-12-27T02:45:19Z","timestamp":1577414719000},"page":"593-618","source":"Crossref","is-referenced-by-count":0,"title":["Analysis
        of group time interaction: Focusing on age group three classroom"],"prefix":"10.22590","volume":"22","author":[{"given":"Mi-Ra","family":"Jung","sequence":"first","affiliation":[]},{"given":"Kyung-Jin","family":"Park","sequence":"additional","affiliation":[]},{"given":"Byung-Ho","family":"Lee","sequence":"additional","affiliation":[]}],"member":"9876","published-online":{"date-parts":[[2018,12,31]]},"container-title":["The
        Korea Association for Early Childhood Education and Educare Welfare"],"deposited":{"date-parts":[[2019,12,27]],"date-time":"2019-12-27T02:45:33Z","timestamp":1577414733000},"score":0.99999994,"issued":{"date-parts":[[2018,12,31]]},"references-count":0,"journal-issue":{"issue":"4","published-online":{"date-parts":[[2018,12,31]]},"published-print":{"date-parts":[[2018,12,31]]}},"URL":"http:\/\/dx.doi.org\/10.22590\/ecee.2018.22.4.593","ISSN":["2288-4467"],"issn-type":[{"value":"2288-4467","type":"print"}],"published":{"date-parts":[[2018,12,31]]}},{"indexed":{"date-parts":[[2021,5,12]],"date-time":"2021-05-12T00:07:36Z","timestamp":1620778056573},"reference-count":4,"publisher":"Springer
        Science and Business Media LLC","issue":"4140","license":[{"start":{"date-parts":[[1949,3,1]],"date-time":"1949-03-01T00:00:00Z","timestamp":-657590400000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Nature"],"published-print":{"date-parts":[[1949,3]]},"DOI":"10.1038\/163361b0","type":"journal-article","created":{"date-parts":[[2008,1,2]],"date-time":"2008-01-02T17:11:05Z","timestamp":1199293865000},"page":"361-362","source":"Crossref","is-referenced-by-count":6,"title":["Feeding
        and Reproduction in the Pyramidellids"],"prefix":"10.1038","volume":"163","author":[{"given":"V.","family":"FRETTER","sequence":"first","affiliation":[]},{"given":"A.","family":"GRAHAM","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"BF163361b0_CR1","first-page":"1","volume":"48","author":"Pelseneer","year":"1914","unstructured":"Pelseneer,
        Bull. Sci. France Belgique, 48, 1 ( 1914).","journal-title":"Bull. Sci. France
        Belgique"},{"key":"BF163361b0_CR2","volume-title":"Die Tierwelt der Nord-
        und Ostsee","author":"Ankel","year":"1936","unstructured":"Ankel, \"Die Tierwelt
        der Nord- und Ostsee\", IXb (Akademische Verlagsgesellschaft, Leipzig, 1936)."},{"key":"BF163361b0_CR3","unstructured":"Thorson,
        Medd. Komm. Havunders\u00f8g., Kbh., Plankton, 4 ( 1946)."},{"key":"BF163361b0_CR4","doi-asserted-by":"publisher","first-page":"597","DOI":"10.1017\/S0025315400056058","volume":"27","author":"Fretter","year":"1948","unstructured":"Fretter,
        J. Mar. Biol. Assoc., 27, 597 ( 1948).","journal-title":"J. Mar. Biol. Assoc."}],"container-title":["Nature"],"language":"en","link":[{"URL":"http:\/\/www.nature.com\/articles\/163361b0.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/www.nature.com\/articles\/163361b0","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/www.nature.com\/articles\/163361b0.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,3,18]],"date-time":"2019-03-18T10:40:15Z","timestamp":1552905615000},"score":0.99999994,"issued":{"date-parts":[[1949,3]]},"references-count":4,"journal-issue":{"issue":"4140","published-print":{"date-parts":[[1949,3]]}},"alternative-id":["BF163361b0"],"URL":"http:\/\/dx.doi.org\/10.1038\/163361b0","ISSN":["0028-0836","1476-4687"],"issn-type":[{"value":"0028-0836","type":"print"},{"value":"1476-4687","type":"electronic"}],"subject":["Multidisciplinary"],"published":{"date-parts":[[1949,3]]}},{"indexed":{"date-parts":[[2021,5,11]],"date-time":"2021-05-11T00:16:30Z","timestamp":1620692190288},"reference-count":0,"publisher":"Cambridge
        University Press (CUP)","license":[{"start":{"date-parts":[[2021,3,29]],"date-time":"2021-03-29T00:00:00Z","timestamp":1616976000000},"content-version":"unspecified","delay-in-days":87,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["AJIL
        Unbound"],"published-print":{"date-parts":[[2021]]},"abstract":"<jats:p>Key
        studies have highlighted how Western law was central to the civilizing mission
        of colonialism, legitimizing conquest while presenting itself as a colonizer''s
        gift for overcoming barbarism. But law was not just an imposition to dispossess
        resources and accumulate labor; it was also transformed by the contestations
        of First Nations and the new practices deployed in settler societies. In this
        context, the first international legal theories were a[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sample=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-inter[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=award.funder%3A10.13039%2F100000001&sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: pol[...]
