http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":139378504,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:50Z","timestamp":1648648250186},"reference-count":0,"publisher":"Presses
        universitaires de Lyon","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1982]]},"DOI":"10.4000\/books.pul.13932","type":"book-chapter","created":{"date-parts":[[2019,11,7]],"date-time":"2019-11-07T13:56:05Z","timestamp":1573134965000},"page":"21-26","source":"Crossref","is-referenced-by-count":0,"title":["Chapitre
        II. De nouvelles donn\u00e9es administratives\u00a0: le rattachement au Rh\u00f4ne
        et la premi\u00e8re industrialisation"],"prefix":"10.4000","author":[{"given":"Bernard","family":"Meuret","sequence":"first","affiliation":[]}],"member":"2399","container-title":["Le
        Socialisme municipal"],"deposited":{"date-parts":[[2021,8,10]],"date-time":"2021-08-10T04:51:15Z","timestamp":1628571075000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/books.openedition.org\/pul\/13932"}},"issued":{"date-parts":[[1982]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4000\/books.pul.13932","published":{"date-parts":[[1982]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:43Z","timestamp":1648648243193},"reference-count":0,"publisher":"Ovid
        Technologies (Wolters Kluwer Health)","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Neurology
        Report"],"published-print":{"date-parts":[[1996]]},"DOI":"10.1097\/01253086-199620010-00024","type":"journal-article","created":{"date-parts":[[2013,7,4]],"date-time":"2013-07-04T05:22:00Z","timestamp":1372915320000},"page":"65","source":"Crossref","is-referenced-by-count":2,"title":["Treatment
        With Thyrotropin-Releasing Hormone (TRH) in Patients With Traumatic Spinal
        Cord Injuries"],"prefix":"10.1097","volume":"20","author":[{"given":"Nancy","family":"Lehrer","sequence":"first","affiliation":[]}],"member":"276","container-title":["Neurology
        Report"],"language":"en","link":[{"URL":"https:\/\/journals.lww.com\/01253086-199620010-00024","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,11,10]],"date-time":"2021-11-10T17:20:59Z","timestamp":1636564859000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/journals.lww.com\/01253086-199620010-00024"}},"subtitle":[""],"issued":{"date-parts":[[1996]]},"references-count":0,"journal-issue":{"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.1097\/01253086-199620010-00024","ISSN":["1085-049X"],"issn-type":[{"value":"1085-049X","type":"print"}],"subject":["Neurology
        (clinical)","Rehabilitation","Physical Therapy, Sports Therapy and Rehabilitation"],"published":{"date-parts":[[1996]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:48Z","timestamp":1648648248982},"reference-count":0,"publisher":"American
        College of Physicians","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ann
        Intern Med"],"published-print":{"date-parts":[[1981,7,1]]},"DOI":"10.7326\/0003-4819-95-1-129_3","type":"journal-article","created":{"date-parts":[[2013,4,12]],"date-time":"2013-04-12T14:41:35Z","timestamp":1365777695000},"page":"129","source":"Crossref","is-referenced-by-count":0,"title":["Herpetic
        Infections of Man."],"prefix":"10.7326","volume":"95","member":"4285","container-title":["Annals
        of Internal Medicine"],"language":"en","deposited":{"date-parts":[[2013,4,12]],"date-time":"2013-04-12T14:41:35Z","timestamp":1365777695000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/annals.org\/article.aspx?doi=10.7326\/0003-4819-95-1-129_3"}},"issued":{"date-parts":[[1981,7,1]]},"references-count":0,"journal-issue":{"issue":"1","published-print":{"date-parts":[[1981,7,1]]}},"URL":"http:\/\/dx.doi.org\/10.7326\/0003-4819-95-1-129_3","ISSN":["0003-4819"],"issn-type":[{"value":"0003-4819","type":"print"}],"subject":["General
        Medicine","Internal Medicine"],"published":{"date-parts":[[1981,7,1]]}},{"institution":[{"name":"American
        Psychological Association","acronym":["APA"]}],"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:49Z","timestamp":1648648249370},"reference-count":0,"publisher":"American
        Psychological Association (APA)","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2007]]},"DOI":"10.1037\/e718982007-001","type":"dataset","created":{"date-parts":[[2013,2,23]],"date-time":"2013-02-23T17:56:36Z","timestamp":1361642196000},"source":"Crossref","is-referenced-by-count":0,"title":["Aloha
        blossoms at state hospital"],"prefix":"10.1037","author":[{"given":"Lance
        I.","family":"Agena","sequence":"first","affiliation":[]}],"member":"15","container-title":["PsycEXTRA
        Dataset"],"deposited":{"date-parts":[[2013,2,23]],"date-time":"2013-02-23T17:57:54Z","timestamp":1361642274000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/doi.apa.org\/get-pe-doi.cfm?doi=10.1037\/e718982007-001"}},"subtitle":["(718982007-001)"],"issued":{"date-parts":[[2007]]},"references-count":0,"alternative-id":["718982007-001"],"URL":"http:\/\/dx.doi.org\/10.1037\/e718982007-001","published":{"date-parts":[[2007]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:49Z","timestamp":1648648249474},"reference-count":0,"publisher":"Oxford
        University Press (OUP)","issue":"2","license":[{"start":{"date-parts":[[2020,9,1]],"date-time":"2020-09-01T00:00:00Z","timestamp":1598918400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/academic.oup.com\/journals\/pages\/open_access\/funder_policies\/chorus\/standard_publication_model"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,9,21]]},"abstract":"<jats:title>Abstract<\/jats:title>\n               <jats:p>Jean-Claude
        Juncker was President of the first \u2018political Commission\u2019, being
        the first (and so far the only) President to be elected through the Spitzenkandidat
        system following the entry into force of the Lisbon Treaty. Juncker was appointed
        as head of a college of commissioners with high profiles and extensive experience
        in national politics. During his tenure, Juncker had to manage several crises,
        including Brexit, the Syrian war and the consequent mass migrations, as well
        as growing international tensions with Russia and the US. His personal and
        unique style, together with his broad domestic experience in European affairs,
        make him a singular personality and a singular President of the European Commission,
        whose legacy it is still too early to call.<\/jats:p>","DOI":"10.1093\/ejil\/chaa052","type":"journal-article","created":{"date-parts":[[2020,7,23]],"date-time":"2020-07-23T11:11:30Z","timestamp":1595502690000},"page":"727-735","source":"Crossref","is-referenced-by-count":0,"title":["The
        Juncker Presidency \u2013 A Study in Character"],"prefix":"10.1093","volume":"31","author":[{"given":"Daniel","family":"Sarmiento","sequence":"first","affiliation":[{"name":"Professor
        of European Union Law, University Complutense of Madrid, Spain"}]}],"member":"286","published-online":{"date-parts":[[2020,9,21]]},"container-title":["European
        Journal of International Law"],"language":"en","link":[{"URL":"http:\/\/academic.oup.com\/ejil\/article-pdf\/31\/2\/727\/38027812\/chaa052.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"syndication"},{"URL":"http:\/\/academic.oup.com\/ejil\/article-pdf\/31\/2\/727\/38027812\/chaa052.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,5,21]],"date-time":"2021-05-21T10:04:18Z","timestamp":1621591458000},"score":1.0,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/ejil\/article\/31\/2\/727\/5895362"}},"issued":{"date-parts":[[2020,9,1]]},"references-count":0,"journal-issue":{"issue":"2","published-online":{"date-parts":[[2020,9,21]]},"published-print":{"date-parts":[[2020,9,21]]}},"URL":"http:\/\/dx.doi.org\/10.1093\/ejil\/chaa052","ISSN":["0938-5428","1464-3596"],"issn-type":[{"value":"0938-5428","type":"print"},{"value":"1464-3596","type":"electronic"}],"subject":["Law","Political
        Science and International Relations"],"published-other":{"date-parts":[[2020,9,1]]},"published":{"date-parts":[[2020,9,1]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:49Z","timestamp":1648648249807},"reference-count":0,"publisher":"Oldenbourg
        Wissenschaftsverlag","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1927,12,31]]},"DOI":"10.1515\/9783486746907-011","type":"book-chapter","created":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T09:02:22Z","timestamp":15748[...]
