http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":101599969,"items":[{"indexed":{"date-parts":[[2018,8,6]],"date-time":"2018-08-06T04:02:37Z","timestamp":1533528157020},"reference-count":9,"publisher":"IEEE
        Comput. Soc","isbn-type":[{"value":"0818684364","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1109\/vtest.1998.670845","type":"proceedings-article","created":{"date-parts":[[2002,11,27]],"date-time":"2002-11-27T16:45:36Z","timestamp":1038415536000},"source":"Crossref","is-referenced-by-count":35,"title":["Signal
        integrity problems in deep submicron arising from interconnects between cores"],"prefix":"10.1109","author":[{"given":"P.","family":"Nordholz","sequence":"first","affiliation":[]},{"given":"D.","family":"Treytnar","sequence":"additional","affiliation":[]},{"given":"J.","family":"Otterstedt","sequence":"additional","affiliation":[]},{"given":"H.","family":"Grabinski","sequence":"additional","affiliation":[]},{"given":"D.","family":"Niggemeyer","sequence":"additional","affiliation":[]},{"given":"T.W.","family":"Williams","sequence":"additional","affiliation":[]}],"member":"263","event":{"name":"16th
        IEEE VLSI Test Symposium","location":"Monterey, CA, USA","acronym":"VTEST-98"},"container-title":["Proceedings.
        16th IEEE VLSI Test Symposium (Cat. No.98TB100231)"],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx4\/5496\/14777\/00670845.pdf?arnumber=670845","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,3,9]],"date-time":"2017-03-09T21:08:17Z","timestamp":1489093697000},"score":1.0,"issued":{"date-parts":[[null]]},"ISBN":["0818684364"],"references-count":9,"URL":"http:\/\/dx.doi.org\/10.1109\/vtest.1998.670845"}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2018-12-07 22:09:33 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
- request:
    method: get
    uri: https://api.crossref.org/works?sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":101599969,"items":[{"indexed":{"date-parts":[[2018,10,26]],"date-time":"2018-10-26T08:22:33Z","timestamp":1540542153803},"reference-count":34,"publisher":"MDPI
        AG","issue":"2","license":[{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2017,2,8]],"date-time":"2017-02-08T00:00:00Z","timestamp":1486512000000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Remote
        Sensing"],"DOI":"10.3390\/rs9020141","type":"journal-article","created":{"date-parts":[[2017,2,10]],"date-time":"2017-02-10T10:27:09Z","timestamp":1486722429000},"page":"141","source":"Crossref","is-referenced-by-count":4,"title":["The
        Estimation of the North American Great Lakes Turbulent Fluxes Using Satellite
        Remote Sensing and MERRA Reanalysis Data"],"prefix":"10.3390","volume":"9","author":[{"given":"Sitthisak","family":"Moukomla","sequence":"first","affiliation":[]},{"given":"Peter","family":"Blanken","sequence":"additional","affiliation":[]}],"member":"1968","published-online":{"date-parts":[[2017,2,8]]},"reference":[{"key":"ref1","DOI":"10.1016\/S0380-1330(01)70650-8","doi-asserted-by":"publisher"},{"key":"ref2"},{"key":"ref3","DOI":"10.1023\/A:1022140604052","doi-asserted-by":"publisher"},{"key":"ref4","DOI":"10.1016\/j.jhydrol.2004.10.028","doi-asserted-by":"publisher"},{"key":"ref5","DOI":"10.1016\/j.jglr.2011.08.013","doi-asserted-by":"publisher"},{"key":"ref6","DOI":"10.1175\/1525-7541(2003)004<0680:EOEFAL>2.0.CO;2","doi-asserted-by":"publisher"},{"key":"ref7","DOI":"10.1016\/j.jglr.2011.08.009","doi-asserted-by":"publisher"},{"key":"ref8","DOI":"10.1029\/1999WR900338","doi-asserted-by":"publisher"},{"key":"ref9","DOI":"10.1029\/2011JD016949","doi-asserted-by":"publisher"},{"key":"ref10","DOI":"10.1175\/1520-0442(2003)016<0637:SEOWSA>2.0.CO;2","doi-asserted-by":"publisher"},{"key":"ref11","DOI":"10.1016\/j.rse.2010.06.002","doi-asserted-by":"publisher"},{"key":"ref12","DOI":"10.1016\/S0380-1330(99)70755-0","doi-asserted-by":"publisher"},{"key":"ref13","DOI":"10.1016\/S0380-1330(00)70694-0","doi-asserted-by":"publisher"},{"key":"ref14","DOI":"10.1175\/2011JCLI4034.1","doi-asserted-by":"publisher"},{"key":"ref15","DOI":"10.1007\/BF00120530","doi-asserted-by":"publisher"},{"key":"ref16","DOI":"10.1016\/0273-1177(89)90167-1","doi-asserted-by":"publisher"},{"key":"ref17","DOI":"10.1109\/36.20292","doi-asserted-by":"publisher"},{"key":"ref18","DOI":"10.3390\/rs8040286","doi-asserted-by":"publisher"},{"key":"ref19","DOI":"10.1175\/JCLI-D-11-00015.1","doi-asserted-by":"publisher"},{"key":"ref20","author":"Hansen","year":"1966","series-title":"The
        Richardson Number in The Planetary Boundary Layer"},{"key":"ref21","author":"Oke","year":"2002","series-title":"Boundary
        Layer Climates"},{"key":"ref22","DOI":"10.1080\/17538947.2016.1252432","doi-asserted-by":"publisher"},{"key":"ref23","DOI":"10.1029\/2005JC003222","doi-asserted-by":"publisher"},{"key":"ref24","DOI":"10.1029\/2010EO050001","doi-asserted-by":"publisher"},{"key":"ref25","DOI":"10.1175\/JHM-D-11-0151.1","doi-asserted-by":"publisher"},{"key":"ref26","DOI":"10.1002\/(SICI)1097-0088(19980330)18:4<425::AID-JOC258>3.0.CO;2-Q","doi-asserted-by":"publisher"},{"key":"ref27","DOI":"10.1029\/2010JC006932","doi-asserted-by":"publisher"},{"key":"ref28","DOI":"10.1175\/JAMC-D-12-064.1","doi-asserted-by":"publisher"},{"key":"ref29","DOI":"10.3354\/cr015151","doi-asserted-by":"publisher"},{"key":"ref30","DOI":"10.1175\/1520-0442(2004)017<1728:EIOPWG>2.0.CO;2","doi-asserted-by":"publisher"},{"key":"ref31","DOI":"10.1029\/2009JD013415","doi-asserted-by":"publisher"},{"key":"ref32","DOI":"10.1007\/s10584-012-0560-z","doi-asserted-by":"publisher"},{"key":"ref33","DOI":"10.1002\/2015GL063799","doi-asserted-by":"publisher"},{"key":"ref34","DOI":"10.1175\/JHM-D-12-0170.1","doi-asserted-by":"publisher"}],"container-title":["Remote
        Sensing"],"language":"en","link":[{"URL":"http:\/\/www.mdpi.com\/2072-4292\/9\/2\/141\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,3,22]],"date-time":"2018-03-22T17:00:22Z","timestamp":1521738022000},"score":1.0,"issued":{"date-parts":[[2017,2,8]]},"references-count":34,"journal-issue":{"published-online":{"date-parts":[[2017,2]]},"issue":"2"},"alternative-id":["rs9020141"],"URL":"http:\/\/dx.doi.org\/10.3390\/rs9020141","relation":{"cites":[]},"ISSN":["2072-4292"],"issn-type":[{"value":"2072-4292","type":"electronic"}]},{"indexed":{"date-parts":[[2018,10,10]],"date-time":"2018-10-10T20:42:41Z","timestamp":1539204161197},"reference-count":0,"publisher":"The
        Endocrine Society","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["The
        Journal of Clinical Endocrinology & Metabolism"],"published-print":{"date-parts":[[1973,8]]},"DOI":"10.1210\/jcem-37-2-183","type":"journal-article","created":{"date-parts":[[2009,7,21]],"date-time":"2009-07-21T00:08:59Z","timestamp":1248134939000},"page":"183-189","source":"Crossref","is-referenced-by-count":65,"title":["The
        Production, Origin and Role of Dehydroepiandrosterone and \u03945-Androstenediol
        as Androgen Prehormones in Hirsute Women1"],"prefix":"10.1210","volume":"37","author":[{"given":"M.A.","family":"KIRSCHNER","sequence":"first"[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sample=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":336804,"items":[{"indexed":{"date-parts":[[2018,5,8]],"date-time":"2018-05-08T08:01:37Z","timestamp":1525766497714},"publisher-location":"Cambridge,
        MA and London, England","reference-count":0,"publisher":"Harvard University
        Press","isbn-type":[{"value":"9780674281684","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.4159\/harvard.9780674281684.c9","type":"book-chapter","created":{"date-parts":[[2014,2,19]],"date-time":"2014-02-19T20:08:03Z","timestamp":1392840483000},"source":"Crossref","is-referenced-by-count":0,"title":["CHAPTER
        8. Pollen Wasps and Land Use"],[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=award.funder%3A10.13039%2F100000001&sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126687,"items":[{"indexed":{"date-parts":[[2018,6,20]],"date-time":"2018-06-20T20:02:36Z","timestamp":1529524956123},"reference-count":62,"publisher":"Oxford
        University Press (OUP)","issue":"1","license":[{"URL":"http:\/\/academic.oup.com\/journals\/pages\/about_us\/legal\/notices","start":{"date-parts":[[2018,3,27]],"date-time":"2018-03-27T00:00:00Z","timestamp":1522108800000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/501100006769","name":"Russian
        Science Foundation","doi-asserted-by":"publisher","award":["14-47-00002"]},{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["EAR-1415907","PLR-1643761"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2018,7,1]]},"DOI":"10.1093\/gji\/ggy122","type":"journal-article","created":{"date-parts":[[2018,3,26]],"date-time":"2018-03-26T11:06:58Z","timestamp":1522062418000},"page":"122-132","source":"Crossref","is-referenced-by-count":1,"title":["Joint
        inversion of the first overtone and fundamental mode for deep imaging at the
        Valhall oil field using ambient noise"],"prefix":"10.1093","volume":"214","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-2149-1414","authenticated-orcid":false,"given":"Gaurav","family":"Tomar","sequence":"first","affiliation":[{"name":"Institut
        de Physique du Globe de Paris, Sorbonne Paris Cit\u00e9, CNRS (UMR 7154),
        Paris 75005, France"}]},{"given":"Eleonore","family":"Stutzmann","sequence":"additional","affiliation":[{"name":"Institut
        de Physique du Globe de Paris, Sorbonne Paris Cit\u00e9, CNRS (UMR 7154),
        Paris 75005, France"}]},{"ORCID":"http:\/\/orcid.org\/0000-0002-7998-5417","authenticated-orcid":false,"gi[...]
