http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126511841,"items":[{"indexed":{"date-parts":[[2021,5,11]],"date-time":"2021-05-11T22:04:57Z","timestamp":1620770697595},"publisher-location":"Berlin,
        Heidelberg","reference-count":19,"publisher":"Springer Berlin Heidelberg","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1997]]},"DOI":"10.1007\/bfb0022061","type":"book-chapter","created":{"date-parts":[[2005,11,13]],"date-time":"2005-11-13T08:23:13Z","timestamp":1131870193000},"page":"529-538","source":"Crossref","is-referenced-by-count":3,"title":["The
        development of ordered SQL packages for modelling advanced applications"],"prefix":"10.1007","author":[{"given":"Wilfred","family":"Ng","sequence":"first","affiliation":[]},{"given":"Mark","family":"Levene","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2005,6,10]]},"reference":[{"key":"49_CR1","unstructured":"E.
        Anuff. The Java Sourcebook. John Wiley & Sons, Inc., (1996)."},{"issue":"2","key":"49_CR2","doi-asserted-by":"crossref","first-page":"65","DOI":"10.1016\/0096-0551(90)90011-D","volume":"15","author":"J.
        Biskup","year":"1990","unstructured":"J. Biskup. An Extension of SQL for Querying
        Graph Relations. Computing Language 15(2), pp. 65\u201382, (1990).","journal-title":"Computing
        Language"},{"key":"49_CR3","doi-asserted-by":"crossref","first-page":"213","DOI":"10.1016\/0165-0114(82)90052-5","volume":"7","author":"B.P.
        Buckles","year":"1982","unstructured":"B.P. Buckles and F.E. Petry. A Fuzzy
        Representation of Data for Relational Databases. Fuzzy Sets and Systems 7,
        pp. 213\u2013226, (1982).","journal-title":"Fuzzy Sets and Systems"},{"key":"49_CR4","doi-asserted-by":"crossref","first-page":"209","DOI":"10.1145\/114325.103711","[...]
- request:
    method: get
    uri: https://api.crossref.org/works?sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126511841,"items":[{"indexed":{"date-parts":[[2021,5,9]],"date-time":"2021-05-09T14:18:06Z","timestamp":1620569886990},"reference-count":0,"publisher":"CAIRN","issue":"7","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2002]]},"DOI":"10.3917\/jdj.217.0059","type":"journal-article","created":{"date-parts":[[2014,10,23]],"date-time":"2014-10-23T08:34:54Z","timestamp":1414053294000},"page":"59","source":"Crossref","is-referenced-by-count":0,"title":["Protection
        jeunesse"],"prefix":"10.3917","volume":"217","member":"2273","container-title":["Journal
        du droit des jeunes"],"language":"fr","deposited":{"date-parts":[[2014,10,23]],"date-time":"2014-10-23T08:40:50Z","timestamp":1414053650000},"score":0.99999994,"issued":{"date-parts":[[2002]]},"references-count":0,"journal-issue":{"issue":"7","published-print":{"date-parts":[[2002]]}},"alternative-id":["JDJ_217_0059"],"URL":"http:\/\/dx.doi.org\/10.3917\/jdj.217.0059","ISSN":["2114-2068","2259-6003"],"issn-type":[{"value":"2114-2068","type":"print"},{"value":"2259-6003","type":"electronic"}],"published":{"date-parts":[[2002]]}},{"indexed":{"date-parts":[[2021,8,5]],"date-time":"2021-08-05T06:04:28Z","timestamp":1628143468365},"reference-count":33,"publisher":"MDPI
        AG","issue":"18","license":[{"start":{"date-parts":[[2020,9,8]],"date-time":"2020-09-08T00:00:00Z","timestamp":1599523200000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000104","name":"National
        Aeronautics and Space Administration","doi-asserted-by":"publisher","award":["80NSSC17K0460","NMO710630"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Remote
        Sensing"],"abstract":"<jats:p>Apparent thermal inertia (ATI) is a remote sensing-based
        thermophysical approximation used to estimate surface properties such as particle
        size or soil moisture, but is subject to oversimplifications if uniform surface
        materials are assumed. Geological surfaces realistically contain multiple
        types of materials that are represented by mixed pixels in a digital image
        that can dramatically affect the derived thermal response. Thus, the current
        surface[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sample=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-po[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=award.funder%3A10.13039%2F100000001&sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit[...]
