http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1,"items":[{"indexed":{"date-parts":[[2022,5,20]],"date-time":"2022-05-20T15:10:47Z","timestamp":1653059447368},"reference-count":0,"publisher":"Institute
        of Electrical and Electronics Engineers (IEEE)","issue":"5","license":[{"start":{"date-parts":[[2017,5,1]],"date-time":"2017-05-01T00:00:00Z","timestamp":1493596800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/ieeexplore.ieee.org\/Xplorehelp\/downloads\/license-information\/IEEE.html"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["IEEE
        Spectr."],"published-print":{"date-parts":[[2017,5]]},"DOI":"10.1109\/mspec.2017.7906884","type":"journal-article","created":{"date-parts":[[2017,4,24]],"date-time":"2017-04-24T20:53:51Z","timestamp":1493067231000},"page":"11-12","source":"Crossref","is-referenced-by-count":4,"title":["3D
        X-ray tech for easy reverse engineering of ICs [News]"],"prefix":"10.1109","volume":"54","author":[{"given":"Rachel","family":"Courtland","sequence":"first","affiliation":[]}],"member":"263","container-title":["IEEE
        Spectrum"],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx7\/6\/7906873\/07906884.pdf?arnumber=7906884","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,1,12]],"date-time":"2022-01-12T16:05:58Z","timestamp":1642003558000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/ieeexplore.ieee.org\/document\/7906884\/"}},"issued":{"date-parts":[[2017,5]]},"references-count":0,"journal-issue":{"issue":"5"},"URL":"http:\/\/dx.doi.org\/10.1109\/mspec.2017.7906884","ISSN":["0018-9235"],"issn-type":[{"value":"0018-9235","type":"print"}],"subject":["Electrical
        and Electronic Engineering"],"published":{"date-parts":[[2017,5]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2022-11-09 13:04:18 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sample=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":452242,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T21:37:44Z","timestamp":1648676264264},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Animal
        population ecology comprises the study of the growth, regulation, and interactions
        of animal populations. As a level of organization, the population comes between
        individuals on the one hand and communities on the other, but there is not
        a sharp distinction between those phenomena that affect the levels above and
        below from those of the population: a population\u2019s growth may be much
        effected by the behavior of its constituent individ[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=award.funder%3A501100001659&sample=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":176270,"items":[{"indexed":{"date-parts":[[2022,10,28]],"date-time":"2022-10-28T11:51:03Z","timestamp":1666957863138},"reference-count":35,"publisher":"Elsevier
        BV","issue":"8","license":[{"start":{"date-parts":[[2017,10,1]],"date-time":"2017-10-01T00:00:00Z","timestamp":1506816000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2021,10,15]],"date-time":"2021-10-15T00:00:00Z","timestamp":1634256000000},"content-version":"vor","delay-in-days":1475,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/501100001659","name":"Deutsche
        Forschungsgemeinschaft","doi-asserted-by":"publisher"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Journal
        of Differential Equations"],"published-print":{"date-parts":[[2017,10]]},"DOI":"10.1016\/j.jde.2017.06.002","type":"journal-article","created":{"date-parts":[[2017,6,17]],"date-time":"2017-06-17T10:31:10Z","timestamp":1497695470000},"page":"4826-4869","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":38,"title":["Asymptotic
        homogenization in a three-dimensional nutrient taxis system involving food-supported
        proliferation"],"prefix":"10.1016","volume":"263","author":[{"given":"Michael","family":"Winkler","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.jde.2017.06.002_br0010","doi-asserted-by":"crossref","first-page":"219","DOI":"10.1007\/BF01215256","article-title":"Dynamic
        theory of quasilinear parabolic systems III. Global existence","volume":"202","author":"Amann","year":"1989","journal-title":"Math.
        Z."},{"key":"10.1016\/j.jde.2017.06.002_br0020","doi-asserted-by":"crossref","first-page":"553","DOI":"10.1512\/iumj.2016.65.5776","article-title":"Equilibration
        in a fully parabolic two-species chemotaxis system with competitive kinetics","volume":"65","author":"Bai","year":"2016","journal-title":"Indiana
        Univ. Math. J."},{"key":"10.1016\/j.jde.2017.06.002_br0030","doi-asserted-by":"crossref","first-page":"1663","DOI":"10.1142\/S021820251550044X","article-title":"Toward
        a mathematical theory of Keller\u2013Segel models of pattern formation in
        biological tissues","volume":"25","author":"Bellomo","year":"2015","journal-title":"Math.
        Models Methods Appl. Sci."},{"key":"10.1016\/j.jde.2017.06.002_br0040","doi-asserted-by":"crossref","first-page":"630","DOI":"10.1038\/349630a0","article-title":"Complex
        patterns formed by motile cells of Escherichia coli","volume":"349","author":"Budrene","year":"1991","journal-title":"Nature"},{"key":"10.1016\/j.jde.2017.06.002_br0050","unstructured":"X.
        Cao, A refined extensibility criterion for the Keller\u2013Segel system, preprint."},{"key":"10.1016\/j.jde.2017.06.002_br0060","doi-asserted-by":"crossref","first-page":"107","DOI":"10.1007\/s00526-016-1027-2","article-title":"Global
        classical small-data solutions for a three-dimensional chemotaxis Navier\u2013Stokes
        system involving matrix-valued sensitivities","volume":"55","author":"Cao","year":"2016","journal-title":"Calc.
        Var. Partial Differential Equati[...]
