http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/monograph/works?rows=0&facet=issn%3A%2A%2Ccontainer-title%3A%2A%2Cjournal-issue%3A%2A%2Clink-application%3A%2A%2Caffiliation%3A%2A%2Cassertion%3A%2A%2Cassertion-group%3A%2A%2Corcid%3A%2A%2Cupdate-type%3A%2A%2Cfunder-name%3A%2A%2Carchive%3A%2A%2Ccategory-name%3A%2A%2Crelation-type%3A%2A%2Cpublished%3A%2A%2Csource%3A%2A%2Ctype-name%3A%2A%2Cpublisher-name%3A%2A%2Cjournal-volume%3A%2A%2Clicense%3A%2A%2Cfunder-doi%3A%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"affiliation":{"value-count":12464,"values":{"University
        of Florence, IT":377,"USA":302,"Information Resources Management Association,
        USA":88,"National University of SingaporeSingapore":71,"NUSSingapore":70,"University
        of Aveiro, Portugal":54,"University of North Dakota, USA":53,"Nanyang Technological
        UniversitySingapore":48,"Imperial College LondonUK":46,"U.S. Department of
        Agriculture":43,"University of South Florida":39,"None":35,"Chinese Academy
        of SciencesChina":34,"Monash University, Australia":33,"University of Minho,
        Portugal":29,"NTUSingapore":29,"East Asian Institute, NUSSingapore":29,"Universidad
        de Oviedo, Spain":27,"Singapore Management UniversitySingapore":26,"Peking
        UniversityChina":26,"Kansas State University, USA":26,"VIT University, India":25,"University
        of Southern Queensland, Australia":25,"The Hebrew University of JerusalemIsrael":25,"Agricultural
        Research Service, U.S. Department of Agriculture":25,"\u0424\u0438\u043d\u0430\u043d\u0441\u043e\u0432\u044b\u0439
        \u0443\u043d\u0438\u043[...]
