http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal-article/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAAJ7H3FjJMRzRablFsUjJ1a1p6TFUxTWhwY2cAAAAAAChuZxZYb0NMVnlZVlRQQ01VLVAxeUhQYnVBAAAAAAI9POwWYmhaTGdxaXNRM0c5anUyOGJMSlFTZwAAAAAAJ6mMFk9INXJ4eFJCU3VtSzhNVnNHN3dxQncAAAAAA5iKFRZXWjFrV1ZnOFFXLWk0TGh5cU5sQlV3AAAAAAPyCVAWbDhsYzRBWnNSUFN2bHkyYXZQN0hkQQ==","total-results":89130858,"items":[{"indexed":{"date-parts":[[2021,4,29]],"date-time":"2021-04-29T03:03:44Z","timestamp":1619665424156},"reference-count":0,"publisher":"Scandinavian
        University Press \/ Universitetsforlaget AS","issue":"01","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.18261\/issn1891-5760-2015-01-05","type":"journal-article","created":{"date-parts":[[2021,4,26]],"date-time":"2021-04-26T14:25:14Z","timestamp":1619447114000},"page":"50-54","source":"Crossref","is-referenced-by-count":0,"title":["Verket
        som ble borte &#8211; ekfrase som dokumentasjon for ettertiden"],"prefix":"10.18261","volume":"6","author":[{"given":"Ida","family":"Gr\u00f8ttum","sequence":"first","affiliation":[]},{"given":"Ingrid
        Lunnan","family":"N\u00f8dseth","sequence":"first","affiliation":[]}],"member":"7604","published-online":{"date-parts":[[2015,5,11]]},"container-title":["Ekfrase"],"deposited":{"date-parts":[[2021,4,27]],"date-time":"2021-04-27T11:08:49Z","timestamp":1619521729000},"score":0.0,"issued":{"date-parts":[[2015,5,11]]},"references-count":0,"journal-issue":{"issue":"01","published-online":{"date-parts":[[2015,5,11]]}},"URL":"http:\/\/dx.doi.org\/10.18261\/issn1891-5760-2015-01-05","ISSN":["1891-5760","1891-5752"],"issn-type":[{"value":"1891-5760","type":"electronic"},{"value":"1891-5752","type":"print"}],"published":{"date-parts":[[2015,5,11]]}},{"indexed":{"date-parts":[[2021,4,29]],"date-time":"2021-04-29T01:49:02Z","timestamp":1619660942755},"reference-count":0,"publisher":"Belugyi
        szemle","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["BSZ"],"abstract":"<jats:p>Az
        inform\u00e1ci\u00f3- \u00e9s kommunik\u00e1ci\u00f3technol\u00f3gi\u00e1n
        alapul\u00f3 ipari forradalom nem csak az egyre n\u00f6vekv\u0151 m\u00e9rt\u00e9k\u0171
        digitaliz\u00e1ci\u00f3t, hanem az azzal j\u00e1r\u00f3 biztons\u00e1gi kock\u00e1zatokat
        \u00e9s az ut\u00f3bbib\u00f3l k\u00f6vetkez\u0151 gazdas\u00e1gi k\u00e1rokat
        is mag\u00e1val hozza. A v\u00e9dekez\u00e9st nehez\u00edti, hogy egyes el\u0151rejelz\u00e9sek
        szerint 2021-re vil\[...]
- request:
    method: get
    uri: https://api.crossref.org/types/journal-article/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAAJ7H3FjJMRzRablFsUjJ1a1p6TFUxTWhwY2cAAAAAAChuZxZYb0NMVnlZVlRQQ01VLVAxeUhQYnVBAAAAAAI9POwWYmhaTGdxaXNRM0c5anUyOGJMSlFTZwAAAAAAJ6mMFk9INXJ4eFJCU3VtSzhNVnNHN3dxQncAAAAAA5iKFRZXWjFrV1ZnOFFXLWk0TGh5cU5sQlV3AAAAAAPyCVAWbDhsYzRBWnNSUFN2bHkyYXZQN0hkQQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossr[...]
[...]
