http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal-article/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ58YTh8egCPwJodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2FjcC44MzE=","total-results":76429196,"items":[{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:01:54Z","timestamp":1550005314606},"reference-count":0,"publisher":"Wiley","issue":"2","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":5814,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Am.
        J. Primatol."],"published-print":{"date-parts":[[1999,10]]},"DOI":"10.1002\/(sici)1098-2345(199910)49:2<127::aid-ajp3>3.0.co;2-1","type":"journal-article","created":{"date-parts":[[2002,9,11]],"date-time":"2002-09-11T01:03:35Z","timestamp":1031706215000},"page":"127-127","source":"Crossref","is-referenced-by-count":0,"title":["Editorial
        Comment"],"prefix":"10.1002","volume":"49","author":[{"given":"Michael J.","family":"Raleigh","sequence":"first","affiliation":[]}],"member":"311","container-title":["American
        Journal of Primatology"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2F(SICI)1098-2345(199910)49:2%3C127::AID-AJP3%3E3.0.CO;2-1","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/full\/10.1002\/(SICI)1098-2345(199910)49:2%3C127::AID-AJP3%3E3.0.CO;2-1","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,8,2]],"date-time":"2018-08-02T01:14:08Z","timestamp":1533172448000},"score":1.0,"issued":{"date-parts":[[1999,10]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1999,10]]},"issue":"2"},"URL":"http:\/\/dx.doi.org\/10.1002\/(sici)1098-2345(199910)49:2<127::aid-ajp3>3.0.co;2-1","ISSN":["0275-2565","1098-2345"],"issn-type":[{"value":"0275-2565","type":"print"},{"value":"1098-2345","type":"electronic"}]},{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:01:54Z","timestamp":1550005314693},"reference-count":20,"publisher":"Wiley","issue":"2","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":5814,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},[...]
- request:
    method: get
    uri: https://api.crossref.org/types/journal-article/works?rows=30&cursor=AoJ58YTh8egCPwJodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2FjcC44MzE%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      cont[...]
- request:
    method: get
    uri: https://api.crossref.org/types/journal-article/works?rows=30&cursor=AoJ404Xh8egCPwJodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyL2FjcC43NjU%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      cont[...]
