http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/monograph/works?rows=0&facet=issn%3A%2A%2Ccontainer-title%3A%2A%2Cjournal-issue%3A%2A%2Clink-application%3A%2A%2Caffiliation%3A%2A%2Cassertion%3A%2A%2Cassertion-group%3A%2A%2Corcid%3A%2A%2Cupdate-type%3A%2A%2Cfunder-name%3A%2A%2Carchive%3A%2A%2Ccategory-name%3A%2A%2Crelation-type%3A%2A%2Cpublished%3A%2A%2Csource%3A%2A%2Ctype-name%3A%2A%2Cpublisher-name%3A%2A%2Cjournal-volume%3A%2A%2Clicense%3A%2A%2Cfunder-doi%3A%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"affiliation":{"value-count":13534,"values":{"University
        of Florence, IT":408,"USA":210,"Universit\u00e4t Wien":99,"LMU M\u00fcnchen":93,"National
        University of SingaporeSingapore":79,"NUSSingapore":70,"Universit\u00e4t M\u00fcnster":67,"Universit\u00e4t
        zu K\u00f6ln":57,"Nanyang Technological UniversitySingapore":56,"University
        of South Florida":54,"Universit\u00e4t T\u00fcbingen":52,"Information Resources
        Management Association, USA":51,"Imperial College LondonUK":50,"None":49,"Universidade
        Polit\u00e9cnica de Madrid":47,"U.S. Department of Agriculture":43,"University
        of North Dakota, USA":42,"Chinese Academy of SciencesChina":39,"Universit\u00e4t
        Bonn":36,"University of Aveiro, Portugal":36,"Humboldt-Universit\u00e4t zu
        Berlin":35,"Universit\u00e4t W\u00fcrzburg":34,"Universit\u00e4t Jena":33,"Universit\u00e4t
        Bielefeld":33,"Universit\u00e4t Duisburg-Essen":32,"Freie Universit\u00e4t
        Berlin":32,"Universit\u00e4t Paderborn":31,"Singapore Management UniversitySingapore":31,"Department
        of Science and Technology, Communications and Transport Systems, Link\u00f6ping
        University, Link\u00f6ping, Sweden":31,"Department of Electrical Engineering,
        Automatic Control, Link\u00f6ping University, Link\u00f6ping, Sweden":30,"Universit\u00e4t
        Z\u00fcrich":29,"Universit\u00e4t Hamburg":29,"The Hebrew University of JerusalemIsrael":29,"NTUSingapore":29,"East
        Asian Institute, NUSSingapore":29,"Universit\u00e4t Leipzig":28,"Universit\u00e4t
        G\u00f6ttingen":28,"Universit\u00e4t Frankfurt":28,"University of Iowa":28,"Department
        of Physics, Chemistry and Biology, Thin Film Physics, Link\u00f6ping University,
        Link\u00f6ping, Sweden":28,"Universit\u00e4t Marburg":27,"Peking UniversityChina":27,"Universit\u00e4t
        Heidelberg":26,"Universit\u00e4t Halle-Wittenberg":26,"Universit\u00e4t Erlangen-N\u00fcrnberg":26[...]
