http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types?rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"type-list","message-version":"1.0.0","message":{"total-results":30,"items":[{"id":"book-section","label":"Book
        Section"},{"id":"monograph","label":"Monograph"},{"id":"report-component","label":"Report
        Component"},{"id":"report","label":"Report"},{"id":"peer-review","label":"Peer
        Review"},{"id":"book-track","label":"Book Track"},{"id":"journal-article","label":"Journal
        Article"},{"id":"book-part","label":"Part"},{"id":"other","label":"Other"},{"id":"book","label":"Book"},{"id":"journal-volume","label":"Journal
        Volume"},{"id":"book-set","label":"Book Set"},{"id":"reference-entry","label":"Reference
        Entry"},{"id":"proceedings-article","label":"Proceedings Article"},{"id":"journal","label":"Journal"},{"id":"component","label":"Component"},{"id":"book-chapter","label":"Book
        Chapter"},{"id":"proceedings-series","label":"Proceedings Series"},{"id":"report-series","label":"Report
        Series"},{"id":"proceedings","label":"Proceedings"},{"id":"database","label":"Database"},{"id":"standard","label":"Standard"},{"id":"reference-book","label":"Reference
        Book"},{"id":"posted-content","label":"Posted Content"},{"id":"journal-issue","label":"Journal
        Issue"},{"id":"dissertation","label":"Dissertation"},{"id":"grant","label":"Grant"},{"id":"dataset","label":"Dataset"},{"id":"book-series","label":"Book
        Series"},{"id":"edited-book","label":"Edited Book"}]}}'
  recorded_at: 2022-11-09 12:31:34 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/types/monograph/works?rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":565570,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:52:08Z","timestamp":1648648328146},"reference-count":0,"publisher":"[s.n.]","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1898]]},"DOI":"10.5962\/bhl.title.134007","type":"monograph","created":{"date-parts":[[2017,8,1]],"date-time":"2017-08-01T01:00:09Z","timestamp":1501549209000},"source":"Crossref","is-referenced-by-count":0,"title":["Field
        notes, central Kentucky, 1898"],"prefix":"10.5962","author":[{"given":"Aug.
        F","family":"Foerste","sequence":"first","affiliation":[]}],"member":"3444","deposited":{"date-parts":[[2017,8,1]],"date-time":"2017-08-01T01:00:12Z","timestamp":1501549212000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.biodiversitylibrary.org\/bibliography\/134007"}},"issued":{"date-parts":[[1898]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5962\/bhl.title.134007","published":{"date-parts":[[1898]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:53:02Z","timestamp":1648648382705},"reference-count":0,"publisher":"Universidad
        Santo Tom\u00e1s","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2017]]},"DOI":"10.15332\/tg.mae.2017.00032","type":"monograph","created":{"date-parts":[[2019,2,22]],"date-time":"2019-02-22T15:41:05Z","timestamp":1550850065000},"source":"Crossref","is-referenced-by-count":0,"title":["Los
        m\u00e9todos alternativos de resoluci\u00f3n de conflictos -marc- para el
        fortalecimiento de educaci\u00f3n en derechos humanos: un estudio de caso
        en los coordinadores de convivencia de las instituciones educativas distritales
        Arborizadora baja y San Francisco en la ciudad de Bogot\u00e1"],"prefix":"10.15332","author":[{"given":"Leonel","family":"Manzano
        Neira","sequence":"first","affiliation":[]}],"member":"6169","published-online":{"date-parts":[[2017]]},"deposited":{"date-parts":[[2019,2,22]],"date-time":"2019-02-22T15:41:05Z","timestamp":1550850065000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/repository.usta.edu.co\/handle\/11634\/9183"}},"issued":{"date-parts":[[2017]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.15332\/tg.mae.2017.00032","published":{"date-parts":[[2017]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:53:02Z","timestamp":1648648382856},"publisher-location":"San
        Francisco, Calif. :","reference-count":0,"publisher":"Sunset Seed and Plant
        Co.,","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1897]]},"DOI":"10.5962\/bhl.title.94827","type":"monograph","created":{"date-parts":[[2014,9,21]],"date-time":"2014-09-21T06:05:39Z","timestamp":1411279539000},"source":"Crossref","is-referenced-by-count":0,"title":["Sunset
        seasonables for present planting \/"],"prefix":"10.5962","author":[{"name":"Sunset
        Seed and Plant Co.","sequence":"first","affiliation":[]},{"name":"Henry G.
        Gilbert Nursery and Seed Trade Catalog Collection.","sequence":"additional","affiliation":[]}],"member":"3444","deposited":{"date-parts":[[2014,9,21]],"date-time":"2014-09-21T06:05:39Z","timestamp":1411279539000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/www.biodiversitylibrary.org\/bibliography\/94827"}},"issued":{"date-parts":[[1897]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5962\/bhl.title.94827","published":{"date-parts":[[1897]]}}],"items-per-page":3,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2022-11-09 12:31:34 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
