http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal-article/works?rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAgV43-Fmxkam1HbkpnUWxxbWlCMkxwREpMSFEAAAAACRVd6hZ5OGlTOGc0elJObTlaMjFJeWtWZ1FnAAAAABGuGrUWTzVoX2ZEVS1SWnE4ZHBtX2VLZ2NNZwAAAAAQYu5-Fi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ-2NhY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAACBXjf8WbGRqbUduSmdRbHFtaUIyTHBESkxIUQ==","total-results":96753348,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:43Z","timestamp":1648648243193},"reference-count":0,"publisher":"Ovid
        Technologies (Wolters Kluwer Health)","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Neurology
        Report"],"published-print":{"date-parts":[[1996]]},"DOI":"10.1097\/01253086-199620010-00024","type":"journal-article","created":{"date-parts":[[2013,7,4]],"date-time":"2013-07-04T05:22:00Z","timestamp":1372915320000},"page":"65","source":"Crossref","is-referenced-by-count":2,"title":["Treatment
        With Thyrotropin-Releasing Hormone (TRH) in Patients With Traumatic Spinal
        Cord Injuries"],"prefix":"10.1097","volume":"20","author":[{"given":"Nancy","family":"Lehrer","sequence":"first","affiliation":[]}],"member":"276","container-title":["Neurology
        Report"],"language":"en","link":[{"URL":"https:\/\/journals.lww.com\/01253086-199620010-00024","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,11,10]],"date-time":"2021-11-10T17:20:59Z","timestamp":1636564859000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/journals.lww.com\/01253086-199620010-00024"}},"subtitle":[""],"issued":{"date-parts":[[1996]]},"references-count":0,"journal-issue":{"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.1097\/01253086-199620010-00024","ISSN":["1085-049X"],"issn-type":[{"value":"1085-049X","type":"print"}],"subject":["Neurology
        (clinical)","Rehabilitation","Physical Therapy, Sports Therapy and Rehabilitation"],"published":{"date-parts":[[1996]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:48Z","timestamp":1648648248982},"reference-count":0,"publisher":"American
        College of Physicians","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ann
        Intern Med"],"published-print":{"date-parts":[[1981,7,1]]},"DOI":"10.7326\/0003-4819-95-1-129_3","type":"journal-article","created":{"date-parts":[[2013,4,12]],"date-time":"2013-04-12T14:41:[...]
- request:
    method: get
    uri: https://api.crossref.org/types/journal-article/works?rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAgV43-Fmxkam1HbkpnUWxxbWlCMkxwREpMSFEAAAAACRVd6hZ5OGlTOGc0elJObTlaMjFJeWtWZ1FnAAAAABGuGrUWTzVoX2ZEVS1SWnE4ZHBtX2VLZ2NNZwAAAAAQYu5-Fi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ-2NhY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAACBXjf8WbGRqbUduSmdRbHFtaUIyTHBESkxIUQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref[...]
[...]
