http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"type-list","message-version":"1.0.0","message":{"total-results":28,"items":[{"id":"book-section","label":"Book
        Section"},{"id":"monograph","label":"Monograph"},{"id":"report","label":"Report"},{"id":"peer-review","label":"Peer
        Review"},{"id":"book-track","label":"Book Track"},{"id":"journal-article","label":"Journal
        Article"},{"id":"book-part","label":"Part"},{"id":"other","label":"Other"},{"id":"book","label":"Book"},{"id":"journal-volume","label":"Journal
        Volume"},{"id":"book-set","label":"Book Set"},{"id":"reference-entry","label":"Reference
        Entry"},{"id":"proceedings-article","label":"Proceedings Article"},{"id":"journal","label":"Journal"},{"id":"component","label":"Component"},{"id":"book-chapter","label":"Book
        Chapter"},{"id":"proceedings-series","label":"Proceedings Series"},{"id":"report-series","label":"Report
        Series"},{"id":"proceedings","label":"Proceedings"},{"id":"standard","label":"Standard"},{"id":"reference-book","label":"Reference
        Book"},{"id":"posted-content","label":"Posted Content"},{"id":"journal-issue","label":"Journal
        Issue"},{"id":"dissertation","label":"Dissertation"},{"id":"dataset","label":"Dataset"},{"id":"book-series","label":"Book
        Series"},{"id":"edited-book","label":"Edited Book"},{"id":"standard-series","label":"Standard
        Series"}]}}'
  recorded_at: 2021-08-01 15:50:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/types/monograph/works?rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":515423,"items":[{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:38:10Z","timestamp":1620333490062},"publisher-location":"Chicoutimi","reference-count":0,"publisher":"J.-M.
        Tremblay","isbn-type":[{"value":"1554418453","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1522\/cla.rim.epi","type":"monograph","created":{"date-parts":[[2006,5,1]],"date-time":"2006-05-01T17:22:42Z","timestamp":1146504162000},"source":"Crossref","is-referenced-by-count":0,"title":["E\u0301piste\u0301mologie
        et enseignement des sciences"],"prefix":"10.1522","author":[{"given":"Martin","family":"Riopel","sequence":"first","affiliation":[]}],"member":"208","published-online":{"date-parts":[[2005]]},"container-title":["Classiques
        des sciences sociales."],"deposited":{"date-parts":[[2009,2,2]],"date-time":"2009-02-02T21:19:43Z","timestamp":1233609583000},"score":0.0,"issued":{"date-parts":[[2005]]},"ISBN":["1554418453"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1522\/cla.rim.epi","published":{"date-parts":[[2005]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:35:53Z","timestamp":1620333353999},"publisher-location":"Chicoutimi","reference-count":0,"publisher":"J.-M.
        Tremblay","isbn-type":[{"value":"1554418836","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1522\/cla.der.con","type":"monograph","created":{"date-parts":[[2006,5,1]],"date-time":"2006-05-01T13:22:42Z","timestamp":1146489762000},"source":"Crossref"[...]
