http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types?rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"type-list","message-version":"1.0.0","message":{"total-results":28,"items":[{"id":"book-section","label":"Book
        Section"},{"id":"monograph","label":"Monograph"},{"id":"report","label":"Report"},{"id":"peer-review","label":"Peer
        Review"},{"id":"book-track","label":"Book Track"},{"id":"journal-article","label":"Journal
        Article"},{"id":"book-part","label":"Part"},{"id":"other","label":"Other"},{"id":"book","label":"Book"},{"id":"journal-volume","label":"Journal
        Volume"},{"id":"book-set","label":"Book Set"},{"id":"reference-entry","label":"Reference
        Entry"},{"id":"proceedings-article","label":"Proceedings Article"},{"id":"journal","label":"Journal"},{"id":"component","label":"Component"},{"id":"book-chapter","label":"Book
        Chapter"},{"id":"proceedings-series","label":"Proceedings Series"},{"id":"report-series","label":"Report
        Series"},{"id":"proceedings","label":"Proceedings"},{"id":"standard","label":"Standard"},{"id":"reference-book","label":"Reference
        Book"},{"id":"posted-content","label":"Posted Content"},{"id":"journal-issue","label":"Journal
        Issue"},{"id":"dissertation","label":"Dissertation"},{"id":"dataset","label":"Dataset"},{"id":"book-series","label":"Book
        Series"},{"id":"edited-book","label":"Edited Book"},{"id":"standard-series","label":"Standard
        Series"}]}}'
  recorded_at: 2021-08-17 17:26:21 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/types/monograph/works?rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":517544,"items":[{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:44:21Z","timestamp":1620333861525},"publisher-location":"Chicoutimi","reference-count":0,"publisher":"J.-M.
        Tremblay","isbn-type":[{"value":"1554418453","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1522\/cla.rim.epi","type":"monograph","created":{"date-parts":[[2006,5,1]],"date-time":"2006-05-01T17:22:42Z","timestamp":1146504162000},"source":"Crossref","is-referenced-by-count":0,"title":["E\u0301piste\u0301mologie
        et enseignement des sciences"],"prefix":"10.1522","author":[{"given":"Martin","family":"Riopel","sequence":"first","affiliation":[]}],"member":"208","published-online":{"date-parts":[[2005]]},"container-title":["Classiques
        des sciences sociales."],"deposited":{"date-parts":[[2009,2,2]],"date-time":"2009-02-02T21:19:43Z","timestamp":1233609583000},"score":0.0,"issued":{"date-parts":[[2005]]},"ISBN":["1554418453"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1522\/cla.rim.epi","published":{"date-parts":[[2005]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:32:47Z","timestamp":1620333167991},"publisher-location":"Chicoutimi","reference-count":0,"publisher":"Universite\u0301
        du Que\u0301bec a\u0300 Chicoutimi","isbn-type":[{"value":"1412312922","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1522\/24587738","type":"monograph","created":{"date-parts":[[2006,4,26]],"date-time":"2006-04-26T22:12:14Z","timestamp":1146089534000},"source":"Crossref","is-referenced-by-count":0,"title":["Poder,
        saber, verdane na produc\u0327a\u0303o de \"situac\u0327a\u0303o de fracasso
        :"],"prefix":"10.1522","author":[{"given":"Luiz Carlos","family":"Jandiroba","sequence":"first","affiliation":[]}],"member":"208","published-online":{"date-parts":[[2004]]},"deposited":{"date-parts":[[2011,11,7]],"date-time":"2011-11-07T15:42:49Z","timestamp":1320680569000},"score":0.0,"subtitle":["um
        estudo do cotidiano escolar no ensino noturno"],"issued":{"date-parts":[[2004]]},"ISBN":["1412312922"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1522\/24587738","published":{"date-parts":[[2004]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:41:26Z","timestamp":1620333686185},"publisher-location":"Chicoutimi","reference-count":0,"publisher":"J.-M.
        Tremblay","isbn-type":[{"value":"1554418763","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1522\/cla.maa.plu","type":"monograph","created":{"date-parts":[[2006,5,1]],"date-time":"2006-05-01T17:22:42Z","timestamp":1146504162000},"source":"Crossref","is-referenced-by-count":0,"title":["Pluralisme
        paradigmatique en sociologie de l''e\u0301ducation"],"prefix":"10.1522","author":[{"given":"Alain.","family":"Massot","sequence":"first","affiliation":[]}],"member":"208","published-online":{"date-parts":[[2005]]},"container-title":["Classiques
        des sciences sociales."],"deposited":{"date-parts":[[2009,2,2]],"date-time":"2009-02-02T21:19:43Z","timestamp":1233609583000},"score":0.0,"issued":{"date-parts":[[2005]]},"ISBN":["1554418763"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1522\/cla.maa.plu","published":{"date-parts":[[2005]]}}],"items-per-page":3,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2021-08-17 17:26:21 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
