http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/blblbl
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      content-type: application/json;charset=utf-8
      status: HTTP/1.1 404 Not Found
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: Resource not found.
  recorded_at: 2021-08-17 17:26:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038/nnano.2014.279
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2021,8,15]],"date-time":"2021-08-15T06:49:30Z","timestamp":1629010170853},"reference-count":12,"publisher":"Springer
        Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2014,11,10]],"date-time":"2014-11-10T00:00:00Z","timestamp":1415577600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Nature
        Nanotech"],"published-print":{"date-parts":[[2015,1]]},"DOI":"10.1038\/nnano.2014.279","type":"journal-article","created":{"date-parts":[[2014,11,7]],"date-time":"2014-11-07T14:30:15Z","timestamp":1415370615000},"page":"22-24","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":41,"title":["Charges
        ride the spin wave"],"prefix":"10.1038","volume":"10","author":[{"given":"Timo","family":"Kuschel","sequence":"first","affiliation":[]},{"given":"G\u00fcnter","family":"Reiss","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2014,11,10]]},"reference":[{"key":"BFnnano2014279_CR1","doi-asserted-by":"publisher","first-page":"212405","DOI":"10.1103\/PhysRevB.78.212405","volume":"78","author":"A
        Manchon","year":"2008","unstructured":"Manchon, A. & Zhang, S. Phys. Rev.
        B 78, 212405 (2008).","journal-title":"Phys. Rev. B"},{"key":"BFnnano2014279_CR2","doi-asserted-by":"publisher","first-page":"50","DOI":"10.1038\/nnano.2014.252","volume":"10","author":"C
        Ciccarelli","year":"2015","unstructured":"Ciccarelli, C. et al. Nature Nanotech.
        10, 50\u201354 (2015).","journal-title":"Nature Nanotech."},{"key":"BFnnano2014279_CR3","first-page":"467","volume":"13","author":"MI
        Dyakonov","year":"1971","unstructured":"Dyakonov, M. I. & Perel, V. I. Sov.
        Phys. JETP Lett. 13, 467 (1[...]
[...]
