http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=NSF
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":38186,"items":[{"indexed":{"date-parts":[[2018,9,12]],"date-time":"2018-09-12T02:40:43Z","timestamp":1536720043140},"reference-count":45,"publisher":"Elsevier
        BV","issue":"2","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,3,1]],"date-time":"2018-03-01T00:00:00Z","timestamp":1519862400000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Applied
        and Computational Harmonic Analysis"],"published-print":{"date-parts":[[2018,3]]},"DOI":"10.1016\/j.acha.2016.05.001","type":"journal-article","created":{"date-parts":[[2016,5,13]],"date-time":"2016-05-13T22:09:49Z","timestamp":1463177389000},"page":"294-311","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":1,"title":["A
        sharp Balian\u2013Low uncertainty principle for shift-invariant spaces"],"prefix":"10.1016","volume":"44","author":[{"given":"Douglas
        P.","family":"Hardin","sequence":"first","affiliation":[]},{"suffix":"V","given":"Michael
        C.","family":"Northington","sequence":"additional","affiliation":[]},{"given":"Alexander
        M.","family":"Powell","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Applied
        and Computational Harmonic Analysis"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S1063520316300173?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S1063520316300173?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,9,12]],"date-time":"2018-09-12T01:59:03Z","timestamp":1536717543000},"score":13.629742,"issued":{"date-parts":[[2018,3]]},"references-count":45,"journal-issue":{"published-print":{"date-parts":[[2018,3]]},"issue":"2"},"alternative-id":["S1063520316300173"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.acha.2016.05.001","ISSN":["1063-5203"],"issn-type":[{"value":"1063-5203","type":"print"}],"subject":["Applied
        Mathematics"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"A sharp Balian\u2013Low uncertainty principle
        for shift-invariant spaces","name":"articletitle","label":"Article Title"},{"value":"Applied
        and Computational Harmonic Analysis","name":"journaltitle","label":"Journal
        Title"},{"value":"https:\/\/doi.org\/10.1016\/j.acha.2016.05.001","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Cont[...]
