http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      content-type: application/json
      exception-name: class clojure.lang.ExceptionInfo
      status: HTTP/1.1 500 Server Error
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        clojure.lang.ExceptionInfo","description":"clojure.lang.ExceptionInfo: Response
        Exception qbits.spandex.Response@40533e24","message":"Response Exception","stack":["clojure.core$ex_info.invokeStatic(core.clj:4617)","clojure.core$ex_info.invoke(core.clj:4617)","qbits.spandex$response_ex__GT_ex_info.invokeStatic(spandex.clj:218)","qbits.spandex$response_ex__GT_ex_info.invoke(spandex.clj:215)","qbits.spandex$eval12776$fn__12777.invoke(spandex.clj:227)","qbits.spandex$eval12759$fn__12760$G__12750__12765.invoke(spandex.clj:222)","qbits.spandex$response_listener$reify__12785.onFailure(spandex.clj:251)","org.elasticsearch.client.RestClient$FailureTrackingRespons[...]
