http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=NSF
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":38186,"items":[{"indexed":{"date-parts":[[2018,9,12]],"date-time":"2018-09-12T02:40:43Z","timestamp":1536720043140},"reference-count":45,"publisher":"Elsevier
        BV","issue":"2","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,3,1]],"date-time":"2018-03-01T00:00:00Z","timestamp":1519862400000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]},{"name":"NSF
        DMS","award":["1211687","1412428","1521749","0934630","1516400"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Applied
        and Computational Harmonic Analysis"],"published-print":{"date-parts":[[2018,3]]},"DOI":"10.1016\/j.acha.2016.05.001","type":"journal-article","created":{"date-parts":[[2016,5,13]],"date-time":"2016-05-13T22:09:49Z","timestamp":1463177389000},"page":"294-311","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":1,"title":["A
        sharp Balian\u2013Low uncertainty principle for shift-invariant spaces"],"prefix":"10.1016","volume":"44","author":[{"given":"Douglas
        P.","family":"Hardin","sequence":"first","affiliation":[]},{"suffix":"V","given":"Michael
        C.","family":"Northington","sequence":"additional","affiliation":[]},{"given":"Alexander
        M.","family":"Powell","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Applied
        and Computational Harmonic Analysis"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S1063520316300173?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S1063520316300173?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,9,12]],"date-time":"2018-09-12T01:59:03Z","timestamp":1536717543000},"score":13.629704,"issued":{"date-parts":[[2018,3]]},"references-count":45,"journal-issue":{"published-print":{"date-parts":[[2018,3]]},"issue":"2"},"alternative-id":["S1063520316300173"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.acha.2016.05.001","ISSN":["1063-5203"],"issn-type":[{"value":"1063-5203","type":"print"}],"subject":["Applied
        Mathematics"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"A sharp Balian\u2013Low uncertainty principle
        for shift-invariant spaces","name":"articletitle","label":"Article Title"},{"value":"Applied
        and Computational Harmonic Analysis","name":"journaltitle","label":"Journal
        Title"},{"value":"https:\/\/doi.org\/10.1016\/j.acha.2016.05.001","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Cont[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=renear%2B-ontologies
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=global%20state&filter=has-orcid%3Atrue&rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
  [...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-full-text%3Atrue
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: [...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007/12080.1874-1746
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2018,5,7]],"date-time":"2018-05-07T18:03:24Z","timestamp":1525716204842},"reference-count":0,"publisher":"Springer
        Nature","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1007\/12080.1874-1746","type":"journal","created":{"date-parts":[[2013,5,25]],"date-time":"2013-05-25T04:17:50Z","timestamp":1369455470000},"source":"Crossref","is-referenced-by-count":0,"title":["Theoretical
        Ecology"],"prefix":"10.1007","member":"297","container-title":[],"original-title":[],"language":"en","deposited":{"date-parts":[[2013,5,25]],"date-time":"2013-05-25T04:17:50Z","timestamp":1369455470000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/12080.1874-1746","relation":{},"ISSN":["1874-1738","1874-1746"],"issn-type":[{"value":"1874-1738","type":"print"},{"value":"1874-1746","type":"electronic"}]}}'
  recorded_at: 2018-12-07 21:16:36 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111/(issn)1442-9993
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=NSF&rows=0&facet=t
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"affiliation":{"value-count":20,"values":{"university":9978,"of":9476,"usa":7166,"department":6513,"and":6085,"institute":3245,"sciences":3232,"science":2751,"engineering":2489,"for":2364,"school":2198,"center":2176,"research":2129,"state":2126,"california":2073,"laboratory":2016,"technology":1635,"new":1541,"earth":1541,"college":1538}},"license":{"value-count":20,"values":{"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":13284,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1":6467,"http:\/\/www.acm.org\/publications\/policies\/copyright_policy#Background":3503,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor":2328,"https:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/":1961,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1":1314,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions":1243,"http:\/\/www.springer.com\/tdm":988,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#am":938,"http:\/\/link.aps.org\/licenses\/aps-default-license":778,"http:\/\/www.ieee.org\/publications_standards\/publications\/rights\/ieeecopyrightform.pdf":761,"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":761,"http:\/\/creativecommons.org\/licenses\/by\/4.0\/":761,"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/":648,"http:\/\/link.aps.org\/licenses\/aps-default-accepted-manuscript-license":614,"http:\/\/creativecommons.org\/licenses\/by\/3.0\/":478,"http:\/\/iopscience.iop.org\/info\/page\/text-and-data-mining":473,"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/":377,"http:\/\/iopscience.iop.org\/page\/copyright":366,"https:\/\/link.aps.org\/licenses\/aps-default-license":257}},"container-title":{"value-count":20,"values":{"Science":751,"Geophysical
        Research Letters":725,"Physics Letters B":493,"Journal of Geophysical Research:
        Space Physics":465,"Chemical & Engineering News":392,"Physics Today":321,"Physical
        Review B":310,"Journal of Geophysical Research: Atmospheres":310,"Physical
        Review D":258,"Earth and Planetary Science Letters":258,"Physical Review Letters":251,"Journal
        of Geophysical Research: Solid Earth":250,"Eos, Transactions American Geophysical
        Union":237,"Water Resources Research":225,"Anthropology News":223,"Angewandte
        Chemie International Edition":214,"Angewandte Chemie":210,"American Journal
        of Botany":201,"Journal of Geophysical Research: Oceans":196,"PsycEXTRA Dataset":181}},"publisher-name":{"value-count":20,"values":{"Elsevier
        BV":13716,"Wiley":4625,"American Geophysical Union (AGU)":3128,"Institute
        of Electrical and Electronics Engineers (IEEE)":2626,"ACM Press":2547,"Springer
        Nature":1190,"American Physical Society (APS)":1164,"Association for Computing
        Machinery (ACM)":1125,"AIP Publishing":857,"American Association for the Advancement
        of Science (AAAS)":812,"American Chemical Society (ACS)":791,"Informa UK Limited":601,"IOP
        Publishing":484,"Oxford University Press (OUP)":464,"The Optical Society":350,"Elsevier":327,"Royal
        Society of Chemistry (RSC)":239,"American Psychological Association (APA)":228,"The
        Royal Society":200,"Proceedings of the National Academy of Sciences":175}},"orcid":{"value-count":20,"values":{"http:\/\/orcid.org\/0000-0002-7985-8098":23,"http:\/\/orcid.org\/0000-0001-6651-1178":17,"http:\/\/orcid.org\/0000-0002-4666-5628":16,"http:\/\/orcid.org\/0000-0001-5452-4756":15,"http:\/\/orcid.org\/0000-0002-8537-8349":13,"http:\/\/orcid.org\/0000-0002-2419-2698":11,"http:\/\/orcid.org\/0000-0002-0797-6036":10,"http:\/\/orcid.org\/0000-0001-7362-8796":10,"http:\/\/orcid.org\/0000-0003-2829-9449":9,"http:\/\/orcid.org\/0000-0002-2325-3348":9,"http:\/\/orcid.org\/0000-0001-9768-3693":9,"http:\/\/orcid.org\/0000-0003-4571-4413":8,"http:\/\/orcid.org\/0000-0002-7638-662X":8,"http:\/\/orcid.org\/0000-0002-5215-9035":8,"http:\/\/orcid.org\/0000-0002-3253-0749":8,"http:\/\/orcid.org\/0000-0002-0493-2388":8,"http:\/\/orcid.org\/0000-0002-0430-9879":8,"http:\/\/orcid.org\/0000-0002-1152-1739":7,"http:\/\/orcid.org\/0000-0002-0357-8356":7,"http:\/\/orcid.org\/0000-0002-0305-2725":7}},"update-type":{"value-count":6,"values":{"new_version":23,"erratum":10,"correction":5,"retraction":1,"corrigendum":1,"article":1}},"published":{"value-count":20,"values":{"2018":6600,"2015":5947,"2017":5919,"2016":5848,"2014":3879,"2013":2388,"2012":1392,"2011":919,"2010":582,"2019":322,"2009":210,"2001":176,"2004":153,"2002":146,"1995":144,"2003":123,"2007":121,"2008":118,"1993":114,"2005":112}},"funder-name":{"value-count":20,"values":{"NSF":12380,"National
        Science Foundation":7588,"National Natural Science Foundation of China":2645,"NSF
        of China":1621,"National Institutes of Health":1231,"U.S. Department of Energy":1103,"National
        Aeronautics and Space Administration":1072,"NIH":950,"Air Force Office of
        Scientific Research":596,"NSF CAREER":439,"DOE":423,"Natural Sciences and
        Engineering Research Council of Canada":401,"NSF Graduate Research Fellowship":398,"Conselho
        Nacional de Desenvolvimento Cient\u00edfico e Tecnol\u00f3gico":374,"Office
        of Naval Research":372,"Army Research Office":362,"Fundamental Research Funds
        for the Central Universities":339,"DFG":335,"ONR":334,"Science and Technology
        Facilities Council":301}},"archive":{"value-count":4,"values":{"Portico":7133,"CLOCKSS":224,"LOCKSS":140,"DWT":3}},"type-name":{"value-count":13,"values":{"Journal
        Article":34482,"Conference Paper":2775,"Chapter":490,"Dataset":303,"Component":63,"Report":41,"Entry":10,"Book":8,"Posted
        Content":5,"Other":3,"Monograph":3,"Proceedings":2,"Dissertation":1}},"relation-type":{"value-count":12,"values":{"is-version-of":89,"has-review":76,"has-preprint":66,"is-supplemented-by":18,"is-part-of":14,"references":8,"is-data-basis-for":7,"is-documented-by":6,"has-part":6,"is-supplement-to":2,"is-related-material":1,"is-preprint-of":1}},"issn":{"value-count":20,"values":{"http:\/\/id.crossref.org\/issn\/1095-9203":748,"http:\/\/id.crossref.org\/issn\/0036-8075":738,"http:\/\/id.crossref.org\/issn\/0094-8276":725,"http:\/\/id.crossref.org\/issn\/0370-2693":493,"http:\/\/id.crossref.org\/issn\/2169-9380":427,"http:\/\/id.crossref.org\/issn\/0009-2347":418,"http:\/\/id.crossref.org\/issn\/2157-4936":417,"http:\/\/id.crossref.org\/issn\/1945-0699":321,"http:\/\/id.crossref.org\/issn\/2169-897X":286,"http:\/\/id.crossref.org\/issn\/0031-9228":274,"http:\/\/id.crossref.org\/issn\/0012-821X":258,"http:\/\/id.crossref.org\/issn\/1079-7114":251,"http:\/\/id.crossref.org\/issn\/0031-9007":251,"http:\/\/id.crossref.org\/issn\/0096-3941":237,"http:\/\/id.crossref.org\/issn\/2169-9313":232,"http:\/\/id.crossref.org\/issn\/0043-1397":225,"http:\/\/id.crossref.org\/issn\/1541-6151":223,"http:\/\/id.crossref.org\/issn\/1433-7851":214,"http:\/\/id.crossref.org\/issn\/0044-8249":210,"http:\/\/id.crossref.org\/issn\/1556-3502":202}},"source":{"value-count":1,"values":{"Crossref":38186}},"journal-issue":{"value-count":20,"values":{"1":3167,"2":2610,"4":2425,"3":2390,"6":1566,"5":1529,"10":1070,"8":997,"7":990,"9":957,"11":919,"12":871,"16":251,"13":246,"17":236,"15":236,"18":225,"22":219,"19":219,"14":216}},"category-name":{"value-count":20,"values":{"Condensed
        Matter Physics":1317,"Applied Mathematics":1239,"Ecology, Evolution, Behavior
        and Systematics":1097,"General Chemistry":994,"Biochemistry":937,"Materials
        Chemistry":933,"Electrical and Electronic Engineering":919,"General Medicine":880,"Electronic,
        Optical and Magnetic Materials":824,"Mechanics of Materials":804,"General
        Materials Science":787,"Molecular Biology":783,"Physical and Theoretical Chemistry":776,"Mechanical
        Engineering":770,"Computer Science Applications":695,"Geochemistry and Petrology":665,"Geophysics":624,"Organic
        Chemistry":609,"Nuclear and High Energy Physics":594,"General Physics and
        Astronomy":593}},"assertion":{"value-count":20,"values":{"copyright":10114,"content_type":10114,"publisher":10089,"articlelink":10089,"journaltitle":10027,"articletitle":10027,"peerreview_statement":548,"aims_and_scope_url":548,"journal_title":448,"date_epub":448,"copyright_information":448,"article_type":448,"article_title":448,"date_received":446,"date_accepted":446,"history":237,"similarity_check":200,"peer_review_method":200,"received":189,"accepted":188}},"assertion-group":{"value-count":15,"values":{"publication_dates":448,"publication_history":433,"similarity_check":200,"peer_review_method":200,"related_data":183,"copyright_licensing":152,"author_identifiers":146,"peer_review":86,"crosscheck":37,"copyright_and_licensing":33,"general":19,"associated_articles":9,"copyright_and_licencing":7,"current-referee-status":4,"article-reports":4}},"journal-volume":{"value-count":20,"values":{"120":403,"121":381,"6":372,"118":356,"43":347,"119":342,"27":335,"5":327,"4":325,"24":325,"14":324,"17":315,"25":313,"7":307,"33":303,"42":299,"26":298,"23":297,"41":291,"13":287}},"funder-doi":{"value-count":20,"values":{"http:\/\/dx.doi.org\/10.13039\/100000001":6972,"http:\/\/dx.doi.org\/10.13039\/501100001809":2626,"http:\/\/dx.doi.org\/10.13039\/100000002":1225,"http:\/\/dx.doi.org\/10.13039\/100000015":1098,"http:\/\/dx.doi.org\/10.13039\/100000104":1071,"http:\/\/dx.doi.org\/10.13039\/100000181":591,"http:\/\/dx.doi.org\/10.13039\/501100000038":401,"http:\/\/dx.doi.org\/10.13039\/501100003593":374,"http:\/\/dx.doi.org\/10.13039\/100000006":365,"http:\/\/dx.doi.org\/10.13039\/100000183":352,"http:\/\/dx.doi.org\/10.13039\/501100008982":335,"http:\/\/dx.doi.org\/10.13039\/501100000271":301,"http:\/\/dx.doi.org\/10.13039\/100000185":293,"http:\/\/dx.doi.org\/10.13039\/501100001807":288,"http:\/\/dx.doi.org\/10.13039\/501100001659":262,"http:\/\/dx.doi.org\/10.13039\/501100001711":259,"http:\/\/dx.doi.org\/10.13039\/501100000781":218,"http:\/\/dx.doi.org\/10.13039\/501100002858":201,"http:\/\/dx.doi.org\/10.13039\/100000936":197,"http:\/\/dx.doi.org\/10.13039\/100000192":189}}},"total-results":38186,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":"NSF"}}}'
  recorded_at: 2018-12-07 21:16:36 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
- request:
    method: get
    uri: https://api.crossref.org/works?sample=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":101598491,"items":[{"indexed":{"date-parts":[[2018,9,6]],"date-time":"2018-09-06T15:42:30Z","timestamp":1536248550110},"reference-count":92,"publisher":"Springer
        Nature","issue":"10","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0","start":{"date-parts":[[2018,1,29]],"date-time":"2018-01-29T00:00:00Z","timestamp":1517184000000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Research Council","doi-asserted-by":"publisher","award":["EP\/K038656\/1"]}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["J
        Mater Sci"],"published-print":{"date-parts":[[2018,5]]},"DOI":"10.1007\/s10853-018-2057-2","type":"journal-article","created":{"date-parts":[[2018,1,29]],"date-time":"2018-01-29T15:28:23Z","timestamp":1517239703000},"page":"7279-7293","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":1,"title":["Optimization
        of mesoporous titanosilicate catalysts for cyclohexene epoxidation via statistically
        guided synthesis"],"prefix":"10.1007","volume":"53","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-2139-040X","authenticated-orcid":false,"given":"A.
        S.","family":"Perera","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-5223-5886","authenticated-orcid":false,"given":"P.","family":"Trogadas","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-0188-0447","authenticated-orcid":false,"given":"M.
        M.","family":"Nigra","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-1810-2537","authenticated-orcid":false,"given":"H.","family":"Yu","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-1092-1212","authenticated-orcid":false,"given":"M.-O.","family":"Coppens","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2018,1,29]]},"reference":[{"key":"2057_CR1","unstructured":"Perera
        AS, Coppens M-O (2016) Titano-silicates: highlights on development, evolution
        and application in oxidative catalysis. In: Spivey JJ (ed) Catalysis. RSC
        Publishing, pp 119\u2013143","DOI":"10.1039\/9781782626855-00119","doi-asserted-by":"crossref"},{"key":"2057_CR2","doi-asserted-by":"crossref","first-page":"240","DOI":"10.1038\/345240a0","volume":"345","author":"DRC
        Huybrechts","year":"1990","unstructured":"Huybrechts DRC, De Bruycker L, Jacobs
        PA (1990) Oxyfunctionalization of alkanes with hydrogen peroxide on titanium
        silicalite. Nature 345:240\u2013242","journal-title":"Nature"},{"key":"2057_CR3","doi-asserted-by":"crossref","first-page":"43","DOI":"10.1016\/S0167-2991(08)60132-9","volume":"55","author":"P
        Roffia","year":"1990","unstructured":"Roffia P, Leofanti G, Cesana A et al
        (1990) Cyclohexanone ammoximation: a break through in the 6-caprolactam production
        process. Stud Surf Sci Catal 55:43\u201352","journal-title":"Stud Surf Sci
        Catal"},{"key":"2057_CR4","doi-asserted-by":"crossref","first-page":"163","DOI":"10.1016\/0920-[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=NSF&facet=t
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
     [...]
- request:
    method: get
    uri: https://api.crossref.org/works/blblbl
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: text/plain
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: Resource not found.
  recorded_at: 2018-12-07 21:16:36 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038/nnano.2014.279
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
[...]
