http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?cursor=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Server Error
      content-type: application/json
      exception-name: class clojure.lang.ExceptionInfo
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"error","message-type":"exception","message-version":"1.0.0","message":{"name":"class
        clojure.lang.ExceptionInfo","description":"clojure.lang.ExceptionInfo: Response
        Exception qbits.spandex.Response@5bdd8281","message":"Response Exception","stack":["clojure.core$ex_info.invokeStatic(core.clj:4617)","clojure.core$ex_info.invoke(core.clj:4617)","qbits.spandex$response_ex__GT_ex_info.invokeStatic(spandex.clj:218)","qbits.spandex$response_ex__GT_ex_info.invoke(spandex.clj:215)","qbits.spandex$eval12716$fn__12717.invoke(spandex.clj:227)","qbits.spandex$eval12699$fn__12700$G__12690__12705.invoke(spandex.clj:222)","qbits.spandex$response_listener$reify__12725.onFailure(spandex.clj:251)","org.elasticsearch.client.RestClient$FailureTrackingRespons[...]
