http_interactions:
- request:
    method: GET
    uri: https://api.crossref.org/works?filter=doi%3A10.1007%2Fs11192-025-05390-3%2Cdoi%3A10.1162%2Fqss_a_00348%2Cdoi%3A10.1007%2F10452.1573-5125&rows=3
  response:
    status: 200
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2025,8,2]],"date-time":"2025-08-02T04:05:53Z","timestamp":1754107553935,"version":"3.40.3"},"reference-count":85,"publisher":"MIT
        Press","license":[{"start":{"date-parts":[[2025,1,14]],"date-time":"2025-01-14T00:00:00Z","timestamp":1736812800000},"content-version":"vor","delay-in-days":13,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100001659","name":"Deutsche
        Forschungsgemeinschaft","doi-asserted-by":"publisher","award":["416115939"],"id":[{"id":"10.13039\/501100001659","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["direct.mit.edu"],"crossmark-restriction":true},"published-print":{"date-parts":[[2025,3,12]]},"abstract":"<jats:title>Abstract<\/jats:title>\n               <jats:p>The
        ongoing controversy surrounding transformative agreements, which aim to transition
        subscription-based journal publishing to full open access, highlights the
        need for large-scale studies assessing the impact of these agreements on hybrid
        open access. By combining multiple open data sources, including cOAlition
        S Journal Checker, Crossref, and OpenAlex, we present a novel approach that
        analyzes over 700 agreements. Results suggest a strong growth in open access,
        from 4.3% in 2018 to 15% in 2022. Over 5 years, 11,189 hybrid journals provided
        open access to 742,369 out of 8,146,958 articles (9.1%). Authors who could
        make use of transformative agreements contributed 328,957 open access articles
        (44%) during this period, reaching a peak in 2022 with 143,615 out of 249,511
        open access articles (58%). While this trend was predominantly driven by the
        three commercial publishers Elsevier, Springer Nature, and Wiley, open access
        uptake varied substantially across journals, publishers, disciplines, and
        countries. In particular, the OECD and BRICS areas revealed different publication
        trends. In conclusion, this study suggests that current levels of implementation
        of transformative agreements are insufficient to bring about a large-scale
        transition to full open access.<\/jats:p>","DOI":"10.1162\/qss_a_00348","type":"journal-article","created":{"date-parts":[[2025,1,14]],"date-time":"2025-01-14T18:24:38Z","timestamp":1736879078000},"page":"242-262","update-policy":"https:\/\/doi.org\/10.1162\/mitpressjournals.corrections.policy","source":"Crossref","is-referenced-by-count":4,"title":["How
        open are hybrid journals included in transformative agreements?"],"prefix":"10.1162","volume":"6","author":[{"ORCID":"https:\/\/orcid.org\/0000-0001-5105-1463","authenticated-orcid":true,"given":"Najko","family":"Jahn","sequence":"first","affiliation":[{"name":"G\u00f6ttingen
        State and University Library, University of G\u00f6ttingen, G\u00f6ttingen,
        Germany"}]}],"member":"281","published-online":{"date-parts":[[2025,3,12]]},"reference":[{"issue":"8","key":"2025032610360375100_bib1","doi-asserted-by":"publisher","first-page":"6761","DOI":"10.1007\/s11192-021-04059-x","article-title":"Publication
        patterns\u2019 changes due to the COVID-19 pandemic: A longitudinal and short-term
        scientometric analysis","volume":"126","author":"Aviv-Reuven","year":"2021","journal-title":"Scientometrics"},{"volume-title":"The
        Budapest Open Access Initiative: 20th anniversary recommendations","year":"2022","author":"Babini","key":"2025032610360375100_bib2"},{"issue":"4","key":"2025032610360375100_bib3","doi-asserted-by":"publisher","first-page":"67","DOI":"10.23974\/ijol.2024.vol8.4.341","article-title":"Impact
        of transformative agreements on publication patterns: An analysis based on
        agreements from the ESAC registry","volume":"8","author":"Bakker","year":"2024","journal-title":"Internati[...]
