http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3389/fgene.2017.00147
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T13:42:10Z","timestamp":1648820530376},"reference-count":22,"publisher":"Frontiers
        Media SA","funder":[{"DOI":"10.13039\/501100001824","name":"Grantov\u00e1
        Agentura \u010cesk\u00e9 Republiky","doi-asserted-by":"publisher","award":["GA15-00885S"]},{"award":["LM2015047"]}],"content-domain":{"domain":["frontiersin.org"],"crossmark-restriction":true},"short-container-title":["Front.
        Genet."],"DOI":"10.3389\/fgene.2017.00147","type":"journal-article","created":{"date-parts":[[2017,10,10]],"date-time":"2017-10-10T04:14:18Z","timestamp":1507608858000},"update-policy":"http:\/\/dx.doi.org\/10.3389\/crossmark-policy","source":"Crossref","is-referenced-by-count":2,"title":["An
        Algorithm for Template-Based Prediction of Secondary Structures of Individual
        RNA Sequences"],"prefix":"10.3389","volume":"8","author":[{"given":"Josef","family":"P\u00e1nek","sequence":"first","affiliation":[]},{"given":"Martin","family":"Modr\u00e1k","sequence":"additional","affiliation":[]},{"given":"Marek","family":"Schwarz","sequence":"additional","affiliation":[]}],"member":"1965","published-online":{"date-parts":[[2017,10,10]]},"reference":[{"key":"B1","doi-asserted-by":"publisher","first-page":"D163","DOI":"10.1093\/nar\/gkj142","article-title":"The
        tmRDB and SRPDB resources","volume":"34","author":"Andersen","year":"2006","journal-title":"Nucleic
        Acids Res"},{"key":"B2","doi-asserted-by":"publisher","first-page":"1974","DOI":"10.1093\/bioinformatics\/btp250","article-title":"VARNA:
        interactive drawing and editing of the RNA secondary structure","volume":"25","author":"Darty","year":"2009","journal-title":"Bioinformatics"},{"key":"B3","doi-asserted-by":"publisher","first-page":"D136","DOI":"10.1093\/nar\/gkn766","article-title":"Rfam:
        updates to the RNA families database","volume":"37","author":"Gardner","year":"2009","journal-title":"Nucleic
        Acids Res"},{"key":"B4","doi-asserted-by":"publisher","first-page":"140","DOI":"10.1186\/1471-2105-5-140","article-title":"A
        comprehensive comparison of comparative RNA structure prediction approaches","volume":"5","author":"Gardner","year":"2004","journal-title":"BMC
        Bioinformatics"},{"key":"B5","doi-asserted-by":"crossref","volume-title":"RNA
        Sequence, Structure, and Function Computational and Bioinformatic Methods","author":"Gorodkin","year":"2014","DOI":"10.1007\/978-1-62703-709-9"},{"key":"B6","doi-asserted-by":"publisher","first-page":"301","DOI":"10.1016\/S0959-440X(02)00339-1","article-title":"The
        accuracy of ribosomal RNA comparative structure models","volume":"12","author":"Gutell","year":"2002","journal-title":"Curr.
        Opin. Struct. Biol."},{"key":"B7","doi-asserted-by":"publisher","first-page":"i3[...]
