http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=science&select=DOI%2Ctitle
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":8570855,"items":[{"DOI":"10.1126\/science.caredit.a1300244","title":["Science
        Careers in India"]},{"DOI":"10.7551\/mitpress\/9755.003.0003","title":["Unsettling
        Science"]},{"DOI":"10.1126\/science.1174131","title":["Science\n            for
        Science"]},{"DOI":"10.1126\/science.caredit.a1300194","title":["Elsewhere
        in Science Index"]},{"DOI":"10.5749\/j.ctt189tts8.2","title":["Science Fiction
        and Extro-Science Fiction"]},{"DOI":"10.1093\/oso\/9780190690649.003.0007","title":["Philosophy
        of Science and Science Studies"]},{"DOI":"10.1126\/science.caredit.a1300099","title":["When
        All Science Becomes Data Science"]},{"DOI":"10.1126\/science.caredit.a0700148","title":["Experiences
        of Ethnic Minorities in Science: Resources"]},{"DOI":"10.4324\/9780203125878-7","title":["Introduction:
        Science Education and Science Studies"]},{"DOI":"10.1126\/science.caredit.a0800074","title":["Science
        Careers Podcast Index"]},{"DOI":"10.1017\/9781108610834.029","title":["Last
        Thought: All the Science of Science"]},{"DOI":"10.1093\/obo\/9780199756223-0095","title":["Science
        and Democracy"]},{"DOI":"10.7551\/mitpress\/9755.003.0005","title":["Values
        Everywhere within Science"]},{"DOI":"10.1002\/scin.5591820702","title":["Science
        notebook"]},{"DOI":"10.1002\/scin.5591831102","title":["Science notebook"]},{"DOI":"10.1002\/scin.5591820202","title":["Science
        notebook"]},{"DOI":"10.1126\/science.caredit.a1400310","title":["More science
        doctorates, fewer post-doctorate science jobs"]},{"DOI":"10.1126\/science.caredit.a1500165","title":["Leaving
        science for science writing"]},{"DOI":"10.1126\/science.caredit.a0900139","title":["The
        Audacity in Science Series"]},{"DOI":"10.4324\/9780203047842-8","title":["Social
        Science as Science"]}],"items-per-page":20,"query":{"start-index":0,"search-terms":"science"}}}'
  recorded_at: 2021-08-17 17:54:25 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
