http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-full-text%3Afalse&rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":38835283,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:08:20Z","timestamp":1648562900325},"reference-count":0,"publisher":"AICIT","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JDCTA"],"published-print":{"date-parts":[[2012,1,31]]},"DOI":"10.4156\/jdcta.vol6.issue1.50","type":"journal-article","created":{"date-parts":[[2012,2,10]],"date-time":"2012-02-10T09:50:00Z","timestamp":1328867400000},"page":"413-420","source":"Crossref","is-referenced-by-count":1,"title":["Application
        of Image Fusion in Intelligent Transport System"],"prefix":"10.4156","volume":"6","author":[{"given":"Xuewen
        Ding","family":"-","sequence":"first","affiliation":[]},{"given":"Guangquan
        Xu","family":"-","sequence":"additional","affiliation":[]},{"given":"Zengmin
        Wang","family":"-","sequence":"additional","affiliation":[]},{"given":"JiapengWu","family":"-","sequence":"additional","affiliation":[]},{"given":"Aiping
        Yang","family":"-","sequence":"additional","affiliation":[]},{"given":"Zhaojun
        Xue","family":"-","sequence":"additional","affiliation":[]}],"member":"2647","container-title":["International
        Journal of Digital Content Technology and its Applications"],"deposited":{"date-parts":[[2012,2,10]],"date-time":"2012-02-10T09:51:17Z","timestamp":1328867477000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/www.aicit.org\/jdcta\/global\/paper_detail.html?jname=JDCTA&q=924"}},"issued":{"date-parts":[[2012,1,31]]},"references-count":0,"journal-issue":{"issue":"1","published-print":{"date-parts":[[2012,1,31]]}},"URL":"http:\/\/dx.doi.org\/10.4156\/jdcta.vol6.issue1.50","ISSN":["1975-9339","2233-9310"],"issn-type":[{"value":"1975-9339","type":"print"},{"value":"2233-9310","type":"electronic"}],"subject":["Computer
        Networks and Communications","Software"],"published":{"date-parts":[[2012,1,31]]}},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:08:20Z","timestamp":1648562900731},"reference-count":0,"publisher":"Informa
        UK Limited","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Geological Education"],"published-print":{"date-parts":[[1988,5]]},"DOI":"10.5408\/0022-1368-36.3.155","type":"journal-article","created":{"date-parts":[[2016,9,1]],"date-time":"2016-09-01T18:37:01Z","timestamp":1472755021000},"page":"155-156","source":"Crossref","is-referenced-by-count":9,"title":["Petrogenetic
        Modeling with a Spreadsheet Program"],"prefix":"10.5408","volume":"36","author":[{"given":"Paul
        Eric","family":"Holm","sequence":"first","affiliation":[]}],"member":"301","container-title":["Journal
        of Geological Education"],"language":"en","deposited":{"date-parts":[[2016,9,1]],"date-time":"2016-09-01T18:37:02Z","timestamp":1472755022000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/nagt-jge.org\/doi\/10.5408\/0022-1368-36.3.155"}},"issued":{"date-parts":[[1988,5]]},"references-count":0,"journal-issue":{"issue":"3","published-print":{"date-parts":[[1988,5]]}},"alternative-id":["10.5408\/0022-1368-36.3.155"],"URL":"http:\/\/dx.doi.org\/10.5408\/0022-1368-36.3.155","ISSN":["0022-1368"],"issn-type":[{"value":"0022-1368","type":"print"}],"subject":["General
        Earth and Planetary Sciences","General Environmental Science"],"published":{"date-parts":[[1988,5]]}},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:08:21Z","timestamp":1648562901189},"reference-count":0,"publisher":"Natural
        Resources Canada\/CMSS\/Information Management","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1964]]},"DOI":"10.4095\/110861","type":"report","created":{"date-parts":[[2015,4,22]],"date-time":"2015-04-22T11:58:30Z","timestamp":1429703910000},"source":"Crossref","is-referenced-by-count":0,"title":["Fargey
        Creek, Manitoba"],"prefix":"10.4095","author":[{"name":"Geological Survey
        of Canada","sequence":"first","affiliation":[]}],"member":"2571","deposited":{"date-parts":[[2019,10,25]],"date-time":"2019-10-25T13:39:07Z","timestamp":1572010747000},"score":1.0,"resource":{"primary":{"URL":"https:\/\/geoscan.nrcan.gc.ca\/starweb\/geoscan\/servlet.starweb?path=geoscan\/fulle.web&search1=R=110861"}},"issued":{"date-parts":[[1964]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4095\/110861","published":{"date-parts":[[1964]]}}],"items-per-page":3,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: 2022-11-09 12:35:27 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-full-text%3Atrue&rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":100543092,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:08:19Z","timestamp":1648562899916},"reference-count":0,"publisher":"Wiley","issue":"5","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":18627,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Acta
        Paediatrica"],"published-print":{"date-parts":[[1964,9]]},"DOI":"10.1111\/j.1651-2227.1964.tb07256.x","type":"journal-article","created":{"date-parts":[[2008,1,21]],"date-time":"2008-01-21T18:53:47Z","timestamp":1200941627000},"page":"482-482","source":"Crossref","is-referenced-by-count":0,"title":["Nils
        Ros\u00e9n von Rosenstein and His Textbook of P\u00e6diatrics"],"prefix":"10.1111","volume":"53","author":[{"given":"BO","family":"VAHLQUIST","sequence":"first","affiliation":[]},{"given":"ARVID","family":"WALLGREN","sequence":"additional","affiliation":[]}],"member":"311","container-title":["Acta
        Paediatrica"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1111%2Fj.1651-2227.1964.tb07256.x","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/onlinelibrary.wiley.com\/wol1\/doi\/10.1111\/j.1651-2227.1964.tb07256.x\/fullpdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,7,5]],"date-time":"2021-07-05T23:30:51Z","timestamp":1625527851000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/10.1111\/j.1651-2227.1964.tb07256.x"}},"issued":{"date-parts":[[1964,9]]},"references-count":0,"journal[...]
