http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515/crelle-2013-0024
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2021,5,12]],"date-time":"2021-05-12T04:52:09Z","timestamp":1620795129082},"reference-count":0,"publisher":"Walter
        de Gruyter GmbH","issue":"700","funder":[{"name":"NSF","award":["DMS-0800084"]},{"name":"NSF","award":["DMS-1206661"]},{"name":"NSF","award":["DMS-0804042"]},{"name":"NSF","award":["DMS-1105187"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2015,1,1]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>We
        investigate rigidity and stability properties of critical points of quadratic
        curvature functionals on the space of Riemannian metrics. We show it is possible
        to \u201cgauge\u201d the Euler\u2013Lagrange equations, in a self-adjoint
        fashion, to become elliptic. Fredholm theory may then be used to describe
        local properties of the moduli space of critical metrics. We show a number
        of compact examples are infinitesimally rigid, and consequently, are isolated
        critical points in the space of unit-volume Riemannian metrics. We then give
        examples of critical metrics which are strict local minimizers (up to diffeomorphism
        and scaling). A corollary is a local \u201creverse Bishop''s inequality\u201d
        for such metrics. In particular, any metric<\/jats:p>","DOI":"10.1515\/crelle-2013-0024","type":"journal-article","created":{"date-parts":[[2013,5,30]],"date-time":"2013-05-30T20:40:52Z","timestamp":1369946452000},"source":"Crossref","is-referenced-by-count":3,"title":["Rigidity
        and stability of Einstein metrics for quadratic curvature functionals"],"prefix":"10.1515","volume":"2015","author":[{"given":"Matthew
        J.","family":"Gursky","sequence":"first","affiliation":[]},{"given":"Jeff
        A.","family":"Viaclovsky","sequence":"additional","affiliation":[]}],"member":"374","container-title":["Journal
        f\u00fcr die reine und angewandte Mathematik (Crelles Journal)"],"original-title":[],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/crelle-2013-0024\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,4,21]],"date-time":"2021-04-21T21:47:03Z","timestamp":1619041623000},"score":1,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015,1,1]]},"references-count":0,"journal-issue":{"issue":"700"},"URL":"http:\/\/dx.doi.org\/10.1515\/crelle-2013-0024","relation":{},"ISSN":["0075-4102","1435-5345"],"issn-type":[{"value":"0075-4102","type":"print"},{"value":"1435-5345","type":"electronic"}],"subject":["Applied
        Mathematics","General Mathematics"],"published":{"date-parts":[[2015,1,1]]}}}'
  recorded_at: 2021-08-13 13:02:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/works/10.1186/isrctn11093872
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-ratelimit-limit: '50'
      x-ratelimit-interval: 1s
      x-api-pool: public
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"ISRCTN","place":["London,
        UK"]}],"indexed":{"date-parts":[[2021,5,10]],"date-time":"2021-05-10T12:42:28Z","timestamp":1620650548811},"reference-count":0,"publisher":"Springer
        Science and Business Media LLC","funder":[{"DOI":"10.13039\/501100000272","name":"National
        Institute for Health Research","doi-asserted-by":"publisher"}],"content-domain":{"domain":["www.isrctn.com"],"crossmark-restriction":true},"short-container-title":[],"DOI":"10.1186\/isrctn11093872","type":"dataset","created":{"date-parts":[[2015,11,11]],"date-time":"2015-11-11T07:20:04Z","timestamp":1447226404000},"update-policy":"http:\/\/dx.doi.org\/10.1186\/isrctn_crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["CapaCiTY
        Study 2 - Chronic Constipation Treatment Pathway"],"prefix":"10.1186","author":[{"given":"Shiva","family":"Taheri","sequence":"first","affiliation":[]}],"member":"297","content-created":{"date-parts":[[2015,11,11]]},"container-title":["http:\/\/isrctn.com\/"],"original-title":[],"deposited":{"date-parts":[[2015,11,11]],"date-time":"2015-11-11T07:20:06Z","timestamp":1447226406000},"score":1,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015,11,11]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1186\/isrctn11093872","relation":{},"published":{"date-parts":[[2015,11,11]]}}}'
  recorded_at: 2021-08-13 13:02:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
