http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=NSF
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":94959,"items":[{"indexed":{"date-parts":[[2022,4,6]],"date-time":"2022-04-06T21:26:43Z","timestamp":1649280403465},"reference-count":45,"publisher":"Elsevier
        BV","issue":"2","license":[{"start":{"date-parts":[[2018,3,1]],"date-time":"2018-03-01T00:00:00Z","timestamp":1519862400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2022,3,1]],"date-time":"2022-03-01T00:00:00Z","timestamp":1646092800000},"content-version":"vor","delay-in-days":1461,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"funder":[{"name":"NSF
        DMS","award":["1521749"]},{"name":"NSF DMS","award":["1516400"]},{"name":"NSF
        DMS","award":["1412428"]},{"name":"NSF DMS","award":["0934630"]},{"name":"NSF
        DMS","award":["1521749"]},{"name":"NSF DMS","award":["1211687"]},{"name":"NSF
        DMS","award":["1211687"]},{"name":"NSF DMS","award":["1521749"]},{"name":"NSF
        DMS","award":["1521749"]},{"name":"NSF DMS","award":["1516400"]},{"name":"NSF
        DMS","award":["1412428"]},{"name":"NSF DMS","award":["0934630"]},{"name":"NSF
        DMS","award":["1521749"]},{"name":"NSF DMS","award":["1211687"]},{"name":"NSF
        DMS","award":["1211687"]},{"name":"NSF DMS","award":["1521749"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Applied
        and Computational Harmonic Analysis"],"published-print":{"date-parts":[[2018,3]]},"DOI":"10.1016\/j.acha.2016.05.001","type":"journal-article","created":{"date-parts":[[2016,5,13]],"date-time":"2016-05-13T22:09:49Z","timestamp":1463177389000},"page":"294-311","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":10,"title":["A
        sharp Balian\u2013Low uncertainty principle for shift-invariant spaces"],"prefix":"10.1016","volume":"44","author":[{"given":"Douglas
        P.","family":"Hardin","sequence":"first","affiliation":[]},{"suffix":"V","given":"Michael
        C.","family":"Northington","sequence":"additional","affiliation":[]},{"given":"Alexander
        M.","family":"Powell","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"issue":"1","key":"10.1016\/j.acha.2016.05.001_br0010","doi-asserted-by":"crossref","first-page":"60","DOI":"10.1007\/s00041-009-9068-y","article-title":"Invariance
        of a shift-invariant space","volume":"16","author":"Aldroubi","year":"2010","journal-title":"J.
        Fourier Anal. Appl."},{"issue":"3","key":"10.1016\/j.acha.2016.05.001_br0020","doi-asserted-by":"crossref","first-page":"337","DOI":"10.1016\/j.acha.2010.09.003","article-title":"Uncertainty
        principles and Balian\u2013Low type theorems in principal shift-invariant
        spaces","volume":"30","author":"Aldroubi","year":"2011","journal-title":"Appl.
        Comput. Harmon. Anal."},{"issue":"4","key":"10.1016\/j.acha.2016.05.001_br0030","doi-asserted-by":"crossref","first-page":"1031","DOI":"10.1007\/s11785-010-0045-x","article-title":"Invariance
        of a shift-invariant space in several variables","volume":"5","author":"Anastasio","year":"2011","journal-title":"Complex
        Anal. Oper. Theory"},{"issue":"7","key":"10.1016\/j.acha.2016.05.001_br0040","doi-asserted-by":"crossref","first-page":"3865","DOI":"10.1090\/S0002-9947-2013-06074-6","article-title":"Dilation
        of the Weyl symbol and Balian\u2013Low theorem","volume":"366","author":"Ascensi","year":"2014","journal-title":"Trans.
        Amer. Math. Soc."},{"key":"10.1016\/j.acha.2016.05.001_br0050","series-title":"Advances
        in Gabor Analysis","first-page":"259","article-title":"Optimal stochastic
        encoding and approximation schemes using Weyl\u2013Heisenberg sets","author":"Balan","year":"2003"},{"issue":"20","key":"10.1016\/j.acha.2016.05.001_br0060","first-page":"1357","article-title":"Un
        principe d''incertitude fort en th\u00e9orie du signal ou en m\u00e9canique
        quantique","volume":"292","author":"Balian","year":"1981","journal-title":"C.
        R. Acad. Sci."},{"key":"1[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=renear%2B-ontologies
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":9268,"items":[{"indexed":{"date-parts":[[2022,11,2]],"date-time":"2022-11-02T05:50:26Z","timestamp":1667368226056},"reference-count":35,"publisher":"American
        Association for the Advancement of Science (AAAS)","issue":"5942","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Science"],"published-print":{"date-parts":[[2009,8,14]]},"abstract":"<jats:title>Strategic
        Reading<\/jats:title>\n          <jats:p>\n            Scanning the scientific
        literature these days is more akin to flicking through TV channels and trying
        to watch everything at once. Often the outcome of the scan will not have located
        any specific paper and it is unlikely to have involved any in-depth reading,
        but it achieves an undefined \u201cassimilation\u201d of knowledge from a
        melange of titles and abstracts, tables, indexes, databases, and figures.\n            <jats:bold>Renear
        and Palmer<\/jats:bold>\n            (p.\n            <jats:related-article
        xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" ext-link-type=\"doi\" page=\"828\"
        related-article-type=\"in-this-issue\" vol=\"325\" xlink:href=\"10.1126\/science.1157784\">828<\/jats:related-article>\n            )
        review how scientists use new forms of the \u201cliterature\u201d and how
        the ascendance of novel computing technologies will combine to revolutionize
        the way scientific data is accessed, synthesized, and turned to practical
        use.\n          <\/jats[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=global%20state&filter=has-orcid%3Atrue&rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polit[...]
