http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-full-text%3Afalse&rows=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":38834841,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:50Z","timestamp":1648648250186},"reference-count":0,"publisher":"Presses
        universitaires de Lyon","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1982]]},"DOI":"10.4000\/books.pul.13932","type":"book-chapter","created":{"date-parts":[[2019,11,7]],"date-time":"2019-11-07T13:56:05Z","timestamp":1573134965000},"page":"21-26","source":"Crossref","is-referenced-by-count":0,"title":["Chapitre
        II. De nouvelles donn\u00e9es administratives\u00a0: le rattachement au Rh\u00f4ne
        et la premi\u00e8re industrialisation"],"prefix":"10.4000","author":[{"given":"Bernard","family":"Meuret","sequence":"first","affiliation":[]}],"member":"2399","container-title":["Le
        Socialisme municipal"],"deposited":{"date-parts":[[2021,8,10]],"date-time":"2021-08-10T04:51:15Z","timestamp":1628571075000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/books.openedition.org\/pul\/13932"}},"issued":{"date-parts":[[1982]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4000\/books.pul.13932","published":{"date-parts":[[1982]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:48Z","timestamp":1648648248982},"reference-count":0,"publisher":"American
        College of Physicians","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ann
        Intern Med"],"published-print":{"date-parts":[[1981,7,1]]},"DOI":"10.7326\/0003-4819-95-1-129_3","type":"journal-article","created":{"date-parts":[[2013,4,12]],"date-time":"2013-04-12T14:41:35Z","timestamp":1365777695000},"page":"129","source":"Crossref","is-referenced-by-count":0,"title":["Herpetic
        Infections of Man."],"prefix":"10.7326","volume":"95","member":"4285","container-title":["Annals
        of Internal Medicine"],"language":"en","deposited":{"date-parts":[[2013,4,12]],"date-time":"2013-04-12T14:41:35Z","timestamp":1365777695000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/annals.org\/article.aspx?doi=10.7326\/0003-4819-95-1-129_3"}},"issued":{"date-parts":[[1981,7,1]]},"references-count":0,"journal-issue":{"issue":"1","published-print":{"date-parts":[[1981,7,1]]}},"URL":"http:\/\/dx.doi.org\/10.7326\/0003-4819-95-1-129_3","ISSN":["0003-4819"],"issn-type":[{"value":"0003-4819","type":"print"}],"subject":["General
        Medicine","Internal Medicine"],"published":{"date-parts":[[1981,7,1]]}},{"institution":[{"name":"American
        Psychological Association","acronym":["APA"]}],"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:49Z","timestamp":1648648249370},"reference-count":0,"publisher":"American
        Psychological Association (APA)","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2007]]},"DOI":"10.1037\/e718982007-001","type":"dataset","created":{"date-parts":[[2013,2,23]],"date-time":"2013-02-23T17:56:36Z","timestamp":1361642196000},"source":"Crossref","is-referenced-by-count":0,"title":["Aloha
        blossoms at state hospital"],"prefix":"10.1037","author":[{"given":"Lance
        I.","family":"Agena","sequence":"first","affiliation":[]}],"member":"15","container-title":["PsycEXTRA
        Dataset"],"deposited":{"date-parts":[[2013,2,23]],"date-time":"2013-02-23T17:57:54Z","timestamp":1361642274000},"score":1.0,"resource":{"primary":{"URL":"http:\/\/doi.apa.org\/get-pe-doi.cfm?doi=10.1037\/e718982007-001"}},"subtitle":["(718982007-001)"],"issued":{"date-parts":[[2007]]},"references-count":0,"alternative-id":["718982007-001"],"URL":"http:\/\/dx.doi.org\/10.1037\/e718982007-001","published":{"date-parts":[[2007]]}},{"institution":[{"name":"Koninklijke
        Brill NV","acronym":["BRILL"]}],"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:50:49Z","timestamp":1648648249442},"reference-count":0,"publisher":"Brill","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1163\/1574-9347_dnp_e12213830","type":"dataset","created":{"date-parts":[[2015,8,11]],"date-time":"2015-[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-full-text%3Atrue&rows=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":100543764,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:08:19Z","timestamp":1648562899916},"reference-count":0,"publisher":"Wiley","issue":"5","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":18627,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Acta
        Paediatrica"],"published-print":{"date-parts":[[1964,9]]},"DOI":"10.1111\/j.1651-2227.1964.tb07256.x","type":"journal-article","created":{"date-parts":[[2008,1,21]],"date-time":"2008-01-21T18:53:47Z","timestamp":1200941627000},"page":"482-482","source":"Crossref","is-referenced-by-count":0,"title":["Nils
        Ros\u00e9n von Rosenstein and His Textbook of P\u00e6diatrics"],"prefix":"10.1111","volume":"53","author":[{"given":"BO","family":"VAHLQUIST","sequence":"first","affiliation":[]},{"given":"ARVID","family":"WALLGREN","sequence":"additional","affiliation":[]}],"member":"311","container-title":["Acta
        Paediatrica"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1111%2Fj.1651-2227.1964.tb07256.x","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/onlinelibrary.wiley.com\/wol1\/doi\/10.1111\/j.1651-2227.1964.tb07256.x\/fullpdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,7,5]],"date-time":"2021-07-05T23:30:51Z","timestamp":1625527851000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/10.1111\/j.1651-2227.1964.tb07256.x"}},"issued":{"date-parts":[[1964,9]]},"references-count":0,"journal[...]
