http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/blblbl
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: text/plain
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: Resource not found.
  recorded_at: 2018-12-07 21:25:27 GMT
  recorded_with: vcr/0.2.0.9101, webmockr/0.2.9.9311
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038/nnano.2014.279
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2018,11,9]],"date-time":"2018-11-09T16:22:38Z","timestamp":1541780558992},"reference-count":12,"publisher":"Springer
        Nature","issue":"1","license":[{"URL":"http:\/\/www.springer.com\/tdm","start":{"date-parts":[[2014,11,10]],"date-time":"2014-11-10T00:00:00Z","timestamp":1415577600000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Nature
        Nanotech"],"published-print":{"date-parts":[[2015,1]]},"DOI":"10.1038\/nnano.2014.279","type":"journal-article","created":{"date-parts":[[2014,11,7]],"date-time":"2014-11-07T14:30:15Z","timestamp":1415370615000},"page":"22-24","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":28,"title":["Charges
        ride the spin wave"],"prefix":"10.1038","volume":"10","author":[{"given":"Timo","family":"Kuschel","sequence":"first","affiliation":[]},{"given":"G\u00fcnter","family":"Reiss","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2014,11,10]]},"reference":[{"key":"nnano.2014.279-b1","author":"Manchon
        A.","volume":"78","first-page":"212405","year":"2008","journal-title":"Phys.
        Rev. B","DOI":"10.1103\/PhysRevB.78.212405","doi-asserted-by":"crossref"},{"key":"nnano.2014.279-b2","author":"Ciccarelli
        C.","volume":"10","first-page":"50","year":"2015","journal-title":"Nature
        Nanotech.","DOI":"10.1038\/nnano.2014.252","doi-asserted-by":"crossref"},{"key":"nnano.2014.279-b3","author":"Dyakonov
        M. I.","volume":"13","first-page":"467","year":"1971","journal-title":"Sov.
        Phys. JETP Lett."},{"key":"nnano.2014.279-b4","author":"Wolf S.","volume":"294","first-page":"1488","year":"2001","journal-title":"Science"[...]
[...]
