http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515/crelle-2013-0024
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T17:46:26Z","timestamp":1648662386775},"reference-count":0,"publisher":"Walter
        de Gruyter GmbH","issue":"700","funder":[{"name":"NSF","award":["DMS-0800084"]},{"name":"NSF","award":["DMS-1206661"]},{"name":"NSF","award":["DMS-0804042"]},{"name":"NSF","award":["DMS-1105187"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2015,1,1]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>We
        investigate rigidity and stability properties of critical points of quadratic
        curvature functionals on the space of Riemannian metrics. We show it is possible
        to \u201cgauge\u201d the Euler\u2013Lagrange equations, in a self-adjoint
        fashion, to become elliptic. Fredholm theory may then be used to describe
        local properties of the moduli space of critical metrics. We show a number
        of compact examples are infinitesimally rigid, and consequently, are isolated
        critical points in the space of unit-volume Riemannian metrics. We then give
        examples of critical metrics which are strict local minimizers (up to diffeomorphism
        and scaling). A corollary is a local \u201creverse Bishop''s inequality\u201d
        for such metrics. In particular, any metric<\/jats:p>","DOI":"10.1515\/crelle-2013-0024","type":"journal-article","created":{"date-parts":[[2013,5,30]],"date-time":"2013-05-30T20:40:52Z","timestamp":1369946452000},"source":"Crossref","is-referenced-by-count":3,"title":["Rigidity
        and stability of Einstein metrics for quadratic curvature functionals"],"prefix":"10.1515","volume":"2015","author":[{"given":"Matthew
        J.","family":"Gursky","sequence":"first","affiliation":[]},{"given":"Jeff
        A.","family":"Viaclovsky","sequence":"additional","affiliation":[]}],"member":"374","container-title":["Journal
        f\u00fcr die reine und angewandte Mathematik (Crelles Journal)"],"original-title":[],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/crelle-2013-0024\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,4,21]],"date-time":"2021-04-21T21:47:03Z","timestamp":1619041623000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/crelle-2013-0024\/html"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015,1,1]]},"references-count":0,"journal-issue":{"issue":"700"},"URL":"http:\/\/dx.doi.org\/10.1515\/crelle-2013-0024","relation":{},"ISSN":["0075-4102","1435-5345"],"issn-type":[{"value":"0075-4102","type":"print"},{"value":"1435-5345","type":"electronic"}],"subject":["Applied
        Mathematics","General Mathematics"],"published":{"date-parts":[[2015,1,1]]}}}'
  recorded_at: 2022-11-09 13:19:16 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/works/10.1186/isrctn11093872
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"ISRCTN","place":["London,
        UK"]}],"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T21:30:00Z","timestamp":1648589400618},"reference-count":0,"publisher":"Springer
        Science and Business Media LLC","funder":[{"DOI":"10.13039\/501100000272","name":"National
        Institute for Health Research","doi-asserted-by":"publisher"}],"content-domain":{"domain":["www.isrctn.com"],"crossmark-restriction":true},"short-container-title":[],"DOI":"10.1186\/isrctn11093872","type":"dataset","created":{"date-parts":[[2015,11,11]],"date-time":"2015-11-11T07:20:04Z","timestamp":1447226404000},"update-policy":"http:\/\/dx.doi.org\/10.1186\/isrctn_crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["CapaCiTY
        Study 2 - Chronic Constipation Treatment Pathway"],"prefix":"10.1186","author":[{"given":"Shiva","family":"Taheri","sequence":"first","affiliation":[]}],"member":"297","content-created":{"date-parts":[[2015,11,11]]},"container-title":["http:\/\/isrctn.com\/"],"original-title":[],"deposited":{"date-parts":[[2015,11,11]],"date-time":"2015-11-11T07:20:06Z","timestamp":1447226406000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.isrctn.com\/ISRCTN11093872"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015,11,11]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1186\/isrctn11093872","relation":{},"published":{"date-parts":[[2015,11,11]]}}}'
  recorded_at: 2022-11-09 13:19:16 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.crossref.org/works/10.1145/2831244.2831252
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T18:51:15Z","timestamp":1648752675139},"publisher-location":"New
        York, New York, USA","reference-count":18,"publisher":"ACM Press","license":[{"start":{"date-parts":[[2015,11,15]],"date-time":"2015-11-15T00:00:00Z","timestamp":1447545600000},"content-version":"vor","delay-in-days":318,"URL":"http:\/\/www.acm.org\/publications\/policies\/copyright_policy#Background"}],"funder":[{"name":"Office
        of Science of the U.S. Department of Energy","award":["DE-AC02-05CH11231"]},{"name":"National
        Science Foundatio","award":["1564647"]},{"name":"National Science Foundation
        award","award":["1561041"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2015]]},"DOI":"10.1145\/2831244.2831252","type":"proceedings-article","created":{"date-parts":[[2015,11,11]],"date-time":"2015-11-11T13:07:06Z","timestamp":1447247226000},"source":"Crossref","is-referenced-by-count":1,"title":["Performance
        evaluation and tuning of BioPig for genomic analysis"],"prefix":"10.1145","author":[{"given":"Lizhen","family":"Shi","sequence":"first","affiliation":[]},{"given":"Zhong","family":"Wang","sequence":"additional","affiliation":[]},{"given":"Weikuan","family":"Yu","sequence":"additional","affiliation":[]},{"given":"Xiandong","family":"Meng","sequence":"additional","affiliation":[]}],"member":"320","reference":[{"key":"key-10.1145\/2831244.2831252-1","unstructured":"1000
        Genomes Project. http:\/\/www.1000genomes.org\/."},{"key":"key-10.1145\/2831244.2831252-2","unstructured":"Apache
        Hadoop. http:\/\/hadoop.apache.org\/."},{"key":"key-10.1145\/2831244.2831252-3","unstructured":"DNA
        Sequencing. https:\/\/en.wikipedia.org\/wiki\/DNA_sequencing."},{"key":"key-10.1145\/2831244.2831252-4","unstructured":"Encode
        Project. https:\/\/www.encodeproject.org\/."},{"key":"key-10.1145\/2831244.2831252-5","unstructured":"Human
        Micro[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.pediatrneurol.2015.06.002
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-l[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.tcs.2015.06.001
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-inter[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.ffa.2015.10.008
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-inter[...]
