http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAgWAw8Fmxkam1HbkpnUWxxbWlCMkxwREpMSFEAAAAAHkEQHhZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAABGuXEMWTzVoX2ZEVS1SWnE4ZHBtX2VLZ2NNZwAAAAAQYy6aFi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ_1khY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAACBYDD0WbGRqbUduSmdRbHFtaUIyTHBESkxIUQ==","total-results":452242,"items":[{"indexed":{"date-parts":[[2022,7,25]],"date-time":"2022-07-25T15:12:20Z","timestamp":1658761940981},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Communication
        is perhaps the most important, but least formally discussed, aspect of current
        ecological research and teaching. The last twenty years has demonstrated that
        this is no longer a viable approach and the rise of climate change research,
        and its concomitant denial, has brought disagreement and outright refusal
        to accept facts to the research community and the wider world. This has, in
        turn, produced a vigorous research community aimed[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&rows=30&cursor=DnF1ZXJ5VGhlbkZldGNoBgAAAAAgWAw8Fmxkam1HbkpnUWxxbWlCMkxwREpMSFEAAAAAHkEQHhZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAABGuXEMWTzVoX2ZEVS1SWnE4ZHBtX2VLZ2NNZwAAAAAQYy6aFi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ_1khY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAACBYDD0WbGRqbUduSmdRbHFtaUIyTHBESkxIUQ%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"DnF1ZXJ5VGhlbkZldGNoBgAAAAAgWAw8Fmxkam1HbkpnUWxxbWlCMkxwREpMSFEAAAAAHkEQHhZxd3ptbnlDVlFrS2ltN0l2dW1uWlJBAAAAABGuXEMWTzVoX2ZEVS1SWnE4ZHBtX2VLZ2NNZwAAAAAQYy6aFi14RFJYanphVGUyczg3YnAzem5lTXcAAAAAEJ_1khY1N1JUNFlBQVR3eVZLRWYwZnFvMkRRAAAAACBYDD0WbGRqbUduSmdRbHFtaUIyTHBESkxIUQ==","total-results":452242,"items":[{"indexed":{"date-parts":[[2022,9,21]],"date-time":"2022-09-21T23:23:58Z","timestamp":1663802638878},"publisher-location":"Chichester,
        UK","reference-count":15,"publisher":"John Wiley & Sons, Ltd","isbn-type":[{"value":"9780470979365","type":"electronic"},{"value":"9780470748343","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1002\/9780470979365.ch1","type":"book-chapter","created":{"date-parts":[[2012,10,8]],"date-time":"2012-10-08T10:32:21Z","timestamp":1349692341000},"page":"1-34","source":"Crossref","is-referenced-by-count":1,"title":["Molecular
        Genetics in Ecology"],"prefix":"10.1002","member":"311","published-online":{"date-parts":[[2012,10,8]]},"reference":[{"key":"10.1002\/9780470979365.ch1-BIB1|cit1","unstructured":""},{"key":"10.1002\/9780470979365.ch1-BIB2|cit2","volume-title":"Molecular
        Evolution","author":"Li","year":"1997"},{"key":"10.1002\/9780470979365.ch1-BIB3|cit3","volume-title":"PCR
        (The Basics)","author":"McPherson","year":"2006"},{"key":"10.1002\/9780470979365.ch1-BIB4|cit4","volume-title":"Genetics
        Essentials: Concepts and Connections","author":"Pierce","year":"2010"},{"key":"10.1002\/9780470979365.ch1-BIB5|cit5","volume-title":"Real-Time
        PCR: Current Technology and Applications","author":"Logan","year":"2009"},{"key":"10.1002\/9780470979365.ch1-BIB6|cit6","volume-title":"Genome
        Sequencing Technology and Algorithms","author":"Kim","year":"2007"},{"key":"10.1002\/9780470979365.ch1-BIB7|cit7","volume-title":"DNA:
        Fingerprinting, Sequencing and Chips","author":"Ovesen","year":"2009"},{"key":"10.1002\/9780470979365.ch1-BIB8|cit8","unstructured":""},{"key":"10.1002\/9780470979365.ch1-BIB9|cit9","doi-asserted-by":"crossref","first-page":"1279","DOI":"10.1111\/j.1755-0998.2009.02699.x","article-title":"Advancing
        ecological understandings through technological transformations in noninvasive
        genetics","volume":"9","author":"Beja-Pereira","year":"2009","journal-title":"Molecular
        Ecology Resources"},{"key":"10.1002\/9780470979365.ch1-BIB10|cit10","doi-asserted-by":"crossref","first-page":"602","DOI":"10.1016\/j.tibtech.2008.07.003","article-title":"Single
        molecule DNA sequencing technologies for future genomics research.","volume":"26","author":"Gupta","year":"2008","journal-title":"Trends
        in Biotechnology"},{"key":"10.1002\/9780470979365.ch1-BIB11|cit11","doi-asserted-by":"crossref","first-page":"598","DOI":"10.2193\/2007-156","article[...]
[...]
