http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=NSF&rows=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ9wPbg4eICPwhodHRwOi8vZHguZG9pLm9yZy8xMC4xMDkzL2Jlc2EvMTcuMy4xNjY=","total-results":38191,"items":[{"indexed":{"date-parts":[[2018,4,13]],"date-time":"2018-04-13T05:37:29Z","timestamp":1523597849366},"reference-count":25,"publisher":"American
        Geophysical Union (AGU)","issue":"3","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":549,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/100000104","name":"National
        Aeronautics and Space Administration","doi-asserted-by":"crossref","award":["NNX12AD18G
        S01"]},{"name":"NSF","award":["ATM-0802715"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Geophys. Res. Space Physics"],"published-print":{"date-parts":[[2014,3]]},"DOI":"10.1002\/2013ja019427","type":"journal-article","created":{"date-parts":[[2014,2,6]],"date-time":"2014-02-06T09:14:51Z","timestamp":1391678091000},"page":"1549-1562","source":"Crossref","is-referenced-by-count":2,"title":["Dawn-dusk
        asymmetry in solar wind ion entry and dayside precipitation: Results from
        large-scale simulations"],"prefix":"10.1029","volume":"119","author":[{"given":"J.","family":"Berchem","sequence":"first","affiliation":[{"name":"IGPP
        and Department of Physics and Astronomy; University of California; Los Angeles
        California USA"}]},{"given":"R.","family":"Richard","sequence":"additional","affiliation":[{"name":"IGPP
        and Department of Physics and Astronomy; University of California; Los Angeles
        California USA"}]},{"given":"P.","family":"Escoubet","sequence":"additional","affiliation":[{"name":"ESTEC,
        ESA; Noordwijk Netherlands"}]},{"given":"S.","family":"Wing","sequence":"additional","affiliation":[{"name":"Applied
        Physics Laboratory; Johns Hopkins University; Laurel Maryland USA"}]},{"given":"F.","family":"Pitout","sequence":"additional","affiliation":[{"name":"UPS-OMP;
        IRAP; Universit\u00e9 de Toulouse; Toulouse France"},{"name":"CNRS; IRAP;
        Toulouse France"}]}],"member":"13","published-online":{"date-parts":[[2014,3,1]]},"reference":[{"key":"10.1002\/2013JA019427-BIB0001|jgra50857-cit-0001","author":"Berchem","first-page":"205","year":"1995","series-title":"Geophys.
        Monogr. Ser.","volume-title":"Physics of the Magnetopause","DOI":"10.1029\/GM090p0205","doi-asserted-by":"crossref"},{"key":"10.1002\/2013JA019427-BIB0002|jgra50857-cit-0002","author":"Berchem","volume":"113","year":"2008","article-title":"Reconnection
        at the dayside magnetopause: Comparisons of global MHD simulation results
        with Cluster and Double Star observations","journal-title":"J. Geophys. Res.","DOI":"10.1029\/2007JA012743","doi-asserted-by":"publisher"},{"issue":"A2","key":"10.1002\/2013JA019427-BIB0003|jgra50857-cit-0003","doi-asserted-by":"crossref","first-page":"1577","DOI":"10.1029\/JA090iA02p01577","article-title":"IMF
        By-dependent plasma flow and Birkeland currents in the dayside magnetosphere,
        1, Dynamics Explorer observations","volume":"90","author":"Burch","year":"1985","journal-title":"J.
        Geophys. Res."},{"key":"10.1002\/2013JA01942[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=NSF&rows=100&cursor=AoJ9wPbg4eICPwhodHRwOi8vZHguZG9pLm9yZy8xMC4xMDkzL2Jlc2EvMTcuMy4xNjY%3D
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.2 crul/0.6.1.9100 rOpenSci(rcrossref/0.8.5.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      co[...]
