http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=science&select=DOI%2Ctitle
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.3 rOpenSci(rcrossref/1.1.0.99) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: ''
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10001855,"items":[{"DOI":"10.1093\/obo\/9780199363445-0133","title":["Citizen
        Science"]},{"DOI":"10.1126\/science.10.1126\/science.291.5501.27f","title":["Boosting
        Science"]},{"DOI":"10.1126\/science.caredit.a1300244","title":["Science Careers
        in India"]},{"DOI":"10.1017\/cbo9781107252950.029","title":["Science and Reality"]},{"DOI":"10.1093\/oso\/9780190690649.003.0007","title":["Philosophy
        of Science and Science Studies"]},{"DOI":"10.1002\/(issn)2691-1078","title":["Crop
        Science, Soil Science, Agronomy News"]},{"DOI":"10[...]
