http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&rows=30&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4.9100 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ8pI3j8egCPzBodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyLyhzaWNpKTEyMzQtOTg3eCgxOTk2MDcpOTo0PDEzNTo6YWlkLW1laDQyMj4zLjMuY287Mi0j","total-results":346807,"items":[{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:02:02Z","timestamp":1550005322661},"reference-count":0,"publisher":"Wiley","issue":"2","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":6028,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Land
        Degrad. Dev."],"published-print":{"date-parts":[[1999,3]]},"DOI":"10.1002\/(sici)1099-145x(199903\/04)10:2<179::aid-ldr317>3.0.co;2-s","type":"journal-article","created":{"date-parts":[[2002,9,11]],"date-time":"2002-09-11T01:03:35Z","timestamp":1031706215000},"page":"179-179","source":"Crossref","is-referenced-by-count":0,"title":["Book
        review: Misreading the African Landscape: Society and Ecology in a Forest-savanna
        Mosaic. J. Fairhead & M. Leach, Cambridge University Press, Cambridge, 1996.
        ISBN 0-521-56499-9, \u00a316\u00b795 (paperback); 0-521-56353-4, \u00a350\u00b700
        (hardback), xviii + 354 pp."],"prefix":"10.1002","volume":"10","author":[{"given":"M.","family":"Stocking","sequence":"first","affiliation":[]}],"member":"311","container-title":["Land
        Degradation & Development"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2F(SICI)1099-145X(199903%2F04)10:2%3C179::AID-LDR317%3E3.0.CO;2-S","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/full\/10.1002\/(SICI)1099-145X(199903\/04)10:2%3C179::AID-LDR317%3E3.0.CO;2-S","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,8,4]],"date-time":"2018-08-04T17:34:48Z","timestamp":1533404088000},"score":4.0860887,"issued":{"date-parts":[[1999,3]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1999,3]]},"issue":"2"},"URL":"http:\/\/dx.doi.org\/10.1002\/(sici)1099-145x(199903\/04)10:2<179::aid-ldr317>3.0.co;2-s","ISSN":["1085-3278","1099-145X"],"issn-type":[{"value":"1085-3278","type":"print"},{"value":"1099-145X","type":"electronic"}]},{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:02:13Z","timestamp":1550005333985},"reference-count":0,"publisher":"Wiley","issue":"1-3","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":6087,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Regul.
        Rivers: Res. Mgmt."],"published-print":{"date-parts":[[1999,1]]},"DOI":"10.1002\/(sici)1099-1646(199901\/06)15:1\/3<271::aid-rrr541>3.0.co;2-m","type":"journal-article","created":{"date-parts":[[2002,9,10]],"date-time":"2002-09-10T20:45:03Z","timestamp":1031690703000},"page":"271-271","source":"Crossref","is-referenced-by-count":0,"title":["Eighth
        international symposium on the ecology of regulated streams"],"prefix":"10.1002","volume":"15","author":[{"given":"P.","family":"Auriol","sequence":"first","affiliation":[]},{"given":"H.","family":"Decamps","sequence":"additional","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2001]]},"container-title":["Regulated
        Rivers: Research & Management"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1002%2F(SICI)1099-1646(199901%2F06)15:1%2F3%3C271::AID-RRR541%3E3.0.CO;2-M","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/full\/10.1002\/(SICI)1099-1646(199901\/06)15:1\/3%3C271::AID-RRR541%3E3.0.CO;2-M","content-type":[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&rows=30&cursor=AoJ8pI3j8egCPzBodHRwOi8vZHguZG9pLm9yZy8xMC4xMDAyLyhzaWNpKTEyMzQtOTg3eCgxOTk2MDcpOTo0PDEzNTo6YWlkLW1laDQyMj4zLjMuY287Mi0j
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4.9100 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follow[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&rows=30&cursor=AoJ42a7j8egCPwxodHRwOi8vZHguZG9pLm9yZy8xMC4xMDA3L3MxMTI1OC0wMTMtMDE3NC0x
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.4.9100 rOpenSci(rcrossref/0.9.0.9110) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"next-cursor":"AoJ0\/tHj8egCPwRodHRwOi8vZHguZG9pLm9yZy8xMC4zMzU0L21lcHMxMDI4Nw==","total-results":346807,"items":[{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:12:05Z","timestamp":1550005925312},"reference-count":0,"publisher":"Intellect","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["explorations
        in media ecology"],"published-print":{"date-parts":[[2012,3,1]]},"DOI":"10.1386\/eme.11.1.7_1","type":"journal-article","created":{"date-parts":[[2013,1,29]],"date-time":"2013-01-29T11:19:31Z","timestamp":1359458371000},"page":"7-25","source":"Crossref","is-referenced-by-count":4,"title":["Posthuman
        visions: Creating the technologized body"],"prefix":"10.1386","volume":"11","author":[{"given":"Brett","family":"Lunceford","sequence":"first","affiliation":[]}],"member":"358","container-title":["Explorations
        in Media Ecology"],"language":"en","deposited":{"date-parts":[[2014,8,29]],"date-time":"2014-08-29T00:06:59Z","timestamp":1409270819000},"score":7.2266254,"issued":{"date-parts":[[2012,3,1]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2012,3,1]]},"issue":"1"},"alternative-id":["1539-7785(20120301)11:1L.7;1-"],"URL":"http:\/\/dx.doi.org\/10.1386\/eme.11.1.7_1","ISSN":["1539-7785","2048-0717"],"issn-type":[{"value":"1539-7785","type":"print"},{"value":"2048-0717","type":"electronic"}]},{"indexed":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T21:12:05Z","timestamp":1550005925314},"reference-count":0,"publisher":"Intellect","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["explorations
        in media ecology"],"pub[...]
