http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.4018/978-1-4666-9588-7.les2
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(rcrossref/1.1.0.94) (mailto:<crossref_email>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
      x-api-pool: polite
      x-rate-limit-interval: 1s
      x-rate-limit-limit: '50'
      x-ratelimit-interval: 1s
      x-ratelimit-limit: '50'
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2021,5,10]],"date-time":"2021-05-10T12:39:15Z","timestamp":1620650355243},"reference-count":0,"publisher":"IGI
        Global","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.4018\/978-1-4666-9588-7.les2","type":"book-chapter","created":{"date-parts":[[2015,11,10]],"date-time":"2015-11-10T19:02:33Z","timestamp":1447182153000},"page":"525-916","source":"Crossref","is-referenced-by-count":0,"title":["\"Racial
        Epithet\""],"prefix":"10.4018","author":[{"given":"Nicholas D.","family":"Hartlep","sequence":"first","affiliation":[{"name":"Illinois
        State University, USA"}]}],"member":"2432","container-title":["Impact of the
        Model Minority Stereotype on Modern Society"],"original-title":[],"deposited":{"date-parts":[[2015,11,10]],"date-time":"2015-11-10T19:02:33Z","timestamp":1447182153000},"score":1,"subtitle":[""],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4018\/978-1-4666-9588-7.les2","relation":{}}}'
  recorded_at: 2021-08-17 17:54:25 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
